@import "..//partials/_nav-base-desktops";
/*SECTION ABOVE MOBILE PHONES - TABLET  - LANDSCAPE -  >1920px */
@media (min-width: 1920px) {
	.projects-overlay {
	} //end projects-overlay

	//NOTE: Design variant: For Projects page. Needed to bring the logo link more forward so it could be clicked on to trigger the page transition animation and hyper linking.
	#logo.dtlink {
		//NOTE: Already has a position property set from the nav-base-desktops partial file import. So just adjusting the z-index here building on top of that.
		z-index: 9;
	}

	.main-container {
		//NOTE: design variant: resetting the main container height to the default.
		top: 0px;
	} //end main-container

	body {
		//NOTE: UI/UX: ANIMATION & TRANSITIONS: 1 - Page Background Image - Reveal effect
		background-image: none; // set the inital state of the property 	- for animation
		opacity: 0; // set the inital state of the property - for animation
		background-color: #000000;
		animation: bg-reveal 0.5s ease-in forwards;

		.page-container {
			background: url("/img/img-desktop-l/desktop-ps-bg-alt1.png");
			/*Using the  !important flag to overide the assignment of the background images for the diffrent veiwport variants of the design.*/
			@include pageContainer;

			.page__surface {
				@include pageSurface;
			} //end page__surface
		} //end page-continer

		.page-flipped {
			transform: translateX(0.5%) rotateY(90deg);
		}


		.mainnav__links {
			top: 26px;
			left: 698px;

			a {
				margin-top: 0px;
				margin-bottom: 0px;
				padding: 0px;
			} //end mainnav__links a

		
	

		

			//NOTE: MN-TOP-NAV-LINK - UI/UX: HOVER STATE
			//===================================

			.mainnav__links-link-container {
				@include mainnav__links-link-container;
				//NOTE: Top Nav links  UI/UX additions:
				/*Hover state changes */
				.mainnav__links-link__href {
					@include mainnav__links-link__href;
				} //end mainnav__links-link__href


				.mainnav__links-link__href:after {
					@include mainnav__links-link__href-after;
				} //end mainnav__links-link__href:after

				.mainnav__links-link__href:hover {
					@include mainnav__links-link__href-hover;
				} //end mainnav__links-link__href:hover

				

				.mainnav__links-link__href:hover:after {
					@include mainnav__links-link__href-hover-after;
				} //end mainnav__links-link__href

				.mainnav__links-link__text {
					@include mainnav__links-link__text;
				} //end mainnav__links-link__text

				
			} //end mainnav__links-link-container

			.mainnav__links-link-container:hover {
				position: relative;
				top: -28px; // 2px offset upwards to give a look of the link being raised once hovered over. the adjustment on the link is -26px so adding 2px more when hovered.

				filter: drop-shadow(0px 2.5px rgba(0, 0, 0, 0.221));
				/* Two length values and a color */
				/* drop-shadow( <length> <length> <color> ) */
			} //end mainnav__links-link-container:hover


			
				
		} //end mainnav__links



		.main-container {

			//NOTE: Design variant
			// background-image: url("/img/img-desktop-l/desktop-ps-bg.png");

			.show-box {
				.show-box__title {
					//NOTE: Design variant
					font-size: $text2X-81; //45px;
				}
				.show-box__subtitle {
					//NOTE: Design variant: instansiated on large viewports.
					display: block !important;
					font-size: $text2x-18; //35px;
				}
				.show-box__text {
					//NOTE: Design variant
					top: -80px;
					font-size: $text1X-25; //20px;
				} //end show-box__text
			} //end show-box

			#show-box-1,
			#show-box-2,
			#show-box-3 {
				//NOTE: design variant
				width: 488px;
				height: 490px;
				opacity: 0.95;
			} //end show-box-group styles

			#show-box-1 {
				//NOTE: design variant
				background-image: url("/img/img-desktop-l/desktop-ps-natours-bg.png");

				//NOTE: Added the overlay to help strengthen the contrast of the text against the background image
				.show-box__overlay {
					@include showBoxOverlay;

					//NOTE: design variant
					width: 488px;
					height: 490px;
				} //end show-box__overlay


				//NOTE: UI/UX ANIMATION & TRANSITIONS: 12 - Project Card Basic Reveal
				opacity: 0;// set the inintal state of the project show boxes visbility for animation
				animation: project-card-reveal 1s linear 3s forwards;
			} //end show-box-1

			#show-box-2 {
				//NOTE: design variant
				// Scales since its an svg image.
				.show-box__overlay {
					@include showBoxOverlay;
					//NOTE: design variant
					width: 488px;
					height: 490px;
				} //end show-box__overlay


				//NOTE: UI/UX ANIMATION & TRANSITIONS: 12 - Project Card Basic Reveal
				opacity: 0;// set the inintal state of the project show boxes visbility for animation
				animation: project-card-reveal 0.7s linear 3.3s forwards;
			} //end show-box-2

			#show-box-3 {
				//NOTE: design variant
				background-image: url("/img/img-desktop-l/desktop-ps-beam-bg.png");
				.show-box__overlay {
					@include showBoxOverlay;
					//NOTE: design variant
					width: 488px;
					height: 490px;
				} //end show-box__overlay


				//NOTE: UI/UX ANIMATION & TRANSITIONS: 12 - Project Card Basic Reveal
				opacity: 0;// set the inintal state of the project show boxes visbility for animation
				animation: project-card-reveal 0.5s linear 3.5s forwards;
			} //end show-box-3












			//specific placement for lower nav elements:
			.lower-nav-container{
				display: flex !important;
				right: 806px;
				bottom: 40px;
				width: 300px; //NOTE: prevents the horizontal scroll bars issue from before. Define an area which the conatiner should occupy on the page. 
			
				position: fixed;
				flex-direction: column;
				align-items: center;
				z-index: 13;

				.nav-chevrons {
                    position: relative; // NOTE: Relative to the parent lower-nav-container div.
                    top: -18px;
                    right: 5px;


                    .left-chev {

						.dtlink.low-nav-a-left{
					
							img{
								//NOTE: same issues as when adding the anchor links in the top menu. The inner most elment's event propagation was blocking the wrapping anchor link tag. Therefore needed to turn it's default event propagation behavior off with pointer events: none.
								pointer-events: none;
							} //end img  
						} //end dtlink.low-nav-a-left
						
                        position: inherit;
                        left: -21px; //pull chevron to the left a little
						cursor: pointer;
                    } //end left-chev

                    .right-chev {

						.dtlink.low-nav-a-right{
					
							img{
								//NOTE: same issues as when adding the anchor links in the top menu. The inner most elment's event propagation was blocking the wrapping anchor link tag. Therefore needed to turn it's default event propagation behavior off with pointer events: none.
								pointer-events: none;
							} //end img  
						} //end dtlink.low-nav-a-right

                        position: inherit;
                        right: -21px; //pull chevron to the right a little
						cursor: pointer;
                    } //end right-chev

					
                } //end nav-chevrons
	
			.main-footer {
			
				.main-footer__social-icons {
					display: flex;
					align-items: center;
					flex-wrap: nowrap;			  
					margin: 0px;
					padding: 0px;
					list-style: none;
					text-decoration: none;
					right: 0px;
					//NOTE: Design variant: The outer container creates an offset, so this corrects for it. Centering the social media icons.
					position: relative;
				
					//NOTE: UI/UX: ANIMATION & TRANSITIONS: 8 - Lower Social Media Icons - Appear and bounce effect
					li {
						#smi-yt,
						#smi-b,
						#smi-fb,
						#smi-ig,
						#smi-lk {
							position: relative;
						} //end img
	
						#smi-yt {
							
							
						} //end smi-yt
						
						#smi-yt:hover {
							@include alt-lowerNav-hoverstate-gray;
						} //end #smi-yt:hover
	
						//======================================================
	
						#smi-b {
							
							
						} //end smi-b
	
						#smi-b:hover {
							@include alt-lowerNav-hoverstate-gray;
						} //end #smi-b:hover
	
						//======================================================
	
	
	
						#smi-fb {
						
						} // end smi-fb
	
						#smi-fb:hover {
							@include alt-lowerNav-hoverstate-gray;
						} //end #smi-fb:hover
	
	
	
						//======================================================
	
						#smi-ig {
							
						} //end smi-ig
	
	
						#smi-ig:hover {
							@include alt-lowerNav-hoverstate-gray;
						} //end #smi-ig:hover
						//======================================================
	
						#smi-lk {
							
						} //end smi-lk
	
	
						#smi-lk:hover {
							@include alt-lowerNav-hoverstate-gray;
						} //end #smi-lk:hover
						//======================================================
	
						position: relative;
						margin-right: 10px;
						cursor: pointer;
					} //end li
				} //end social-icons
			} //end main-footer
		}//end lower-nav-container


		
		.tt-circle {
			position: absolute;
			top: 840px;
			left: 40px;
			width: 20px;
			height: 20px;
			background-color: #8a8a8a98;
			border: 1px solid #ffff;
			border-radius: 55%;
			box-shadow: 0.1px 0.7px #000;
			.tt-circle__icon {
				margin: 0 auto;
				position: absolute;
				left: 7px;
				top: -8px;
				text-align: center;
				font: $text1x-43 $font-list-b;
				color: #fff;
				cursor: pointer;
			} //end tt-circle__icon

			opacity: 0; //initializing the opacity of the tooltip.
			pointer-events: none;
			cursor: pointer;
			animation: info-tool-tip 1s ease-in 2.5s forwards;
		} //end tt-circle

		// .tt-circle:hover  ::before{
		// 	content: "click and hold for info:";
		// 	position:absolute;
		// 	width: 210px;
		// 	left: -225px;

		// }//end tt-circle::before

		.tt-circle:hover ::after {
			content: " Title: gold-and-red-crown-on-brown-wooden-table";
			// white-space: pre-wrap; // to allow for inserting line breaks into the content propety
			position: absolute;
			transition: 1s all ease;
			top: 7px;
			left: -35px;
			width: 430px;
			height: 20px;
			// background-color: #77767255;
			// border: 1px solid #ffffff;
			// border-radius: 3px;
			// box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
			color: #fff;
			font-size: $textBase;

			//NOTE: Tooltip animation:
			animation: tooltip-animate 0.3s ease forwards;
		} //end tt-circle:hover

		// .tt-circle-pulse {
		// 	position: relative;
		// 	z-index: -10; //brings the pulse effect forwards to make it look like its coming from the info button.
		// 	top: 32px; // adjustment po vertical placement so the pulse effect fits correctly over the info button.
		// 	left: 7px;
		// 	width: 20px;
		// 	height: 20px;
		// 	background-color: transparent;
		// 	border: 1px solid #ffff;
		// 	border-radius: 55%;
		// 	opacity: 0; //initializing the opacity for the animation.
		// 	animation: info-tt-pulse 1.5s ease-in 26.5s 25;
		// } //end tt-circle-pulse

	
		.author-info {
			opacity: 0;
			// display: block !important; //NOTE: overiding the defualt setting in the HTML so the code block won't show in the mobile and tablet variants.
			font: $textSmall-75 $font-list-b;
			color: #ffffff;
			p {
				.author-info__name {
					text-decoration: none;
					color: $brandColor;
				} //end author-info__name

				.author-info__name:hover {
					color: #fdd14c;
				} //end author-info-hover

				.author-info__url {
					text-decoration: none;
					color: $brandColor;
				} //end author-info__name

				.author-info__url:hover {
					text-decoration: none;
					color: #fdd14c;
				} //end author-info__name
			} //end p

			position: absolute;
			right: 1588px;
			bottom: 33px;

			animation: info-tool-tip 1s ease-in 2.5s forwards;
		} //end-author-info

		// //NOTE: BACKGROOUND IMAGE TOOLTIP
		// //----------------------------------------------------------------

		.tt-bgimg-circle {
			position: fixed;
			top: 96px;
			left: 936px;
			width: 20px;
			height: 20px;
			background-color: $brandColor;
			border: 1px solid #ffff;
			border-radius: 55%;
			box-shadow: 0.1px 0.7px #000;
			z-index: 19;//NOTE: needed to add z-index to bring the element forward to be interactable. In front of the show-box
			.tt-bgimg-circle__icon {
				margin: 0 auto;
				position: absolute;
				left: 5px;
				top: -0px;
				text-align: center;
				font: $textBase arial;
				color: #fff;
				cursor: pointer;
			} //end tt-circle__icon

			opacity: 0; //initializing the opacity of the tooltip.
			pointer-events: none;
			cursor: pointer;
			animation: info-tool-tip 1s linear 1.5s forwards;
		} //end tt-circle

	

		.tt-bgimg-circle:hover ::after {
			content: "“Thar be Treasure!” -The main event. \a Where we make it happen. \a Here’s an offering of our pride and joy. \a Your projects.";
			white-space: pre-line; // to allow for inserting line breaks into the content propety
			position: absolute;
			transition: 1s all ease;
			top: 22px;
			left: -198px;
			width: 430px;
			height: 80px;
			// background-color: #00000057;
			// border: 1px solid #ffffff54;
			// border-radius: 3px;
			// box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
			text-shadow: 1px 1.5px 0px #00000059;
			font: $textBase 700 $font-list-b;
			color: #fff;

			//NOTE: Tooltip animation:
			opacity: 1;
			animation: tooltip-animate 0.3s ease forwards;
		} //end tt-circle:hover

		.tt-bgimg-circle-pulse {
			position: absolute;
			z-index: -10; //brings the pulse effect forwards to make it look like its coming from the info button.

			top: 96px;
			left: 936px;
			width: 20px;
			height: 20px;
			background-color: transparent;
			border: 1px solid #ffff;
			border-radius: 55%;
			opacity: 0; //initializing the opacity for the animation.
			animation: info-tt-pulse 1.5s linear 2.5s 25;
		} //end tt-circle-pulse


		} //end main-container










			/*SECTION  ANIMATIONS & TRANSITIONS 
		ABOVE MOBILE PHONES - TABLET RANGE  - LANDSCAPE -   >1920px */
		/*ANIMATIONS: */
		//==========================
		//Playback Master sequence:
		//1 - page bg-image:
		//2 - Hero Copy:
		//3 - hero supporting text:
		//4 - top nav elements- in order - h, p, a, c, b:
		//5 - logo & contact number:
		//6 - CTAB:
		//7 - lower nav:
		//8: - social icons:
		//9: info tooltip:
		//10: info tooltip-pulse:
		//11: info tool-tip-animate:
		//12:  project-card-reveal
		//==========================

		//1 - page bg-image:

		@keyframes bg-reveal {
			@include basicReveal;
		} //end bg-reveal

		//--------------------------

		//2 - Hero Copy:
		@keyframes typing {
			0% {
				width: 0;
				border-right: 0em;
			}

			15% {
				width: 15%;
				border-right: 0.15em solid $brandColor;
			}
			100% {
				width: 100%;
				border-right: 0.15em solid $brandColor;
			}
		}

		@keyframes short-type {
			0% {
				width: 0;
				border-right: 0em;
			}

			15% {
				width: 15%;
				border-right: 0.15em solid $brandColor;
			}
			100% {
				width: 85%;
				border-right: 0.15em solid $brandColor;
			}
		}

		@keyframes blink {
			from {
				border-color: transparent;
			}
			to {
				border-color: $brandColor;
			}
		}

		@keyframes cursor-off {
			from {
				border-color: $brandColor;
			}
			to {
				border-color: transparent;
			}
		}

		//--------------------------

		//3 - hero supporting text:
		@keyframes support-reveal {
			@include basicReveal;
		} //end
		//--------------------------

		//4 - top nav elements- in order - h, p, a, c, b:
		@keyframes top-nav-reveal {
			@include basicReveal;
			from {
				opacity: 0;
				pointer-events: none;
			}
			to {
				opacity: 1;
				pointer-events: all;
			}
		} //end 	top-nav-reveal
		//--------------------------

		//5 - logo & contact number:
		@keyframes logo-animate {
			@include basicReveal;
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		} //end logo-reveal

		@keyframes logo-blink {
			@include basicReveal;
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		} // end logo-blink
		//--------------------------

		//6 - CTAB:
		@keyframes CTAB-reveal {
			@include basicReveal;
			from {
				opacity: 0;
				pointer-events: none;
			}
			to {
				opacity: 1;
				pointer-events: all;
			}
		} //end CTAB-reveal

		@keyframes gleam {
			0% {
				left: 0;
				opacity: 0;
			}

			50% {
				left: 50%;
				opacity: 50%;
			}

			100% {
				left: 100%;
				opacity: 0%;
			}
		}

		// //6 - CTAB:
		//--------------------------

		//7 - lower nav:
		@keyframes lower-nav-reveal {
			@include basicReveal;
			from {
				opacity: 0;
				pointer-events: none;
			}
			to {
				opacity: 1;
				pointer-events: all;
			}
		} //end lower nav
		//--------------------------

		//8: - social icons:

		@keyframes social-icons-animate {
			@include basicReveal;
			0% {
				top: 0px;
			}

			50% {
				top: -4px;
			}

			100% {
				top: 0px;
			}
		} //end social-icons-reveal
		//--------------------------

		@keyframes top-nav-gleam {
			0% {
				left: 0;
				opacity: 0;
			}

			50% {
				left: 50%;
				opacity: 50%;
			}

			100% {
				left: 100%;
				opacity: 0%;
			}
		}


		//9: info tooltip:
		@keyframes info-tool-tip {
			0% {
				opacity: 0;
				pointer-events: none;
				transform: scale(0);
			}

			50% {
				opacity: 0.5;
				pointer-events: none;
				transform: scale(0.5);
			}

			100% {
				opacity: 1;
				pointer-events: all;
				transform: scale(1);
			}
		} //end info-tool-tip
		//--------------------------

		//10: info tooltip-pulse:
		@keyframes info-tt-pulse {
			0% {
				opacity: 1;
				pointer-events: none;
				transform: scale(1);
			}

			50% {
				opacity: 0.5;
				pointer-events: none;
				transform: scale(1.5);
			}

			100% {
				opacity: 0;
				pointer-events: all;
				transform: scale(2);
			}
		} //end info-tool-tip
		//--------------------------

		//11: info tool-tip-animate:
		@keyframes tooltip-animate {
			0% {
				opacity: 0;
				transform: scale(0);
			}

			50% {
				opacity: 0.5;
				transform: scale(0.5);
			}

			100% {
				opacity: 1;
				transform: scale(1);
			}
		} //end info tool-tip-animate
		//--------------------------



		//12:  project-card-reveal
		@keyframes project-card-reveal {
			@include basicReveal;
			from{transform: translateY(-10px)} to{transform: translateY(inital)}
		}//end project-card-reveal
		//--------------------------


		/*END ANIMATIONS*/
		/*!SECTION END ANIMATIONS & TRANSITIONS */

	} //end body
} //end media query
/*!SECTION ABOVE MOBILE PHONES - TABLET  - LANDSCAPE -  >1920px */
