@import "..//partials/_base.css";
@import "..//partials/variables";
@import "..//partials/mixins";
@import "..//partials/nav-base-mobile";
//SECTION: UNIVERSAL VARIABLES, LISTS & MIXINS

@mixin showBoxOverlay{
	position: absolute;
	z-index:2;
	background-color: rgba(31, 31, 31, 0.562);
	width: 197px;
	height: 197px;
}// NOTE: overlays for the showboxes/ projects images in case the text doesn't have enough constrast when overlayed. 


//!SECTION UNIVERSAL VARIABLES, LISTS & MIXINS - END

/*SECTION: [RESPONSIVE DESIGN] */
/*NOTE : Query breakpoints*/



//SECTION MOBILE - PORTRAIT - BODY

.main-container {
	justify-content: center;
	position: relative;
	top: 102px;
	@media (max-width: 359px) {
		top: 102px;
	}
}



body {
	background-image: url("/img/img-mobile-p/mobile-ps-bg.png");
	background-repeat: no-repeat;
	background-attachment: scroll;

	.show-box {
		.show-box__title {
			@include projectTitle;
		}
		.show-box__subtitle {
			@include projectSubTitle;
		}
		.show-box__text {
			text-align: center;
			@include projectText;
		}
	}
}

.show-box__link {
	text-decoration: none;
	color: #fff;
}

#show-box-1,
#show-box-2,
#show-box-3 {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 197px;
	height: 197px;

	margin: 0px 81px 4px;
	border-radius: 3px;
}
    .show-box__title,
	.show-box__subtitle,
	.show-box__text{
        position: relative;
        margin: 12px 0px 0px;
        padding: 0px 0px;
    } //universally reseting the text elemenst of each box so appling layout positioning easier. Also overiding the default spacing of the flexbox -> column styling. 





.projects-overlay {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.295);
	width: 100vw;
	height: 100vh;
}

#show-box-1 {
	background-image: url("/img/img-mobile-p/natours.png");
}

#show-box-2 {
	background-image: url("/img/img-mobile-p/nishida.svg");
	background-color: rgb(0, 0, 0);//makes sure the background is opaque enough to keep the text readable.
	background-position: center;
	background-repeat: no-repeat;

	.show-box__overlay {
		@include showBoxOverlay;
	
	}
	.show-box__title,
	.show-box__subtitle,
	.show-box__text {
		z-index: 3;
	}
}

#show-box-3 {
	background-image: url("/img/img-mobile-p/beam.png");

    .show-box__overlay {
		@include showBoxOverlay;
	}
	.show-box__title,
	.show-box__subtitle,
	.show-box__text {
		z-index: 3;
	}
}



//!SECTION  END- MOBILE - PORTRAIT - BODY

//!SECTION END-  MOBILE- PORTRAIT - LAYOUT - FLEXBOX
//SECTION: HOME/LANDING PAGE: mobile -> Desktop
@import "_projectsTabletP";
@import "_projectsTabletL";
// @import "_projectsDesktop-S";
// @import "_projectsDesktop-CM";
@import "_projectsDesktopL-Large"; 
//!SECTION: END - HOME/LANDING PAGE: mobile -> Desktop
// /*!SECTION: END - [RESPONSIVE DESIGN] */
