//SECTION: MOBILE - PORTRAIT - NAVIGATION

// .header {
// }

.sitenav--container {
	position: relative;
	z-index: 1;
}

.sitenav-logo-contact-container {
	position: relative;
}

.sitenav__logo {
	position: absolute;
	width: 94px;
	height: 53px;
	top: 0px;
	left: 26px;
	z-index: 7;
}

.sitenav__contactNum {
	position: absolute;
	display: inline-block;
	width: 115px;
	top: 45px;
	left: 38px;

	@include heroContactNumSmall;
	color: #fff;
	z-index: 7;
}

//NOTE: Mobile navigation links html code hidden since they'll only be shown in the overlay prompt. After Clicking Hamburger menu icon.
.sitenav__links--hide {
	display: none;
}

.sitenav__links--show {
	display: block;
}

.sitenav__links {
	z-index: 11;
	position: fixed;
	left: 72px;
	margin: auto;

	@include mobileNavOverlayMenu;

	#projects {
		@include navOverlayMenuStyles;
		margin-top: 67px;
	}

	#about,
	#contact {
		@include navOverlayMenuStyles;
		margin-top: 130px;
		margin-bottom: 130px;
	}

	#blog {
		@include navOverlayMenuStyles;
		margin-bottom: 66px;
	}

	#projects-text,
	#about-text,
	#contact-text,
	#blog-text {
		position: relative;
		top: 15px;
	}

	a {
		text-decoration: none;
	}

	li {
		list-style: none;
	}

	a > li {
		text-decoration: none;
		color: #ffffff;
	}
}

.sitenav__hamburger {
	position: absolute;
	right: 36px;
	top: 20px;
	width: 20px;
	height: 20px;
	z-index: 7;
}

.--overlay-remove {
	display: none; //NOTE: general removal utility class
}

.--mobile-overlay {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.9);
	width: 100vw;
	height: 100vh;
	z-index: 10; //NOTE: mobile-overlay needs to be higher than the parent's z-index.
}

.mainnav__links {
	display: none;
}

//!SECTION END - MOBILE - PORTRAIT - NAVIGATION
// /*SECTION ABOVE MOBILE PHONES - TABLET  - LANDSCAPE -  >1000px */

// @media (min-width: 768px) {
// 	.sitenav__links {
// 		//NOTE: design variant
// 		z-index: 11;
// 		position: fixed;
// 		left: 35%; //NOTE: shifting the manual positioning of the navigation over so its vertically aligned with the center of the veiwport. for tablet portiat devices.
// 		margin-top:60px;//NOTE: brining down the top of the nav a bit, better fit in the viewport, asthestics. 
		

// 		@include mobileNavOverlayMenu;

// 		#projects {
// 			@include navOverlayMenuStyles;
// 			margin-top: 67px;
// 		}

// 		#about,
// 		#contact {
// 			@include navOverlayMenuStyles;
// 			margin-top: 130px;
// 			margin-bottom: 130px;
// 		}

// 		#blog {
// 			@include navOverlayMenuStyles;
// 			margin-bottom: 66px;
// 		}

// 		#projects-text,
// 		#about-text,
// 		#contact-text,
// 		#blog-text {
// 			position: relative;
// 			top: 15px;
// 		}

// 		a {
// 			text-decoration: none;
// 		}

// 		li {
// 			list-style: none;
// 		}

// 		a > li {
// 			text-decoration: none;
// 			color: #ffffff;
// 		}
// 	}
// } // end media query - tablet-Portrait

// /*SECTION ABOVE MOBILE PHONES - TABLET  - LANDSCAPE -  >1000px */
