//SECTION: SITE GLOBAL VALUES:
$brandColor: #FFBF00;
$cs-bgColor-light: #FFD866;
$cs-bgColor-alt: #FCF8EC;

//!SECTION - END SITE GLOBAL VALUES

//SECTION FONT SIZING FOR ALL VIEWPORT VARIANTS: D-L,T-L, T-P, M-P
//NOTE: Font sizes:
$text7x-18: 7.18rem; //115px;
$text6X-56: 6.56rem;//105px;
$text5x-62: 5.62rem; //90px;
$text5x-31: 5.31rem; //85px;
$text5x: 5rem; //80px;
$text4x-92: 4.921rem; //78.75px; --BTL TITLE 1440px
$text4x-37: 4.375rem;// 70px;
$text4x-6: 4.06rem; //65px;
$text3x-59: 3.59rem; //57.5px
$text3x-43: 3.43rem; //55px;
$text3x-28: 3.281rem; //52.5px;
$text3x-12: 3.12rem; //50px;
$text3x-04: 3.04rem; //48.75px -- Hero Copy 1440px CM
$text2X-81: 2.81rem; //45px;
$text2x-5: 2.5rem; //40px;
$text2x-34: 2.343rem;//37.5px -- BTL TEXT -1440px 
$text2x-28: 2.28rem; //36.57px -- Hero Copy 1280px DS
$text2x-12: 2.125rem; //34px
$text2x-18: 2.18rem; //35px;
$text2x-6: 2.06rem; //33px;
$text1x-87: 1.87rem; //30px;
$text1x-64: 1.64rem; //26px;
$text1x-56: 1.56rem; //25px;
$text1x-37: 1.37rem; //22px;
$text1x-31: 1.31rem; //21px;
$text1X-25: 1.25rem; //20px;
$text1x-18: 1.187rem; //19px;
$text1x-12: 1.12rem; //18px;
$text1x-06: 1.06rem; //17px;
$textBase: 1rem; //16px;
$textSmall-93: 0.93rem; //15px;
$textSmall-87: 0.87rem; //14px;
$textSmall-75: 0.75rem; //12px;
$TextSmall-62: 0.62rem; //10px;
//!SECTION - END FONT SIZING FOR VIEWPORTS ----------------

//NOTE: Font styles for portfolio website. Applicable on all pages and their Viewport Variants.
$f-style-n: normal;

//NOTE: Font weights for portfolio website. Applicable on all pages and their Viewport Variants.
$f-weights: 900 700 400;

//NOTE: Font lists for portfolio website. Applicable on all pages and their Viewport Variants.
$font-list-h: proxima-nova, Arial, Helvetica, sans-serif;
$font-list-b: futura-pt, Helvetica, Arial, sans-serif;