/*SECTION ABOVE MOBILE PHONES - TABLET RANGE  - PORTRAIT -   >800px*/
// @mixin AlignAdjust {
// 	@include flexMix;
// 	justify-content: flex-end;
// 	position: relative;
// 	right: 137px;
// }

@import"../../partials/navs/nav-base-tablet-portrait";

@media (min-width: 768px) {
	body {
		//NOTE: design variant: Reset the position of the background image to default. left 0px and top 0px.
		background-image: url("/img/img-tablet-p/FullScreen-Image.png");
		background-repeat: no-repeat;
		background-position: left 0px top 0px;
		background-attachment: fixed;


		//NOTE: ANIMATIONS AND TRANSITIONS: Background reveal:
		background-image: none;
		opacity: 0;
		background-color: #000;
		
		animation: article-bg-reveal 0.5s linear 0.5s forwards;
		  .page-container {

		@include pageContainer;

		.page__surface{
		
		  @include pageSurface;

		}//end page__surface

	  }//end page-continer 


	  .page-flipped{
		transform: translateX(0.5%) rotateY(90deg);
		  }

		.main-container {


			
		//NOTE: NEW STURCTURE to better work with layout for flex
		.title-container{
			@include flexMix-col;
			.title-container__article-title{
				text-align: center;
				// font-size: $text2x-5; //40px;
				color: #fff;

				//NOTE: UI/UX: ANIMATION & TRANSITIONS: 2 - Article title reveal
				opacity: 0;// set the inital state of the text visibility - for animation
				animation: article-title-reveal 1s linear 1s forwards;
			}//title-container__article-title

			.title-container__article-sub-title{
		
				
				font-size: $text1X-25; //20px;

				//NOTE: UI/UX: ANIMATION & TRANSITIONS: 3 - Article subtitle reveal

				opacity: 0;// set the inital state of the text visibility - for animation
				animation: article-sub-reveal 1s linear 2s forwards;
			}//end title-container__article-sub-title

			.title-container-article-sm-top{
							.article-sm-top-link{

						#smi-m,
						#smi-t,
						#smi-lk {
			
						  position: relative;
						}// end img
			
						#smi-m:hover {
						  @include alt-lowerNav-hoverstate-gray;
						}//end smi-m:hover
			
						#smi-t:hover {
						  @include alt-lowerNav-hoverstate-gray;
						}//end smi-m:hover
			
						#smi-lk:hover {
						  @include alt-lowerNav-hoverstate-gray;
						}//end smi-m:hover
			
						
						#smi-m{
						  //NOTE: UI/UX: ANIMATION & TRANSITIONS: 3 - Top nav social icons reveal
			
					  opacity: 0;// set the inital state of the text visibility - for animation
					  animation: top-nav-social-reveal 1s linear 3s forwards;
			
						}//end smi-m
						#smi-t{
						  //NOTE: UI/UX: ANIMATION & TRANSITIONS: 3 - Top nav social icons reveal
			
					  opacity: 0;// set the inital state of the text visibility - for animation
					  animation: top-nav-social-reveal 1s linear 3.4s forwards;	
			
						}//end smi-t
						#smi-lk{
						  //NOTE: UI/UX: ANIMATION & TRANSITIONS: 3 - Top nav social icons reveal
			
					  opacity: 0;// set the inital state of the text visibility - for animation
					  animation: top-nav-social-reveal 1s linear 3.5s forwards;		
			
						}//end smi-lk
			
			
					  }//end article-sm-top-link 
			}//end title-container-article-sm-top

		}//end title-container

		#top-divider{

			//NOTE: UI/UX: ANIMATION & TRANSITIONS: 4 - Header section divider reveal

			opacity: 0;// set the inital state of the text visibility - for animation
			animation: title-divider 0.3s linear 4s forwards;

		}//end top-divider


			.article-container {
				//NOTE: design variant	
		
				.article__content {
					//NOTE: design variant
					margin: 0px 79px;
					.support-topic {
						.support-topic__body {
							//NOTE: design variant
							font-size: $text1X-25; //20px;
						} //end support-topic-body
					} //end support-topic

					 //NOTE: UI/UX: ANIMATION & TRANSITIONS: 4 - Body section  reveal

					 opacity: 0;// set the inital state of the text visibility - for animation
					 animation: body-content 1s linear 4.5s forwards;
				}//end article__content
			} // end article-container
		} //end main-container



	.mobile-cta-footer{
		.mobile-cta-footer__container{
			.mobile-cta-footer__button {
				width: 350px;
				.hero-text {
				//NOTE: design variant
					margin: auto 5%; //reduce the button width by reducing the assigned amount of spacing on each side for the margins.
				} //end hero-text
			} //end mobile-cta-footer__button
	
			.mobile-cta-footer__button:hover {
				background: #ffcf15 no-repeat padding-box;
				
				text-shadow: 0px 2px .5px #4a45459e;
	  
				.hero-text{
				  color: #f8f2f2
				}//end hero-text
			  } //end .mobile-cta-footer__button:hover state
	
			  .article-sm-bottom-link{
			  
				#smi-m,
				#smi-t,
				#smi-lk {
	
				  position: relative;
				}// end img
	
				#smi-m:hover {
				  @include alt-lowerNav-hoverstate-gray;
				}//end smi-m:hover
	
				#smi-t:hover {
				  @include alt-lowerNav-hoverstate-gray;
				}//end smi-m:hover
	
				#smi-lk:hover {
				  @include alt-lowerNav-hoverstate-gray;
				}//end smi-m:hover
			  
			}//end article-sm-bottom-link

		}//end .mobile-cta-footer__container
	

	}//end mobile-cta-footer

		/*SECTION  ANIMATIONS & TRANSITIONS 
        ABOVE MOBILE PHONES - TABLET RANGE  - LANDSCAPE -   >1920px */
        /*ANIMATIONS: */
        //==========================
          //Playback Master sequence:
          //1 - article-bg-reveal
          //2 - Atricle title
          //3 - Atricle subtitle
          //4 - top-nav social icons
          //5 - title-divier
          //6 - body content 


        //==========================

        //1: article-bg-reveal
        @keyframes article-bg-reveal {
			@include basicReveal;
			0%{
  
			  background-image: url("/img/img-desktop-l/desktop-blog-article-bg.png");
			} 
			100%{
			  background-image: url("/img/img-desktop-l/desktop-blog-article-bg.png");
			  
			}
		  
		  }//end article-bg-reveal
  
		  //2 - Atricle title
			@keyframes article-title-reveal {
			  @include basicReveal;
			  from{opacity: 0} to{opacity: 1;}
			}//end article-title-reveal 
  
  
		  //3 - Atricle subtitle
		  @keyframes article-sub-reveal {
			@include basicReveal;
			from{opacity: 0} to{opacity: 1;}
		  }//end  article-sub-reveal
  
		  //4 - top-nav social icons
		  @keyframes top-nav-social-reveal {
			@include basicReveal;
			from{opacity: 0} to{opacity: 1;}
		  }//end top-nav-social-reveal 
  
  
		  //5 - title-divier
		  @keyframes title-divider {
			@include basicReveal;
			from{opacity: 0; width:0%} to{opacity: 1;  width:100%}
		  }//end title-divider 
  
  
		  //6 - body content 
		  @keyframes  body-content{
			@include basicReveal;
			from{opacity: 0} to{opacity: 1;}
		  }//end body-content 
			
		  
  
		  /*END ANIMATIONS*/
		  /*!SECTION END ANIMATIONS & TRANSITIONS 
		  ABOVE MOBILE PHONES - TABLET RANGE  - LANDSCAPE -   >1920px */
	} //end body
} //end media query

/*!SECTION ABOVE MOBILE PHONES - TABLET RANGE  - PORTRAIT -   >800px*/
