//SECTION MIXINS 
@mixin mobileNavOverlayMenu {
	font-family: $font-list-b;
	font-weight: nth($f-weights, 3);
	font-style: $f-style-n;
	font-size: $text1x-87; //30px;
}

@mixin heroContactNumSmall {
	font-family: $font-list-h;
	font-weight: nth($f-weights, 3); //normall = 400;
	font-style: $f-style-n; // font-style=normal;
	font-size: $TextSmall-62; //10px;
}

@mixin heroCopyMobile-p {
	font-family: $font-list-h;
	font-weight: nth($f-weights, 1);
	font-style: normal;
	font-size: $text2x-6; //33px;
}

@mixin bodyCopyMobile-p {
	font-size: $textBase; //16px;
	font-family: $font-list-b;
	font-weight: nth($f-weights, 3);
	font-style: normal;
	
}

@mixin CTAbuttonMobile-p {
	font-family: $font-list-h;
	font-weight: nth($f-weights, 1);
	font-style: normal;
	font-size: $textSmall-93;
} 

@mixin navOverlayMenuStyles {
	text-align: center;
	width: 140px;
	height: 67px;
	background-color: rgba(109, 109, 109, 0.2);
	position: relative;
}

@mixin flexMix {
	display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
}

//!SECTION END - MIXINS 

//!SECTION UNIVERSAL VARIABLES, LISTS & MIXINS - END