@import "/partials/_base.css";
@import "_variables";
@import "_mixins";
//SECTION: UNIVERSAL VARIABLES, LISTS & MIXINS
//!SECTION UNIVERSAL VARIABLES, LISTS & MIXINS - END

/*SECTION: [RESPONSIVE DESIGN] */
/*NOTE : Query breakpoints*/

//SECTION: MOBILE- PORTRAIT - LAYOUT - FLEXBOX
//SECTION: MOBILE - PORTRAIT - NAVIGATION

// .header {
// }

.sitenav--container {
	position: relative;
	z-index: 1;
}

.sitenav-logo-contact-container {
	position: relative;
}

.sitenav__logo {
	position: absolute;
	width: 94px;
	height: 53px;
	top: 0px;
	left: 26px;
}

.sitenav__contactNum {
	position: relative;
	display: inline-block;
	width: 115px;
	top: 45px;
	left: 38px;

	@include heroContactNumSmall;
	color: #fff;
}

//NOTE: Mobile navigation links html code hidden since they'll only be shown in the overlay prompt. After Clicking Hamburger menu icon.
.sitenav__links--hide {
	display: none;
}

.sitenav__links--show {
	display: block;
}

.sitenav__links {
	z-index: 3;
	position: fixed;
	left: 72px;
	margin: auto;

	@include mobileNavOverlayMenu;

	#projects {
		@include navOverlayMenuStyles;
		margin-top: 67px;
	}

	#about,
	#contact {
		@include navOverlayMenuStyles;
		margin-top: 130px;
		margin-bottom: 130px;
	}

	#blog {
		@include navOverlayMenuStyles;
		margin-bottom: 66px;
	}

	#projects-text,
	#about-text,
	#contact-text,
	#blog-text {
		position: relative;
		top: 15px;
	}

	li {
		list-style: none;
	}

	li > a {
		text-decoration: none;
		color: #fff;
	}
}

.sitenav__hamburger {
	position: absolute;
	right: 36px;
	top: 20px;
	width: 20px;
	height: 20px;
}

.--overlay-remove {
	display: none; //NOTE: general removal utility class
}

.--mobile-overlay {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.9);
	width: 100vw;
	height: 100vh;
	z-index: 2; //NOTE: mobile-overlay needs to be higher than the parent's z-index.
}

.mainnav__links {
	display: none;
}
//!SECTION END - MOBILE - PORTRAIT - NAVIGATION

//SECTION MOBILE - PORTRAIT - BODY

.main-container {
	justify-content: center;
	position: relative;
	top: 220px;
	@media (max-width: 359px) {
		top: 150px;
	}
}

.hero-section-1,
.hero-section-2,
.hero-section-3 {
	@include flexMix;
}

body {
	background-image: url("/img/img-mobile-p/m-p-home-bg-img.png");
	background-position: top 0px left -367px;
	background-repeat: no-repeat;
	background-attachment: scroll;

	.hero__copy {
		@include heroCopyMobile-p;
		color: #ffbf00;
		margin: 0px 26px 61px 26px;
		letter-spacing: 0px;
		text-shadow: 0px 1px 1px #000000;
		line-height: 90%; //NOTE: The property for brining text vertically closer together.
		text-align: center;
	}

	.hero__copy-body {
		@include bodyCopyMobile-p;
		color: #ffffff;
		margin: auto 57px;
		letter-spacing: 0px;
		text-shadow: 1px 1px 0px #00000059;
		opacity: 1;
		text-align: center;
		line-height: 98%; //NOTE: The property for brining text vertically closer together.
		margin-bottom: 49px;
		@media (max-width: 359px) {
			margin: 0px 57px 9px;
		}
	}

	.hero-button {
		background: #ffbf00 0% 0% no-repeat padding-box;
		box-shadow: 0px 2px 0px #000000;
		border: 1px solid #707070;
		border-radius: 8px;
		opacity: 1;
		position: relative;
		// left: 94px;
		width: 173px;
		height: 34px;
		margin-bottom: 102px;
		@include CTAbuttonMobile-p;

		@media (max-width: 359px) {
			margin-bottom: 50px;
		}
	}
}

//!SECTION  END- MOBILE - PORTRAIT - BODY

//SECTION MOBILE - PORTRAIT - NAVIGATION - FOOTER

.main-footer {
	margin-bottom: 30px;
}
.main-footer__social-icons {
	margin: 0px;
	padding: 0px;
	@include flexMix;
	list-style: none;
	text-decoration: none;
	justify-content: center;

	li {
		margin-right: 10px;
	}
}

//!SECTION  END - MOBILE - PORTRAIT - NAVIGATION - FOOTER

//!SECTION END-  MOBILE- PORTRAIT - LAYOUT - FLEXBOX
//SECTION: HOME/LANDING PAGE: mobile -> Desktop
@import "home/_hometabletP";
@import "home/_homeTabletL";
@import "home/_homeDesktopL";

//!SECTION: END - HOME/LANDING PAGE: mobile -> Desktop
/*!SECTION: END - [RESPONSIVE DESIGN] */
