@import "partials/_base.css";
.sitenav--container {
  position: relative;
  z-index: 1;
}

.sitenav-logo-contact-container {
  position: relative;
}

.sitenav__logo {
  position: absolute;
  width: 94px;
  height: 53px;
  top: 0px;
  left: 26px;
  z-index: 7;
}

.sitenav__contactNum {
  position: absolute;
  display: inline-block;
  width: 115px;
  top: 45px;
  left: 38px;
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.62rem;
  color: #fff;
  z-index: 7;
}

.sitenav__links--hide {
  display: none;
}

.sitenav__links--show {
  display: block;
}

.sitenav__links {
  z-index: 11;
  position: fixed;
  left: 72px;
  margin: auto;
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.87rem;
}
.sitenav__links #projects {
  text-align: center;
  width: 140px;
  height: 67px;
  background-color: rgba(109, 109, 109, 0.2);
  position: relative;
  margin-top: 67px;
}
.sitenav__links #about,
.sitenav__links #contact {
  text-align: center;
  width: 140px;
  height: 67px;
  background-color: rgba(109, 109, 109, 0.2);
  position: relative;
  margin-top: 130px;
  margin-bottom: 130px;
}
.sitenav__links #blog {
  text-align: center;
  width: 140px;
  height: 67px;
  background-color: rgba(109, 109, 109, 0.2);
  position: relative;
  margin-bottom: 66px;
}
.sitenav__links #projects-text,
.sitenav__links #about-text,
.sitenav__links #contact-text,
.sitenav__links #blog-text {
  position: relative;
  top: 15px;
}
.sitenav__links a {
  text-decoration: none;
}
.sitenav__links li {
  list-style: none;
}
.sitenav__links a > li {
  text-decoration: none;
  color: #ffffff;
}

.sitenav__hamburger {
  position: absolute;
  right: 36px;
  top: 20px;
  width: 20px;
  height: 20px;
  z-index: 7;
}

.--overlay-remove {
  display: none;
}

.--mobile-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.mainnav__links {
  display: none;
}

/*SECTION: [RESPONSIVE DESIGN] */
/*NOTE : Query breakpoints*/
.main-container {
  justify-content: center;
  position: relative;
  top: 220px;
}
@media (max-width: 359px) {
  .main-container {
    top: 150px;
  }
}

.hero-section-1,
.hero-section-2,
.hero-section-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

body {
  background-image: url("/img/img-mobile-p/m-p-home-bg-img.png");
  background-position: top 0px left -367px;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
body .hero__copy {
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2.06rem;
  color: #ffbf00;
  margin: 0px 26px 61px 26px;
  letter-spacing: 0px;
  text-shadow: 0px 1px 1px #000000;
  line-height: 90%;
  text-align: center;
}
body .hero__copy-body {
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  color: #ffffff;
  margin: auto 57px;
  letter-spacing: 0px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3490196078);
  opacity: 1;
  text-align: center;
  line-height: 98%;
  margin-bottom: 49px;
}
@media (max-width: 359px) {
  body .hero__copy-body {
    margin: 0px 57px 9px;
  }
}
body .hero-button {
  background: #ffbf00 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 0px #000000;
  border: 1px solid #707070;
  border-radius: 8px;
  opacity: 1;
  position: relative;
  width: 173px;
  height: 34px;
  margin-bottom: 51px;
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 0.93rem;
}
@media (max-width: 359px) {
  body .hero-button {
    margin-bottom: 50px;
  }
}

.nav-chevrons {
  display: none;
}

.main-footer {
  margin-bottom: 30px;
}

.main-footer__social-icons {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  justify-content: center;
}
.main-footer__social-icons li {
  margin-right: 10px;
}

/*SECTION ABOVE MOBILE PHONES - TABLET  - PORTRAIT -  >800px */
@media (min-width: 440px) {
  body {
    background-position: top 0% center;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
}
@media (min-width: 800px) {
  /*SECTION: TABLET PORTRAIT - NAVIGATION*/
  /* // .header {
  			// } */
  .sitenav--container {
    position: relative;
    z-index: 1;
  }
  .sitenav-logo-contact-container {
    position: relative;
  }
  .sitenav__logo {
    position: absolute;
    width: 94px;
    height: 45px;
    top: 23px;
    left: 170px;
  }
  .sitenav__contactNum {
    position: relative;
    display: inline-block;
    width: 115px;
    top: 57px;
    left: 184px;
    color: #fff;
  }
  /*NOTE: Mobile navigation links html code hidden since they'll only be shown in the overlay prompt. After Clicking Hamburger menu icon.*/
  .sitenav__hamburger {
    display: none;
  }
  .sitenav__links {
    display: none;
  }
  .mainnav__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.93rem;
  }
  .mainnav__links li {
    padding: 0px 11px;
    list-style: none;
  }
  .mainnav__links li a {
    text-decoration: none;
    color: #fff;
  }
  /*!SECTION END - TABLET - PORTRAIT - NAVIGATION*/
  .hero-section-1,
  .hero-section-2,
  .hero-section-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  body {
    background: url("/img/img-tablet-p/m-p-home-bg-img.png");
    /*Using the  !important flag to overide the assignment of the background images for the diffrent veiwport variants of the design.*/
    background-position: top 0px left -177px;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
  body .hero__copy {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3.43rem;
    color: #ffbf00;
    position: relative;
    top: -126px;
    margin: 0px 126px 63px 126px;
    letter-spacing: 0px;
    text-shadow: 0px 1px 1px #000000;
    line-height: 100%;
    text-align: center;
  }
  body .hero__copy-body {
    font-family: futura-pt, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.12rem;
    color: #ffffff;
    position: relative;
    top: -122px;
    margin: 0px 190px 0px;
    letter-spacing: 0px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3490196078);
    opacity: 1;
    text-align: center;
    line-height: 98%;
  }
}
@media (min-width: 800px) and (max-width: 359px) {
  body .hero__copy-body {
    margin: 0px 57px 9px;
  }
}
@media (min-width: 800px) {
  body .hero-button {
    background: #ffbf00 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 0px #000000;
    border: 1px solid #707070;
    border-radius: 8px;
    opacity: 1;
    position: relative;
    top: -44px;
    width: 173px;
    height: 34px;
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-bottom: -32px;
    font-size: 0.93rem;
  }
}
@media (min-width: 800px) {
  body .main-footer {
    margin-top: 15px;
    margin-bottom: 30px;
  }
}
@media (min-width: 800px) {
  body .main-footer__social-icons {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    justify-content: center;
  }
  body .main-footer__social-icons li {
    margin-right: 10px;
  }
}
@media (min-width: 800px) {
  .nav-chevrons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav-chevrons .left-chev {
    margin-right: 50px;
  }
}
/*!SECTION ABOVE MOBILE PHONES - TABLET RANGE  - PORTRAIT -   >800px */
/*!SECTION: END - [RESPONSIVE DESIGN] */
/*SECTION ABOVE MOBILE PHONES - TABLET  - LANDSCAPE -  >1000px */
@media (min-width: 1000px) {
  body {
    background: url("/img/img-tablet-l/medium-cody-board-stargazing-sullivan-unsplash.jpg") !important;
  }
}
/*!SECTION ABOVE MOBILE PHONES - TABLET RANGE  - LANDSCAPE -   >1000px */
/*!SECTION: END - [RESPONSIVE DESIGN] */
/*SECTION ABOVE MOBILE PHONES - TABLET  - LANDSCAPE -  >1000px */
@media (min-width: 1920px) {
  body {
    background: url("/img/img-desktop-l/pexels-marcelo-jaboo-Chair-spotlight.jpg") !important;
  }
}
/*!SECTION ABOVE MOBILE PHONES - TABLET RANGE  - LANDSCAPE -   >1000px */
/*!SECTION: END - [RESPONSIVE DESIGN] */
/*!SECTION: END - [RESPONSIVE DESIGN] *//*# sourceMappingURL=main.css.map */