@import "partials/_base.css";
@import "partials/variables";
@import "partials/mixins";
@import "partials/nav-base-mobile";
//SECTION: UNIVERSAL VARIABLES, LISTS & MIXINS
//!SECTION UNIVERSAL VARIABLES, LISTS & MIXINS - END

/*SECTION: [RESPONSIVE DESIGN] */
/*NOTE : Query breakpoints*/



//SECTION MOBILE - PORTRAIT - BODY

.main-container {
	justify-content: center;
	position: relative;
	top: 220px;
	@media (max-width: 359px) {
		top: 150px;
	}
}

.hero-section-1,
.hero-section-2,
.hero-section-3 {
	@include flexMix;
}

body {
	background-image: url("/img/img-mobile-p/m-p-home-bg-img.png");
	background-position: top 0px left -367px;
	background-repeat: no-repeat;
	background-attachment: scroll;

	.hero__copy {
		@include heroCopyMobile-p;
		color: #ffbf00;
		margin: 0px 26px 61px 26px;
		letter-spacing: 0px;
		text-shadow: 0px 1px 1px #000000;
		line-height: 90%; //NOTE: The property for brining text vertically closer together.
		text-align: center;
	}

	.hero__copy-body {
		@include bodyCopyMobile-p;
		color: #ffffff;
		margin: auto 57px;
		letter-spacing: 0px;
		text-shadow: 1px 1px 0px #00000059;
		opacity: 1;
		text-align: center;
		line-height: 98%; //NOTE: The property for brining text vertically closer together.
		margin-bottom: 49px;
		@media (max-width: 359px) {
			margin: 0px 57px 9px;
		}
	}

	.hero-button {
		background: #ffbf00 0% 0% no-repeat padding-box;
		box-shadow: 0px 2px 0px #000000;
		border: 1px solid #707070;
		border-radius: 8px;
		opacity: 1;
		position: relative;
		// left: 94px;
		width: 173px;
		height: 34px;
		margin-bottom: 51px;
		@include CTAbuttonMobile-p;

		@media (max-width: 359px) {
			margin-bottom: 50px;
		}
	}
}

//!SECTION  END- MOBILE - PORTRAIT - BODY

//SECTION MOBILE - PORTRAIT - NAVIGATION - FOOTER

.main-footer {
	margin-bottom: 30px;
}
.main-footer__social-icons {
	margin: 0px;
	padding: 0px;
	@include flexMix;
	list-style: none;
	text-decoration: none;
	justify-content: center;

	li {
		margin-right: 10px;
	}
}

//!SECTION  END - MOBILE - PORTRAIT - NAVIGATION - FOOTER

//!SECTION END-  MOBILE- PORTRAIT - LAYOUT - FLEXBOX
//SECTION: HOME/LANDING PAGE: mobile -> Desktop
@import "home/_hometabletP";
@import "home/_homeTabletL";
@import "home/_homeDesktopL";

//!SECTION: END - HOME/LANDING PAGE: mobile -> Desktop
/*!SECTION: END - [RESPONSIVE DESIGN] */
