@import "/partials/_base.css";
.sitenav--container {
  position: relative;
  z-index: 1;
}

.sitenav-logo-contact-container {
  position: relative;
}

.sitenav__logo {
  position: absolute;
  width: 94px;
  height: 53px;
  top: 0px;
  left: 26px;
}

.sitenav__contactNum {
  position: relative;
  display: inline-block;
  width: 115px;
  top: 45px;
  left: 38px;
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.62rem;
  color: #fff;
}

.sitenav__links--hide {
  display: none;
}

.sitenav__links--show {
  display: block;
}

.sitenav__links {
  z-index: 3;
  position: fixed;
  left: 72px;
  margin: auto;
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.87rem;
}
.sitenav__links #projects {
  text-align: center;
  width: 140px;
  height: 67px;
  background-color: rgba(109, 109, 109, 0.2);
  position: relative;
  margin-top: 67px;
}
.sitenav__links #about,
.sitenav__links #contact {
  text-align: center;
  width: 140px;
  height: 67px;
  background-color: rgba(109, 109, 109, 0.2);
  position: relative;
  margin-top: 130px;
  margin-bottom: 130px;
}
.sitenav__links #blog {
  text-align: center;
  width: 140px;
  height: 67px;
  background-color: rgba(109, 109, 109, 0.2);
  position: relative;
  margin-bottom: 66px;
}
.sitenav__links #projects-text,
.sitenav__links #about-text,
.sitenav__links #contact-text,
.sitenav__links #blog-text {
  position: relative;
  top: 15px;
}
.sitenav__links li {
  list-style: none;
}
.sitenav__links li > a {
  text-decoration: none;
  color: #fff;
}

.sitenav__hamburger {
  position: absolute;
  right: 36px;
  top: 20px;
  width: 20px;
  height: 20px;
}

.--overlay-remove {
  display: none;
}

.--mobile-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.main-container {
  justify-content: center;
  position: relative;
  top: 220px;
}
@media (max-width: 359px) {
  .main-container {
    top: 150px;
  }
}

.hero-section-1,
.hero-section-2,
.hero-section-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

body {
  background-image: url("/img-mobile-p/m-p-home-bg-img.png");
  background-position: top 0px left -367px;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
body .hero__copy {
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2.06rem;
  color: #ffbf00;
  margin: 0px 26px 61px 26px;
  letter-spacing: 0px;
  text-shadow: 0px 1px 1px #000000;
  line-height: 90%;
  text-align: center;
}
body .hero__copy-body {
  font-size: 1rem;
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  margin: auto 57px;
  letter-spacing: 0px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3490196078);
  opacity: 1;
  text-align: center;
  line-height: 98%;
  margin-bottom: 49px;
}
@media (max-width: 359px) {
  body .hero__copy-body {
    margin: 0px 57px 9px;
  }
}
body .hero-button {
  background: #ffbf00 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 0px #000000;
  border: 1px solid #707070;
  border-radius: 8px;
  opacity: 1;
  position: relative;
  width: 173px;
  height: 34px;
  margin-bottom: 102px;
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 0.93rem;
}
@media (max-width: 359px) {
  body .hero-button {
    margin-bottom: 50px;
  }
}

.main-footer {
  margin-bottom: 30px;
}

.main-footer__social-icons {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  justify-content: center;
}
.main-footer__social-icons li {
  margin-right: 10px;
}

/*SECTION: [RESPONSIVE DESIGN] */
/*NOTE : Query breakpoints*/
/*SECTION ABOVE MOBILE PHONES - TABLET  - PORTRAIT -  >480px */
@media (min-width: 480px) {
  /*SECTION: MOBILE - PORTRAIT - NAVIGATION*/
  /* // .header {
  // } */
  .sitenav--container {
    position: relative;
    z-index: 1;
  }
  .sitenav-logo-contact-container {
    position: relative;
  }
  .sitenav__logo {
    position: absolute;
    width: 94px;
    height: 53px;
    top: 0px;
    left: 26px;
  }
  .sitenav__contactNum {
    position: relative;
    display: inline-block;
    width: 115px;
    top: 45px;
    left: 38px;
    color: #fff;
  }
  /*NOTE: Mobile navigation links html code hidden since they'll only be shown in the overlay prompt. After Clicking Hamburger menu icon.*/
  /*!SECTION END - MOBILE - PORTRAIT - NAVIGATION*/
  body {
    background: url("/img-tablet-p/campfire-conversations.jpeg") !important;
  }
}
/*!SECTION ABOVE MOBILE PHONES - TABLET RANGE  - PORTRAIT -   >480px */
/*!SECTION: END - [RESPONSIVE DESIGN] */
/*SECTION ABOVE MOBILE PHONES - TABLET  - LANDSCAPE -  >1000px */
@media (min-width: 800px) {
  body {
    background: url("/img-tablet-l/medium-cody-board-stargazing-sullivan-unsplash.jpg") !important;
  }
}
/*!SECTION ABOVE MOBILE PHONES - TABLET RANGE  - LANDSCAPE -   >1000px */
/*!SECTION: END - [RESPONSIVE DESIGN] */
/*SECTION ABOVE MOBILE PHONES - TABLET  - LANDSCAPE -  >1000px */
@media (min-width: 1920px) {
  body {
    background: url("/img-desktop-l/pexels-marcelo-jaboo-Chair-spotlight.jpg") !important;
  }
}
/*!SECTION ABOVE MOBILE PHONES - TABLET RANGE  - LANDSCAPE -   >1000px */
/*!SECTION: END - [RESPONSIVE DESIGN] */
/*!SECTION: END - [RESPONSIVE DESIGN] *//*# sourceMappingURL=main.css.map */