@import "..//partials/_nav-base-desktops";

/*SECTION ABOVE MOBILE PHONES - TABLET  - LANDSCAPE -  >1920px */
@media (min-width: 1920px) {
	.hero-section-1,
	.hero-section-2,
	.hero-section-3 {
		@include flexMix;
	}

	body {
		//NOTE: UI/UX: ANIMATION & TRANSITIONS: 1 - Page Background Image - Reveal effect
		background-image: none; // set the inital state of the property 	- for animation
		opacity: 0; // set the inital state of the property - for animation
		background-color: #000000;
		animation: bg-reveal 3s ease-in forwards;

		.page-container {
			background: url("/img/img-desktop-l/desktop-home-bg.png");
			/*Using the  !important flag to overide the assignment of the background images for the diffrent veiwport variants of the design.*/
			@include pageContainer;

			.page__surface {
				@include pageSurface;
			} //end page__surface
		} //end page-continer

		.page-flipped {
			transform: translateX(0.5%) rotateY(90deg);
		}

		.sitenav-logo-contact-container {
			a#logo {
				.sitenav__logo {
					opacity: 0; // set the inital state of the property - for animation
					// pointer-events: none; // set the inital state of the property - for animation
					animation: logo-animate 0.9s ease-in 15.5s forwards;
					animation: logo-blink 0.1s 3 linear 16.5s forwards;
				} //end sitenav__logo
			} //end a#logo

			a#logo:hover {
				.sitenav__logo {
					top: -0.5px;
					// transform:  translate scaleZ(10px);
				} //end .sitenav__logo
			} //end a#logo:hover

			.sitenav__contactNum {
				opacity: 0; // set the inital state of the property - for animation
				pointer-events: none; // set the inital state of the property - for animation
				animation: logo-animate 0.9s ease-in 16s forwards;
			} // end sitenav__contactNum
		} //end sitenav-logo-contact-container

		//NOTE: UI/UX: ANIMATION & TRANSITIONS: 4 - Top navigation elements - Reveal effect

		.mainnav__links {
			top: 26px;
			left: 698px;

			a {
				margin-top: 0px;
				margin-bottom: 0px;
				padding: 0px;
			} //end mainnav__links a

			//NOTE: MN-TOP-NAV-LINK - UI/UX: HOVER STATE
			//===================================

			.mainnav__links-link-container {
				@include mainnav__links-link-container;
				//NOTE: Top Nav links  UI/UX additions:
				/*Hover state changes */
				.mainnav__links-link__href {
					@include mainnav__links-link__href;
				} //end mainnav__links-link__href


				.mainnav__links-link__href:after {
					@include mainnav__links-link__href-after;
				} //end mainnav__links-link__href:after

				.mainnav__links-link__href:hover {
					@include mainnav__links-link__href-hover;
				} //end mainnav__links-link__href:hover

				

				.mainnav__links-link__href:hover:after {
					@include mainnav__links-link__href-hover-after;
				} //end mainnav__links-link__href

				.mainnav__links-link__text {
					@include mainnav__links-link__text;
				} //end mainnav__links-link__text

				opacity: 0; // set the inital state of the property - for animation
				pointer-events: none; // set the inital state of the property - for animation
				animation: top-nav-reveal 0.7s ease-in 11.5s forwards;
			} //end mainnav__links-link-container

			.mainnav__links-link-container:hover {
				position: relative;
				top: -28px; // 2px offset upwards to give a look of the link being raised once hovered over. the adjustment on the link is -26px so adding 2px more when hovered.

				filter: drop-shadow(0px 2.5px rgba(0, 0, 0, 0.221));
				/* Two length values and a color */
				/* drop-shadow( <length> <length> <color> ) */
			} //end mainnav__links-link-container:hover


		} //end mainnav__links

		//NOTE: Moved this code from the nav base css. Correcting the separation of concerns in the scss files. Ensures the Hero Copy is placed in the right area for Desktop screens.
		.main-container {
			position: relative;
			top: 220px;
		} // end main container

		.hero__copy {
			top: -72px;
			right: -405px;
			@include heroCopy;
			font-size: $text4x-6; //65px;
			color: #ffbf00;
			margin: 0px 26px 61px 234px;
			letter-spacing: 0px;
			text-shadow: 0px 1px 1px #000000;
			line-height: 110%; //NOTE: The property for brining text vertically closer together.
			text-align: left;

			//NOTE: UI/UX: ANIMATION & TRANSITIONS: 2 - Hero Copy -Typewriter effect
			.tw-fx-1 {
				display: inline-block;
				overflow: hidden;

				white-space: nowrap;
				font-size: 4.06rem;
				width: 0;
				animation: typing 1s steps(20, end) 3.5s forwards,
					cursor-off 0.5s ease-out 4.5s forwards;
			} //end tw-fx-1

			.tw-fx-2 {
				display: inline-block;
				overflow: hidden;

				white-space: nowrap;
				font-size: 4.06rem;
				width: 0;

				animation: short-type 0.9s steps(16, end) forwards,
					cursor-off 1.4s ease-out forwards;
				animation-delay: 5s;
			} //end tw-fx-2

			.tw-fx-3 {
				display: inline-block;
				overflow: hidden;

				white-space: nowrap;
				font-size: 4.06rem;
				width: 0;
				animation: typing 1s steps(20, end) forwards, blink 0.8s infinite;
				animation-delay: 6.5s;
			} //end tw-fx-3
		} //end hero__copy

		.hero__article-2 {
			width: 42vw; //give the boxed look from the design.

			.hero__copy-body {
				@include bodyCopy;
				font-size: $text1X-25; //20px; // initial design was 15... but bettter readability at 20px - for minimum in body copy.
				color: #ffffff;
				position: relative;
				top: -109px;
				right: -460px;
				margin: 0px 50px 0px 200px;
				letter-spacing: 0px;
				text-shadow: 1px 1px 0px #00000059;
				opacity: 1;
				text-align: right;
				line-height: 100%; //NOTE: The property for brining text vertically closer together.
				// margin-bottom: 49px;// turn off the botttom margin for design at this variant.

				//NOTE: UI/UX: ANIMATION & TRANSITIONS: 3 - Hero supporting text -reveal
				opacity: 0; // set the inital state of the text visibility - for animation
				animation: support-reveal 2s ease-in 8.5s forwards;
			} // end hero__article-2
		} // end hero__article-2

		a.hero-button::before {
			content: " ";

			width: 45px;
			height: 95px;
			transform: rotateZ(15deg);
			background-color: rgba(255, 255, 255, 0.37);
			position: relative;
			z-index: 10;
			float: left;
			top: -13px;
			opacity: 0;
			animation: gleam 2.1s 1 linear 24.5s forwards;
		}
		//TODO: work on pusedo states across page and tool-tip
		.hero-button:hover {
			background: rgb(255, 230, 0) no-repeat padding-box;
		} //end hero-button:hover state

		.hero-button {
			background: #ffbf00 no-repeat padding-box;
			box-shadow: 0px 2px 0px #000000;
			border: 1px solid #707070;
			border-radius: 8px;
			opacity: 1;
			position: relative;
			top: -55px;
			left: 627px;
			width: 379px;
			height: 74px;
			margin-bottom: 51px;
			@include CTAButton;
			font-size: $text1x-87; //30px;

			text-decoration: none;
			overflow: hidden; //NOTE: Desgin variant: Added to constrain the animation of the gleam/light streak running across the button to stay within the dimensions of the hero button.
			.hero-text {
				position: relative;
				top: 13px;
				margin: auto 10%;
				text-align: center;
				//NOTE: added to simplify needing to add any unecessary code just to try to better target the button to trigger page turn animation.
				pointer-events: none; //NOTE: Design variant, removing the event propagation from the text element in the button so the JS file picks up only the click event of the button itself and passes the href target to the next page.
			} //end hero-text

			@media (max-width: 359px) {
				margin-bottom: 50px;
			}
			opacity: 0; // set the inital state of the property - for animation
			pointer-events: none; // set the inital state of the property - for animation
			animation: CTAB-reveal 0.9s ease-in 17.5s forwards;
		} // end hero-button

		.lower-nav-container {
			display: block !important;
			position: fixed;
			bottom: 70px; //NOTE: placement to match the home, projects, and about positioning of the nav.
			left: 50vw;

			//NOTE: Design variant: Used the container for positioning the elements of the lower nav. With it being absolutely placed, we can use relative positioning for the child elements (chevrons and the social icons)

			.nav-chevrons {
				position: relative; // NOTE: Relative to the parent lower-nav-container div.
				top: 12px;
				right: 81px;
				.left-chev {
					position: inherit;
					left: -14px; //pull chevron to the left a little
					opacity: 0; // set the inital state of the property - for animation
					pointer-events: none; // set the inital state of the property - for animation
					animation: lower-nav-reveal 0.8s ease-in 18s forwards;
					cursor: pointer;
				} //end left-chev

				.right-chev {
					position: inherit;
					right: -32px; //pull chevron to the right a little
					opacity: 0; // set the inital state of the property - for animation
					pointer-events: none; // set the inital state of the property - for animation
					animation: lower-nav-reveal 0.8s ease-in 18.5s forwards;
					cursor: pointer;
				} //end right-chev
			} //end nav-chevrons

			.main-footer {
				.main-footer__social-icons {
					display: flex;
					margin: 0px;
					padding: 0px;
					list-style: none;
					text-decoration: none;
					justify-content: center;
					//NOTE: Design vaieant: The outer container creates an offset, so this corrects for it. Centering the social media icons.
					position: relative;
					right: 3.5vw;
					//NOTE: UI/UX: ANIMATION & TRANSITIONS: 8 - Lower Social Media Icons - Appear and bounce effect
					li {
						#smi-yt,
						#smi-b,
						#smi-fb,
						#smi-ig,
						#smi-lk {
							position: relative;
						} //end img

						#smi-yt {
							opacity: 0; //initial state of property for animation - for animation
							animation: social-icons-animate 0.5s ease 19.5s forwards;
						} //end smi-yt
						
						#smi-yt:hover {
							@include lowerNav-hoverstate;
						} //end #smi-yt:hover

						//======================================================

						#smi-b {
							opacity: 0; //initial state of property for animation - for animation
							animation: social-icons-animate 0.5s ease 19.9s forwards;
						} //end smi-b

						#smi-b:hover {
							@include lowerNav-hoverstate;
						} //end #smi-b:hover

						//======================================================



						#smi-fb {
							opacity: 0; //initial state of property for animation - for animation
							animation: social-icons-animate 0.5s ease 20s forwards;
						} // end smi-fb

						#smi-fb:hover {
							@include lowerNav-hoverstate;
						} //end #smi-fb:hover



						//======================================================

						#smi-ig {
							opacity: 0; //initial state of property for animation - for animation
							animation: social-icons-animate 0.5s ease 20.9s forwards;
						} //end smi-ig


						#smi-ig:hover {
							@include lowerNav-hoverstate;
						} //end #smi-ig:hover
						//======================================================

						#smi-lk {
							opacity: 0; //initial state of property for animation - for animation
							animation: social-icons-animate 0.5s ease 21s forwards;
						} //end smi-lk


						#smi-lk:hover {
							@include lowerNav-hoverstate;
						} //end #smi-lk:hover
						//======================================================

						position: relative;
						margin-right: 10px;
						cursor: pointer;
					} //end li
				} //end social-icons
			} //end main-footer
		} // end lower-nav-elements
		/*SECTION  ANIMATIONS & TRANSITIONS 
		ABOVE MOBILE PHONES - TABLET RANGE  - LANDSCAPE -   >1920px */
		/*ANIMATIONS: */
		//==========================
		//Playback Master sequence:
		//1 - page bg-image:
		//2 - Hero Copy:
		//3 - hero supporting text:
		//4 - top nav elements- in order - h, p, a, c, b:
		//5 - logo & contact number:
		//6 - CTAB:
		//7 - lower nav:
		//8: - social icons:
		//==========================

		//1 - page bg-image:

		@keyframes bg-reveal {
			@include basicReveal;
		} //end bg-reveal

		//--------------------------

		//2 - Hero Copy:
		@keyframes typing {
			//TODO: working on the inital state of the typehead. Needs to come on oly when the animation is about to start.
			0% {
				width: 0;
				border-right: 0em;
			}

			15% {
				width: 15%;
				border-right: 0.15em solid $brandColor;
			}
			100% {
				width: 100%;
				border-right: 0.15em solid $brandColor;
			}
		}

		@keyframes short-type {
			0% {
				width: 0;
				border-right: 0em;
			}

			15% {
				width: 15%;
				border-right: 0.15em solid $brandColor;
			}
			100% {
				width: 85%;
				border-right: 0.15em solid $brandColor;
			}
		}

		@keyframes blink {
			from {
				border-color: transparent;
			}
			to {
				border-color: $brandColor;
			}
		}

		@keyframes cursor-off {
			from {
				border-color: $brandColor;
			}
			to {
				border-color: transparent;
			}
		}

		//--------------------------

		//3 - hero supporting text:
		@keyframes support-reveal {
			@include basicReveal;
		} //end
		//--------------------------

		//4 - top nav elements- in order - h, p, a, c, b:
		@keyframes top-nav-reveal {
			@include basicReveal;
			from {
				opacity: 0;
				pointer-events: none;
			}
			to {
				opacity: 1;
				pointer-events: all;
			}
		} //end 	top-nav-reveal
		//--------------------------

		//5 - logo & contact number:
		@keyframes logo-animate {
			@include basicReveal;
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		} //end logo-reveal

		@keyframes logo-blink {
			@include basicReveal;
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		} // end logo-blink
		//--------------------------

		//6 - CTAB:
		@keyframes CTAB-reveal {
			@include basicReveal;
			from {
				opacity: 0;
				pointer-events: none;
			}
			to {
				opacity: 1;
				pointer-events: all;
			}
		} //end CTAB-reveal

		@keyframes gleam {
			0% {
				left: 0;
				opacity: 0;
			}

			50% {
				left: 50%;
				opacity: 50%;
			}

			100% {
				left: 100%;
				opacity: 0%;
			}
		}

		// //6 - CTAB:
		//--------------------------

		//7 - lower nav:
		@keyframes lower-nav-reveal {
			@include basicReveal;
			from {
				opacity: 0;
				pointer-events: none;
			}
			to {
				opacity: 1;
				pointer-events: all;
			}
		} //end lower nav
		//--------------------------

		//8: - social icons:

		@keyframes social-icons-animate {
			@include basicReveal;
			0% {
				top: 0px;
			}

			50% {
				top: -4px;
			}

			100% {
				top: 0px;
			}
		} //end social-icons-reveal
		//--------------------------

		@keyframes top-nav-gleam {
			0% {
				left: 0;
				opacity: 0;
			}

			50% {
				left: 50%;
				opacity: 50%;
			}

			100% {
				left: 100%;
				opacity: 0%;
			}
		}

		/*END ANIMATIONS*/
		/*!SECTION END ANIMATIONS & TRANSITIONS 
		ABOVE MOBILE PHONES - TABLET RANGE  - LANDSCAPE -   >1920px */
	} // end body
} //end media query
/*!SECTION ABOVE MOBILE PHONES - TABLET RANGE  - LANDSCAPE -   >1920px */
/*!SECTION: END - [RESPONSIVE DESIGN] */
