/*SECTION ABOVE MOBILE PHONES - TABLET RANGE  - DESKTOP-SMALL -   >1280px */
@import "..//partials/_nav-base-desktops-sm";
@media(min-width: 1280px){

    

    body{
        	//NOTE: Moved this code from the nav base css. Correcting the separation of concerns in the scss files. Ensures the Hero Copy is placed in the right area for Desktop screens. 
		.main-container {
            
            position: relative;
            top: 220px;
        } // end main container

        
        background: url("/img/img-desktop-sm-1280/desktop-sm-home-bg.PNG");

    }//end body

}//end media query
/*!SECTION ABOVE MOBILE PHONES - TABLET RANGE  - DESKTOP-SMALL -   >1280px */
/*!SECTION: END - [RESPONSIVE DESIGN] */