@import "..//partials/_nav-base-desktops";

/*SECTION ABOVE MOBILE PHONES - TABLET  - LANDSCAPE -  >1920px */
@media (min-width: 1920px) {
	.hero-section-1,
	.hero-section-2,
	.hero-section-3 {
		@include flexMix;
	}

	body {
		background: url("/img/img-desktop-l/desktop-home-bg.png");
		/*Using the  !important flag to overide the assignment of the background images for the diffrent veiwport variants of the design.*/

		.hero__copy {
			top: -72px;
			right: -405px;
			@include heroCopy;
			font-size: $text4x-6; //65px;
			color: #ffbf00;
			margin: 0px 26px 61px 234px;
			letter-spacing: 0px;
			text-shadow: 0px 1px 1px #000000;
			line-height: 110%; //NOTE: The property for brining text vertically closer together.
			text-align: right;
		} //end hero__copy

		.hero__article-2 {
			width: 42vw; //give the boxed look from the design.

			.hero__copy-body {
				@include bodyCopy;
				font-size: $text1X-25; //20px; // initial design was 15... but bettter readability at 20px - for minimum in body copy.
				color: #ffffff;
				position: relative;
				top: -109px;
				right: -460px;
				margin: 0px 50px 0px 200px;
				letter-spacing: 0px;
				text-shadow: 1px 1px 0px #00000059;
				opacity: 1;
				text-align: right;
				line-height: 100%; //NOTE: The property for brining text vertically closer together.
				// margin-bottom: 49px;// turn off the botttom margin for design at this variant.
				@media (max-width: 359px) {
					margin: 0px 57px 9px;
				} //end hero__copy-body
			} // end hero__article-2
		} // end hero__article-2

		.hero-button {
			background: #ffbf00 0% 0% no-repeat padding-box;
			box-shadow: 0px 2px 0px #000000;
			border: 1px solid #707070;
			border-radius: 8px;
			opacity: 1;
			position: relative;
			top: -55px;
			left: 627px;
			width: 379px;
			height: 74px;
			margin-bottom: 51px;
			@include CTAButton;
			font-size: $text1x-87; //30px;

			text-decoration: none;

			.hero-text {
				position: relative;
				top: 13px;
				margin: auto 10%;
				text-align: center;
			} //end hero-text

			@media (max-width: 359px) {
				margin-bottom: 50px;
			}
		} // end hero-button

		.lower-nav-container {
			display: block !important;
			position: fixed;
			bottom: 70px; //NOTE: placement to match the home, projects, and about positioning of the nav.
			left: 50vw;

			//NOTE: Design variant: Used the container for positioning the elements of the lower nav. With it being absolutely placed, we can use relative positioning for the child elements (chevrons and the social icons)

			.nav-chevrons {
				position: relative; // NOTE: Relative to the parent lower-nav-container div.
				top: 12px;
				right: 81px;
				.left-chev {
					position: inherit;
					left: 11px; //pull chevron to the left a little
				} //end left-chev

				.right-chev {
					position: inherit;
					right: -6px; //pull chevron to the right a little
				} //end right-chev
			} //end nav-chevrons

			.main-footer {
				.main-footer__social-icons {
					display: flex;
					margin: 0px;
					padding: 0px;
					list-style: none;
					text-decoration: none;
					justify-content: center;
					//NOTE: Design vaieant: The outer container creates an offset, so this corrects for it. Centering the social media icons.
					position: relative;
					right: 3.5vw;

					li {
						margin-right: 10px;
					} //end li
				} //end social-icons
			} //end main-footer
		} // end lower-nav-elements
	} // end body
} //end media query
/*!SECTION ABOVE MOBILE PHONES - TABLET RANGE  - LANDSCAPE -   >1920px */
/*!SECTION: END - [RESPONSIVE DESIGN] */
