/*SECTION ABOVE MOBILE PHONES - TABLET  - LANDSCAPE -  >1000px */
@media (min-width: 1920px) {
	.sitenav__logo {
		width: 144px;
		height: 77px;
		top: 0px;
		left: 166px;
	}

	.sitenav__contactNum {
		top: 75px;
		left: 180px;
		font-size: $textBase; // 16px; rem base
	}

	.mainnav__links {
		a {
			border: #ffffff5e 1px solid;
			background-color: #16161621;
			padding: 5px 25px;
			margin: 0px 5px;
			font-size: $text1X-25; // 20px;
		}
	}

	.main-container {
		justify-content: center;
		position: relative;
		top: 220px;
	} // end main container

	.hero-section-1,
	.hero-section-2,
	.hero-section-3 {
		@include flexMix;
	}

	body {
		background: url("/img/img-desktop-l/desktop-home-bg.png");
		/*Using the  !important flag to overide the assignment of the background images for the diffrent veiwport variants of the design.*/

		.hero__copy {
			top: -156px;
			right: -405px;
			@include heroCopy;
			font-size: $text4x-6; //65px;
			color: #ffbf00;
			margin: 0px 26px 61px 234px;
			letter-spacing: 0px;
			text-shadow: 0px 1px 1px #000000;
			line-height: 110%; //NOTE: The property for brining text vertically closer together.
			text-align: right;
		} //end hero__copy

		.hero__article-2 {
			width: 42vw; //give the boxed look from the design.

			.hero__copy-body {
				@include bodyCopy;
				font-size: $text1X-25; //20px; // initial design was 15... but bettter readability at 20px - for minimum in body copy.
				color: #ffffff;
				position: relative;
				top: -210px;
				right: -460px;
				margin: 0px 50px 0px 200px;
				letter-spacing: 0px;
				text-shadow: 1px 1px 0px #00000059;
				opacity: 1;
				text-align: right;
				line-height: 100%; //NOTE: The property for brining text vertically closer together.
				// margin-bottom: 49px;// turn off the botttom margin for design at this variant.
				@media (max-width: 359px) {
					margin: 0px 57px 9px;
				} //end hero__copy-body
			} // end hero__article-2
		} // end hero__article-2

		.hero-button {
			background: #ffbf00 0% 0% no-repeat padding-box;
			box-shadow: 0px 2px 0px #000000;
			border: 1px solid #707070;
			border-radius: 8px;
			opacity: 1;
			position: relative;
			top: -195px;
			left: 627px;
			width: 379px;
			height: 74px;
			margin-bottom: 51px;
			@include CTAButton;
			font-size: $text1x-87; //30px;

			text-decoration: none;

			.hero-text {
				position: relative;
				top: 13px;
				margin: auto 10%;
				text-align: center;
			} //end hero-text

			@media (max-width: 359px) {
				margin-bottom: 50px;
			}
		} // end hero-button

		.nav-chevrons {
			@include flexMix;
			margin: 0px;
			position: relative;
			top: 127px;
			.left-chev {
				margin-right: 50px;
			}
		}

		.main-footer {
			margin: 0px;
			position: relative;
			top: 140px;
			padding-bottom: 20px;
		}
		.main-footer__social-icons {
			margin: 0px;
			padding: 0px;
			@include flexMix;
			list-style: none;
			text-decoration: none;
			justify-content: center;

			li {
				margin-right: 10px;
			}
		} // end main-footer__social-icons
	}
}
/*!SECTION ABOVE MOBILE PHONES - TABLET RANGE  - LANDSCAPE -   >1000px */
/*!SECTION: END - [RESPONSIVE DESIGN] */
