@media(min-width: 768px){



    body {
        background-image: url("/img/img-tablet-p/tablet-contact-bg.png");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-color: #fff;
    }//end of body-container 



}// end of media query