@import "..//partials/_base.css";
@import "..//partials/variables";
@import "..//partials/mixins";
@import "..//partials/nav-base-mobile";

body {
	background-image: url("/img/img-mobile-p/mobile-contact-bg.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-color: #fff;
    
    .main-container{

        
    }
}