/*SECTION ABOVE MOBILE PHONES - TABLET RANGE  - LANDSCAPE -   >1024px */
@media (min-width: 1024px) {
	@mixin csContentBox-TL {
		position: relative;
		width: 400px;
		height: 300px;
		top: 0px;
		left: 0px;
		background: none;
		border-radius: 0;
		margin: 0px;
	}

	@mixin csContentBox-ClientDetails-TL {
		position: relative;
		width: 228px;
		height: 0px;
		top: 0px;
		left: 0px;
		background-color: rgba(255, 255, 255, 0.11);
		border-radius: 4%;
		margin: 0px;
	}

	//NOTE: design variant: Creating the content box specifically for the wider veiwport variants replacing the boxes used in portrait versions.
	@mixin csContentBox-Projectdetails-TL {
		position: relative;
		width: 450px;
		height: 650px;
		top: -440px;
		left: 180px;
		background-color: rgba(255, 255, 255, 0.11);
		border-radius: 4%;
		margin: 0px;
		z-index: 1;
	}
	body {
		.atf-1 {
			background-image: url("/img/img-tablet-l/tablet-landscape-ps-ng-bg.png");
			background-repeat: no-repeat;
			background-position: left 0px top 0px; // first value left and right, second - top and bottom.
			background-attachment: scroll;

			//NOTE: design variant: height reset
			height: 800px;

			.cs-project {
				@include csContentBox-ClientDetails-TL;
				margin-bottom: 80px;
				height: 287px;

				.cs-project__title {
					//NOTE: design variant:
					margin-top: 40px; // aligning the title with project description title.
					font-size: $text1X-25; //20px;
				} //end cs-project__title

				.cs-project__services {
					//NOTE: design variant:

					.cs-project__service {
						//NOTE: design variant:
						font-size: $text1x-12; //18px;
					} //endccs-project__service
				} //end cs-project__services

				top: -180px;
				left: -60px;
			} //end cs-project

			.cs-client-details {
				@include csContentBox-ClientDetails-TL;
				height: 300px;
				//NOTE: design variant:

				.cs-client-details__title {
					//NOTE: design variant:
					font-size: $text1X-25; //20px;
				} //end cs-client-details__title

				.cs-client-details__status {
					//NOTE: design variant:
					font-size: $text1x-12; //18px;
				} //end cs-client-details__status

				.status-flag {
					//NOTE: design variant:
				} //end status-flag

				.cs-client-details__text {
					//NOTE: design variant:
					font-size: $text1x-12; //18px;
				} //end cs-client-details__text

				position: relative;
				top: 125px;
				left: -290px;
			} //end cs-client-details
		} //end atf-1

		.btf-2 {
			.btf-2__project-container-box {
				@include csContentBox-Projectdetails-TL;

				.cs-project-desc__title,
				.cs-project-sum__title {
					//NOTE: design variant:

					font-size: $text1x-37; //22px;
				} // end cs-project-desc & sun title

				.cs-project-desc {
					//NOTE: design variant:

					@include csContentBox-TL;
					top: 31px;

					.cs-project-desc__text {
						//NOTE: design variant:
						font-size: $text1x-12; //18px;
					} //end cs-project__text

					left: 25px;
				} //end cs-project-desc

				//divider
				.project-info-divider {
					//NOTE: hidden on all devices below 1024px width
					display: inline-block !important;
					transform: rotate(0deg);
					position: relative;
					top: -50px;
					left: 0px;
					width: 350px;
					border-width: 1px;
					background-color: #fff;
				} //end project-info-divider

				//divider

				.cs-project-sum {
					//NOTE: design variant:
					@include csContentBox-TL;

					top: 0px;

					.cs-project-sum__text-1 {
						//NOTE: design variant:

						.cs-project-sum__text__head {
							//NOTE: design variant:
							font-weight: nth($f-weights, 2);
							font-size: $text1x-12; //18px;
						} //end cs-project-sum__text__head

						.cs-project-sum__text__body {
							//NOTE: design variant:
							font-size: $text1x-12; //18px;
						} //end cs-project-sum__text__body
					} //end cs-project-sum__text-1
					top: -45px;
					left: 25px;
				} //end cs-project-sum
			} //end btf-2__project-container-box
		} //end btf-2

		.btl {
			.btl__title-container {
				position: relative;
				top: 40px;
				//NOTE: Made an extra container to hold all the titles and more easily move them around.

				.btl__title {
					//NOTE: Design variant - Expanded the area of the text heading by widening the margins to make use of the wider screen space as in the design for this viewport. Moved the "THE LINES" title section up, so it can be aligned with the first title. "BETWEEN" and "THE LINES" were separated to make it easier to stack them in the mobile viewport design variation (smaller screen to work with)

					margin-left: 200px;
					margin-right: 200px;

					.btl__title-1 {
						//NOTE: Design variant
						position: relative;
						left: -190px;
					} //end of btl__title-1

					.btl__title-2 {
						//NOTE: Design variant
						font-size: $text3x-43; //55px;
						position: relative;
						top: -45px;
						right: -99px;
					} //end of btl__title-2
				} //end of btl-title

				.btl__text {
					//NOTE Design variant

					margin-left: 200px;
					margin-right: 200px;

					//NOTE: moving the container for the milestones and deliverables up to match the design for landscape.
					position: relative;
					top: -60px;

					.btl__text-1 {
						position: relative;
						left: -125px;
						font-size: $text1x-37; //22px;
					} //end of btl__text-1

					.btl__text-2 {
						position: relative;
						top: -26px;
						right: -99px;
						font-size: $text1x-37; //22px;
					} //end of btl__text-2
				} //end btl__text
			} //end btl__title-container
		} //end of btl

		.btl-content-block-1 {
			//NOTE: Design variant: Height reset so content only takes as much space as is needed as the template expands and shrinks based on the content of the project being described. removed the fixed widths of mobile design variant.
			height: 800px; // reseting height of container.

			.btl-content-block__time {
				font-size: $text2X-81; //45px;
				color: $brandColor;
				//NOTE: design variant: //reseting position witihin parent.
				margin-top: 0px; //reseting position witihin parent.
				margin-bottom: 0px; //reseting position witihin parent.
			} //end btl-content-block__time

			.btl-content-block__time-text_2 {
				//NOTE: design variant:
				font-size: $text1x-56; //25px;
				color: $brandColor;
				//NOTE: design variant: //reseting position witihin parent.
				margin-top: 0px; //reseting position witihin parent.
				margin-bottom: 0px; //reseting position witihin parent.
				top: 0px; //reseting position witihin parent.
			} //end btl-content-block__time-text_2

			.btl-content-block__sub {
				margin-left: 130px;
				margin-right: 130px;
				text-align: left;
			} //end btl-content-block__sub
			.btl-content-block__text {
				margin-left: 130px;
				margin-right: 130px;
				text-align: left;
			} //end btl-content-block__text
		} //end btl-content-block-1

		.btl-content-block-2 {
			//NOTE: Design variant: Height reset so content only takes as much space as is needed as the template expands and shrinks based on the content of the project being described. removed the fixed widths of mobile design variant.
			height: 800px; // reseting height of container.
			justify-content: start;

			.btl-content-block__time {
				//NOTE: design variant:
				font-size: $text2X-81; //45px;
				//NOTE: design variant: //reseting position witihin parent.
				margin-top: 0px; //reseting position witihin parent.
				margin-bottom: 0px; //reseting position witihin parent.
				top: 25px; //reseting position witihin parent.
			} //end btl-content-block__time

			.btl-content-block__time__sub {
				//NOTE: design variant:
				font-size: $text1x-56; //25px;
				margin-top: 0px; //reseting position witihin parent.
				margin-bottom: 0px; //reseting position witihin parent.
				top: 10px; //reseting position witihin parent.
			} //end btl-content-block__time

			.btl-content-block__sub {
				margin-left: 130px;
				margin-right: 130px;
				text-align: left;
				position: relative;
				top: 40px;
			} //end btl-content-block__sub
			.btl-content-block__text {
				margin-left: 130px;
				margin-right: 130px;
				text-align: left;
				position: relative;
				top: 40px;
			} //end btl-content-block__text
		} //end btl-content-block-2

		.mobile-cta-footer {
			//NOTE: Design variant: Height reset so content only takes as much space as is needed as the template expands and shrinks based on the content of the project being described. removed the fixed widths of mobile design variant.
			height: 800px; // reseting height of container.
		} // mobile-cta-footer

		//TODO: WORK SPACE NOTE: - left off on reseting the positioning on heights of each content section. Was working on making the template more scalable, not using only fixed height content block dimensions.
	} //end body
} // end media query
/*!SECTION ABOVE MOBILE PHONES - TABLET RANGE  - LANDSCAPE -   >1024px */
