@import "..//partials/_nav-base-desktops";
/*SECTION ABOVE MOBILE PHONES - TABLET  - LANDSCAPE -  >1920px */
@media (min-width: 1920px) {
	@mixin csContentBox-Project-DL {
		position: relative;
		width: 674px;
		height: 388px;
		top: -170px;
		left: -6px;
		background-color: rgba(255, 255, 255, 0.11);
		border-radius: 1%;
		margin: 0px;
	}

	@mixin csContentBox-ClientDetails-DL {
		position: relative;
		width: 674px;
		height: 388px;
		top: 250px;
		left: -680px;
		background-color: rgba(255, 255, 255, 0.11);
		border-radius: 1%;
		margin: 0px;
	}

	//NOTE: design variant: Creating the content box specifically for the wider veiwport variants replacing the boxes used in portrait versions.
	@mixin csContentBox-Projectdetails-DL {
		position: relative;
		width: 674px;
		height: 810px;
		top: -460px;
		left: 350px;
		background-color: rgba(255, 255, 255, 0.11);
		border-radius: 1%;
		margin: 0px;
		z-index: 1;
	}
	//SECTION MOBILE - PORTRAIT - BODY

	.main-container {
		top: 0px; //resetting main-continer nav as in nav-bass it has an adjustment.
	}

	body {
		.atf-1 {
			height: 1000px; // height of the containing box
			background-image: url("/img/img-desktop-l/desktop-ps-ng-bg.png");
			background-repeat: no-repeat;
			background-position: left 0px top 0px; // first value left and right, second - top and bottom.
			background-attachment: scroll;

			//All content block title styles - Above the Fold and Below

			.cs-project {
				@include csContentBox-Project-DL;
				.cs-project__title {
					//NOTE: Design variant:
					font-size: $text2X-81; //45px;
				}

				.cs-project__services {
					.cs-project__service{
							//NOTE: design variant:
							font-size: $text1x-56 ; //25px;
					}//end .cs-project__service
				}
			}

			.cs-client-details {
				@include csContentBox-ClientDetails-DL;

				.cs-client-details__title {
					//NOTE: Design variant:
					font-size: $text2X-81; //45px;
				}

				.cs-client-details__status {
						//NOTE: design variant:
						font-size: $text2x-18 ; //35px;

				}
				.status-flag {
							//NOTE: design variant:
							font-size: $text2x-18 ; //35px;

				}
				.cs-client-details__text {
							//NOTE: design variant:
							font-size: $text1x-56 ; //25px;
				}

				// top: 0px;
				// left: 0px;
			} //end of .cs-client-details
		} // END of ATF--

		.btf-2 {
			.btf-2__project-container-box {
				@include csContentBox-Projectdetails-DL;

				.cs-project-desc__title {
					//NOTE: Design variant:
					font-size: $text2X-81; //45px;
				} //end .cs-project-desc__title

				.cs-project-sum__title {
					//NOTE: design variant:
					font-size: $text2X-81; //45px;
				} // end cs-project-sum title

				.cs-project-desc {
					//NOTE: design variant:

					.cs-project-desc__text {
						//NOTE: design variant:
						font-size: $text1x-31 ; //21px;
					} //end cs-project__text
					top: -10px;
					margin-left: auto;
					margin-right: auto;
				} //end cs-project-desc

				//divider
				.project-info-divider {
					//NOTE: hidden on all devices below 1024px width
					width: 90%;
					top: 5px;
				} //end project-info-divider

				//divider

				.cs-project-sum {
					//NOTE: design variant:
					// @include

					.cs-project-sum__text-1 {
						//NOTE: design variant:

						.cs-project-sum__text__head {
							//NOTE: design variant:
							


						} //end cs-project-sum__text__head

						.cs-project-sum__text__body {
							//NOTE: design variant:


						} //end cs-project-sum__text__body
					} //end cs-project-sum__text-1
					//NOTE: Design variant: Relative positioning already declared so just giving adjustments in arrangment oftesxt here.
					top: -15px;
					margin-left: auto;
					margin-right: auto;
				} //end cs-project-sum
				margin-left: auto;
				margin-right: auto;
			} //end btf-2__project-container-box
		} //end btf-2


		.btl {
			text-align: center;
			.btl__title-container {
				position: relative;
				// top: 40px;
				//NOTE: Made an extra container to hold all the titles and more easily move them around.

				.btl__title {
					//NOTE: Design variant - Expanded the area of the text heading by widening the margins to make use of the wider screen space as in the design for this viewport. Moved the "THE LINES" title section up, so it can be aligned with the first title. "BETWEEN" and "THE LINES" were separated to make it easier to stack them in the mobile viewport design variation (smaller screen to work with)

					// margin-left: 200px;
					// margin-right: 200px;

					.btl__title-1 {
						//NOTE: Design variant
						// position: relative;
						// left: -190px;
					} //end of btl__title-1

					.btl__title-2 {
						//NOTE: Design variant
						font-size: $text3x-43; //55px;
						// position: relative;
						// top: -45px;
						// right: -99px;
					} //end of btl__title-2
				} //end of btl-title

				.btl__text {
					//NOTE Design variant

					// margin-left: 200px;
					// margin-right: 200px;

					//NOTE: moving the container for the milestones and deliverables up to match the design for landscape.
					position: relative;
					// top: -60px;

					.btl__text-1 {
						position: relative;
						left: -125px;
						font-size: $text1x-37; //22px;
					} //end of btl__text-1

					.btl__text-2 {
						position: relative;
						top: -26px;
						right: -99px;
						font-size: $text1x-37; //22px;
					} //end of btl__text-2
				} //end btl__text
			} //end btl__title-container
		} //end of btl
	} //end body
} //end media query
/*!SECTION ABOVE MOBILE PHONES - TABLET  - LANDSCAPE -  >1920px */
