@import "..//partials/_nav-base-desktops";
/*SECTION ABOVE MOBILE PHONES - TABLET  - LANDSCAPE -  >1920px */
@media (min-width: 1920px) {
	@mixin csContentBox-Project-DL {
		position: relative;
		width: 674px;
		height: 388px;
		top: -214px;
		left: -6px;
		background-color: rgba(255, 255, 255, 0.11);
		border-radius: 1%;
		margin: 0px;
	}

	@mixin csContentBox-ClientDetails-DL {
		position: relative;
		width: 674px;
		height: 388px;
		top: 209px;
		left: -680px;
		background-color: rgba(255, 255, 255, 0.11);
		border-radius: 1%;
		margin: 0px;
	}

	//NOTE: design variant: Creating the content box specifically for the wider veiwport variants replacing the boxes used in portrait versions.
	@mixin csContentBox-Projectdetails-DL {
		position: relative;
		width: 674px;
		height: 810px;
		top: -502px;
		left: 350px;
		background-color: rgba(255, 255, 255, 0.11);
		border-radius: 1%;
		margin: 0px;
		z-index: 1;
	}
	

	.main-container {
		top: 0px; //resetting main-continer nav as in nav-bass it has an adjustment.
	}

	body {
		.atf-1 {
			height: 1000px; // height of the containing box
			background-image: url("/img/img-desktop-l/desktop-ps-ng-bg.png");
			background-repeat: no-repeat;
			background-position: left 0px top 0px; // first value left and right, second - top and bottom.
			background-attachment: scroll;

			//All content block title styles - Above the Fold and Below

			.cs-project {
				@include csContentBox-Project-DL;
				.cs-project__title {
					//NOTE: Design variant:
					font-size: $text2X-81; //45px;
				}

				.cs-project__services {
					.cs-project__service {
						//NOTE: design variant:
						font-size: $text1x-56; //25px;
					} //end .cs-project__service
				}
			}

			.cs-client-details {
				@include csContentBox-ClientDetails-DL;

				.cs-client-details__title {
					//NOTE: Design variant:
					font-size: $text2X-81; //45px;
				}

				.cs-client-details__status {
					//NOTE: design variant:
					font-size: $text2x-18; //35px;
				}
				.status-flag {
					//NOTE: design variant:
					font-size: $text2x-18; //35px;
				}
				.cs-client-details__text {
					//NOTE: design variant:
					font-size: $text1x-56; //25px;
				}

				// top: 0px;
				// left: 0px;
			} //end of .cs-client-details
		} // END of ATF--

		.btf-2 {
			.btf-2__project-container-box {
				@include csContentBox-Projectdetails-DL;

				.cs-project-desc__title {
					//NOTE: Design variant:
					font-size: $text2X-81; //45px;
				} //end .cs-project-desc__title

				.cs-project-sum__title {
					//NOTE: design variant:
					font-size: $text2X-81; //45px;
				} // end cs-project-sum title

				.cs-project-desc {
					//NOTE: design variant:

					.cs-project-desc__text {
						//NOTE: design variant:
						font-size: $text1x-31; //21px;
					} //end cs-project__text
					top: -10px;
					margin-left: auto;
					margin-right: auto;
				} //end cs-project-desc

				//divider
				.project-info-divider {
					//NOTE: hidden on all devices below 1024px width
					width: 90%;
					top: 5px;
				} //end project-info-divider

				//divider

				.cs-project-sum {
					//NOTE: design variant:
					// @include

					.cs-project-sum__text-1 {
						//NOTE: design variant:

						.cs-project-sum__text__head {
							//NOTE: design variant:
						} //end cs-project-sum__text__head

						.cs-project-sum__text__body {
							//NOTE: design variant:
						} //end cs-project-sum__text__body
					} //end cs-project-sum__text-1
					//NOTE: Design variant: Relative positioning already declared so just giving adjustments in arrangment oftesxt here.
					top: -15px;
					margin-left: auto;
					margin-right: auto;
				} //end cs-project-sum
				margin-left: auto;
				margin-right: auto;
			} //end btf-2__project-container-box
		} //end btf-2

		.btl {
			height: 400px;
			
			//NOTE: Design variant: The BTL sections was moved up to cover the gap made after adjusting the ATF image for the page to better reflect the inner viewport dimensions (height specifically) on 1920px width devices. The actual amount of viewable pixels is 919px not 1080px as is stated, generally.
			//919px height is the full amount of viewble pixels when working with browsers for the web.  -See also: .btl-content-block-1: margin-top:-81px assignment, -> Main_footer: 100vh assignment. 
			position: relative;
    		top: -81px;


			text-align: center;
			.btl__title-container {
				position: relative;
				// top: 40px;
				//NOTE: Made an extra container to hold all the titles and more easily move them around.

				.btl__title {
					//NOTE: Design variant - Expanded the area of the text heading by widening the margins to make use of the wider screen space as in the design for this viewport. Moved the "THE LINES" title section up, so it can be aligned with the first title. "BETWEEN" and "THE LINES" were separated to make it easier to stack them in the mobile viewport design variation (smaller screen to work with)

					// margin-left: 200px;
					// margin-right: 200px;
					//Makes "BETWEEN THE LINES " TEXT one line again.
					@include flexMix;

					.btl__title-1 {
						//NOTE: Design variant
						// position: relative;
						// left: -190px;
						font-size: $text6X-56; //105px;
					} //end of btl__title-1

					.btl__title-2 {
						//NOTE: Design variant
						font-size: $text6X-56; //105px;

						// position: relative;
						// top: -45px;
						// right: -99px;
					} //end of btl__title-2
				} //end of btl-title

				.btl__text {
					//NOTE Design variant

					// margin-left: 200px;
					// margin-right: 200px;

					//NOTE: moving the container for the milestones and deliverables up to match the design for landscape.
					position: relative;
					// top: -60px;
					@include flexMix;
					line-height: normal;

					.btl__text-1 {
						//NOTE Design variant
						position: relative;
						left: 0px; //resetting values
						font-size: $text3x-12; //50px;
					} //end of btl__text-1

					.btl__text-2 {
						//NOTE Design variant
						position: relative;
						top: 0px; //resetting values
						right: 0px; //resetting values
						font-size: $text3x-12; //50px;
					} //end of btl__text-2
				} //end btl__text
			} //end btl__title-container
		} //end of btl

		.btl-content-block-1 {
			//NOTE: Design variant:
			margin-top: -82px;

			.btl-content-block__time {
				//NOTE: design variant: //reseting position witihin parent.
				font-size: $text4x-37; //70px;
				align-self: start;
				left: 120px;
				top: 5px;
				text-decoration: underline;
			} //end btl-content-block__time

			.btl-content-block__time-text_2 {
				//NOTE: design variant: //reseting position witihin parent.
				font-size: $text4x-37; //70px;
				position: absolute;
				left: 910px;
				top: 4px; //reseting position witihin parent - aligning with timeline text.
				text-decoration: underline;
			} //end btl-content-block__time-text_2

			.btl-content-block__sub {
				//NOTE: design variant
				font-size: $text1x-56; //25px;
			} //end btl-content-block__sub
			.btl-content-block__text {
				//NOTE: design variant
				font-size: $text1x-56; //25px;
			} //end btl-content-block__text
		} //end btl-content-block-1

		.btl-content-block-2 {
			//NOTE: Design variant: Height reset so content only takes as much space as is needed as the template expands and shrinks based on the content of the project being described. removed the fixed widths of mobile design variant.
			// height: 800px; // reseting height of container.
			justify-content: start;

			.btl-content-block__time {
				//NOTE: design variant:
				font-size: $text4x-37; //70px;
				align-self: start;
				left: 120px;
				top: 5px;
				text-decoration: underline;
			} //end btl-content-block__time

			.btl-content-block__time__sub {
				//NOTE: design variant: //reseting position witihin parent.
				font-size: $text4x-37; //70px;
				position: absolute;
				left: 930px;
				top: 4px; //reseting position witihin parent - aligning with timeline text.
				text-decoration: underline;
			} //end btl-content-block__time

			.btl-content-block__sub {
				//NOTE: design variant
				font-size: $text1x-56; //25px;
			} //end btl-content-block__sub
			.btl-content-block__text {
				//NOTE: design variant
				font-size: $text1x-56; //25px;
			} //end btl-content-block__text

			.legend-alt {
				//NOTE: using the important flag to overide the insline sytle's specificity.

				display: block !important;
				.legend-alt__circle {
					//NOTE: Design variant: position absolutely so to remove the legend from the documentflow as to not affect the cascade of the text in teh copy, and also afixes the legend elements where they were initally created, within their parent container (btl-content-block-1)
					position: absolute;
					overflow: hidden;
					top: 13px;
					display: block;
					background-color: #fff;
					width: 96px;
					height: 96px;
					border-radius: 50px;
					border: 1px solid #ffd866;
					right: 1795px; // to algin the circle graphic for the legend, trying left doesn't work.

					.legend-alt__circle-2 {
						position: absolute;
						overflow: hidden;
						top: 23px;
						left: 10%;
						right: 10%;
						display: block;
						margin: 0 auto;
						background-color: #ffd866;
						width: 48px;
						height: 48px;
						border-radius: 50px;
						border: 1px solid #ffd866;
					} //end legend__Circle-2
				} //end legend__Circle

				.legend-alt__line {
					position: absolute;
					overflow: hidden;
					top: 107px;
					left: 73px;
					display: block;
					background-color: #ffffff;
					width: 8px;
					height: 100%;
				} //end legend__line
			} //end legend
		} //end btl-content-block-2

		.mobile-cta-footer {
			//NOTE: Design Variant: Added 100% viewport height assignment to the footer section to even out the adjustments made to the BETWEEN THE LINES section of the case studies page. The BTL sections was moved up to cover the gap made after adjusting the ATF image for the page to better reflect the inner viewport dimensions (height specifically) on 1920px width devices. The actual amount of viewable pixels is 919px not 1080px as is stated, generally.
			//919px height is the full amount of viewble pixels when working with browsers for the web.  
			height: 100vh;
			.mobile-cta-footer-branding {
				.mobile-cta-footer-branding__text-1,
				.mobile-cta-footer-branding__text-2 {
					//NOTE: Design variant
					font-size: $text4x-37; //70px;
				}

				.mobile-cta-footer__logo {
					display: none; //replace the smaller logo with the bigger one.
				} //end mobile-cta-footer__logo

				.mobile-cta-footer__logo-l {
					//NOTE: Design variant: adjustments with increase in brandingtext size: same size as logo image on contact page
					//sing large image for logo.
					display: block !important;
					height: 137px;
					position: relative;
					top: -117px;
					left: 485px;
					overflow: hidden;
				}
			}

			.mobile-cta-footer__button {
				//NOTE: Design variant
				position: relative;
				top: -110px;

				.hero-text {
					//NOTE: Design variant - slight adjustment for the text in the link styled like a button, to center it.
					//Already has position relative inherited from parent stylesheet - main.scss.
					top: 13px;
				} //end hero-text
			}

			.mobile-cta-footer__sm-links {
				//NOTE: Design variant
				top: -100px;
			} //end mobile-cta-footer__sm-links
		} // end mobile-cta-footer
	} //end body
} //end media query
/*!SECTION ABOVE MOBILE PHONES - TABLET  - LANDSCAPE -  >1920px */
