@import "..//partials/_base.css";
@import "..//partials/variables";
@import "..//partials/mixins";
//SECTION: UNIVERSAL VARIABLES, LISTS & MIXINS
@mixin csContentBox {
	position: relative;
	width: 287px;
	height: 325px;
	top: 0px;
	left: 0px;
	background-color: rgba(255, 255, 255, 0.11);
	border-radius: 4%;
	margin: 0 36px;
}
//!SECTION UNIVERSAL VARIABLES, LISTS & MIXINS - END

/*SECTION: [RESPONSIVE DESIGN] */
/*NOTE : Query breakpoints*/

//SECTION: MOBILE- PORTRAIT - LAYOUT - FLEXBOX
//SECTION: MOBILE - PORTRAIT - NAVIGATION

// .header {
// }

.sitenav--container {
	position: relative;
	z-index: 1;
}

.sitenav-logo-contact-container {
	position: relative;
}

.sitenav__logo {
	position: absolute;
	width: 94px;
	height: 53px;
	top: 0px;
	left: 26px;
	z-index: 7;
}

.sitenav__contactNum {
	position: relative;
	display: inline-block;
	width: 115px;
	top: 45px;
	left: 38px;

	@include heroContactNumSmall;
	color: #fff;
	z-index: 7;
}

//NOTE: Mobile navigation links html code hidden since they'll only be shown in the overlay prompt. After Clicking Hamburger menu icon.
.sitenav__links--hide {
	display: none;
}

.sitenav__links--show {
	display: block;
}

.sitenav__links {
	z-index: 11;
	position: fixed;
	left: 72px;
	margin: auto;

	@include mobileNavOverlayMenu;

	#projects {
		@include navOverlayMenuStyles;
		margin-top: 67px;
	}

	#about,
	#contact {
		@include navOverlayMenuStyles;
		margin-top: 130px;
		margin-bottom: 130px;
	}

	#blog {
		@include navOverlayMenuStyles;
		margin-bottom: 66px;
	}

	#projects-text,
	#about-text,
	#contact-text,
	#blog-text {
		position: relative;
		top: 15px;
	}

	li {
		list-style: none;
	}

	li > a {
		text-decoration: none;
		color: #fff;
	}
}

.sitenav__hamburger {
	position: absolute;
	right: 36px;
	top: 20px;
	width: 20px;
	height: 20px;
	z-index: 7;
}

.--overlay-remove {
	display: none; //NOTE: general removal utility class
}

.--mobile-overlay {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.9);
	width: 100vw;
	height: 100vh;
	z-index: 10; //NOTE: mobile-overlay needs to be higher than the parent's z-index.
}

.mainnav__links {
	display: none;
}
//!SECTION END - MOBILE - PORTRAIT - NAVIGATION

//SECTION MOBILE - PORTRAIT - BODY

.main-container {
	justify-content: center;
	position: relative;
	@media (max-width: 359px) {
		top: 102px;
	}
}

body {
	.atf-1,
	.btf-2,
	.btl,
	.btl-content-block-1,
	.btl-content-block-2,
	.mobile-cta-footer {
		position: relative;
		width: 100%;
		@include flexMix;
		justify-content: center;
		align-content: center;
		justify-content: center;
	}

	.atf-1 {
		height: 800px;
		top: -40px; //moving the section container itself
		background-image: url("/img/img-mobile-p/nishida-sensei-hi5-overlayedit.jpg");
		background-repeat: no-repeat;
		background-position: -150px center; // first value left and right, second - top and bottom.
		background-attachment: scroll;

		.cs-project,
		.cs-project__title,
		.cs-project__services,
		.cs-project__service,
		.cs-client-details,
		.cs-client-details__title,
		.cs-client-details__status,
		.cs-client-details__text,
		.status-flag {
			list-style: none;
			color: #fff;
			text-align: center;
		}

		//All content block title styles - Above the Fold and Below

		.cs-project {
			@include csContentBox;

			.cs-project__title {
				font-family: $font-list-h;
				font-weight: nth($f-weights, 1);
				font-style: normal;
				font-size: $text2x-5; //40px;
				line-height: 95%;
			}

			.cs-project__services {
				.cs-project__service {
					font-family: $font-list-b;
					font-weight: nth($f-weights, 3);
					font-style: normal;
					font-size: $textSmall-93; //15px;
				}
			}
			margin-bottom: 30px;
		}

		.cs-client-details {
			@include csContentBox;
			.cs-client-details__title {
				font-family: $font-list-h;
				font-weight: nth($f-weights, 1);
				font-style: normal;
				font-size: $text2x-5; //40px;
				line-height: 95%;
			}

			.cs-client-details__status {
				font-family: $font-list-h;
				font-weight: nth($f-weights, 3);
			}
			.status-flag {
				font-family: $font-list-h;
				font-weight: nth($f-weights, 1);
				font-size: $text1X-25; //20px;
			}
			.cs-client-details__text {
				font-family: $font-list-b;
				font-weight: nth($f-weights, 3);
				font-style: normal;
				font-size: $textSmall-93; //15px;
			}
		}
	} // END of ATF--

	//BTF --------

	.btf-2 {
		height: 800px;
		top: -60px;

		background-image: url("/img/img-mobile-p/shortwood-bg-overlayedit.jpg");
		background-repeat: no-repeat;

		// background-position: left -1px top 801px;
		background-attachment: scroll;
		color: #fff;
		text-align: center;

		.cs-project-desc__title,
		.cs-project-sum__title {
			font-family: $font-list-h;
			font-weight: nth($f-weights, 1);
			font-style: normal;
			font-size: $text2x-5; //40px;
			line-height: 95%;
		}

		.cs-project-desc {
			@include csContentBox;
			top: -9px;

			.cs-project-desc__text {
				font-family: $font-list-b;
				font-weight: nth($f-weights, 3);
				font-style: normal;
				font-size: $textSmall-93; //15px;
			}
		}

		.cs-project-sum {
			@include csContentBox;
			height: 420px;
			top: -1px;

			.cs-project-sum__text-1 {
				.cs-project-sum__text__head {
					font-family: $font-list-b;
					font-weight: nth($f-weights, 3);
					font-style: normal;
					font-size: $textSmall-93; //15px;
				}
				.cs-project-sum__text__body {
					font-family: $font-list-b;
					font-weight: nth($f-weights, 3);
					font-style: normal;
					font-size: $textSmall-93; //15px;
				}
			}
		} // END of Project-sum
	} // END of BTF--

	//BETWEEN THE LINES

	.btl {
		top: -80px;
		height: 215px;
		background-color: #ffd866;
		color: #363226;
		text-align: center;

		.btl__title {
			line-height: 150%;
			margin-bottom: 2px;
			.btl__title-1 {
				font-family: $font-list-h;
				font-weight: nth($f-weights, 1);
				font-style: normal;
				font-size: $text3x-43; //55px;
			}

			.btl__title-2 {
				font-family: $font-list-h;
				font-weight: nth($f-weights, 1);
				font-style: normal;
				font-size: $text2X-81; //55px;
			}
		}
		.btl__text {
			line-height: 150%;
			.btl__text-1 {
				font-family: $font-list-h;
				font-weight: nth($f-weights, 1);
				font-style: normal;
				font-size: $text1x-06; //17px;
			}

			.btl__text-2 {
				font-family: $font-list-h;
				font-weight: nth($f-weights, 1);
				font-style: normal;
				font-size: $textSmall-87; //14px;
			}
		}
	}

	.btl-content-block-1 {
		top: -100px;
		background-color: #fcf8ec;
		color: black;
		flex-direction: column;
		text-align: center;
		height: 1200px;
		padding: 0 30px;

		.btl-content-block__time {
			font-family: $font-list-h;
			font-weight: nth($f-weights, 2);
			font-style: normal;
			font-size: $text1X-25; //20px;
			position: relative;
		}
		.btl-content-block__time-text_2 {
			font-family: $font-list-h;
			font-weight: nth($f-weights, 2);
			font-style: normal;
			font-size: $text1x-12; //16px;
			position: relative;
			top: -50px;
		}
		.btl-content-block__sub {
			font-family: $font-list-b;
			font-weight: nth($f-weights, 1);
			font-style: normal;
			font-size: $textSmall-93; //15px;
		}
		.btl-content-block__text {
			font-family: $font-list-b;
			font-weight: nth($f-weights, 3);
			font-style: normal;
			font-size: $textSmall-93; //15px;
		}
	}

	.btl-content-block-2 {
		top: -120px;
		background-color: #ffd866;
		color: black;
		height: 600px;
		flex-direction: column;
		text-align: center;
		padding: 0 30px;

		.btl-content-block__time {
			font-family: $font-list-h;
			font-weight: nth($f-weights, 2);
			font-style: normal;
			font-size: $text1X-25; //20px;
			position: relative;
		}
		.btl-content-block__time__sub {
			font-family: $font-list-h;
			font-weight: nth($f-weights, 2);
			font-style: normal;
			font-size: $text1x-12; //16px;
			position: relative;
			top: -50px;
			left: 0px;
		}
		.btl-content-block__sub {
			font-family: $font-list-b;
			font-weight: nth($f-weights, 1);
			font-style: normal;
			font-size: $textSmall-93; //15px;
		}
		.btl-content-block__text {
			font-family: $font-list-b;
			font-weight: nth($f-weights, 3);
			font-style: normal;
			font-size: $textSmall-93; //15px;
		}
	}

	.mobile-cta-footer {
		top: -140px;
		background-color: #fff;
		color: black;

		.mobile-cta-footer-branding {
			.mobile-cta-footer-branding__text-1,
			.mobile-cta-footer-branding__text-2 {
				font-family: $font-list-h;
				font-weight: nth($f-weights, 3);
				font-style: normal;
				font-size: $text1x-56; //25px;
			}

			.mobile-cta-footer__logo {
				width: 83px;
				height: 30px;
				position: relative;
				top: -57px;
				left: 170px;
			}
		}

		.mobile-cta-footer__button {
			width: 258px;
			height: 50px;
			background: #f5b600 0% 0% no-repeat padding-box;
			box-shadow: 0px 2px 0px #000000;
			border-radius: 5px;

			font-family: $font-list-h;
			font-weight: nth($f-weights, 1);
			font-style: normal;
			font-size: $text1X-25; //20px;
			position: relative;
			top: -50px;
		}

		.mobile-cta-footer__sm-links {
			@include flexMix;
			list-style: none;
			align-content: center;
			position: relative;
			top: -35px;
			padding: 0px;//reseting the padding to default of zero. 
		}
	}
}
