@import "..//partials/_base.css";
.sitenav--container {
  position: relative;
  z-index: 1;
}

.sitenav-logo-contact-container {
  position: relative;
}

.sitenav__logo {
  position: absolute;
  width: 94px;
  height: 53px;
  top: 0px;
  left: 26px;
  z-index: 7;
}

.sitenav__contactNum {
  position: absolute;
  display: inline-block;
  width: 115px;
  top: 45px;
  left: 38px;
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.62rem;
  color: #fff;
  z-index: 7;
}

.sitenav__links--hide {
  display: none;
}

.sitenav__links--show {
  display: block;
}

.sitenav__links {
  z-index: 11;
  position: fixed;
  left: 72px;
  margin: auto;
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.87rem;
}
.sitenav__links #projects {
  text-align: center;
  width: 140px;
  height: 67px;
  background-color: rgba(109, 109, 109, 0.2);
  position: relative;
  margin-top: 67px;
}
.sitenav__links #about,
.sitenav__links #contact {
  text-align: center;
  width: 140px;
  height: 67px;
  background-color: rgba(109, 109, 109, 0.2);
  position: relative;
  margin-top: 130px;
  margin-bottom: 130px;
}
.sitenav__links #blog {
  text-align: center;
  width: 140px;
  height: 67px;
  background-color: rgba(109, 109, 109, 0.2);
  position: relative;
  margin-bottom: 66px;
}
.sitenav__links #projects-text,
.sitenav__links #about-text,
.sitenav__links #contact-text,
.sitenav__links #blog-text {
  position: relative;
  top: 15px;
}
.sitenav__links a {
  text-decoration: none;
}
.sitenav__links li {
  list-style: none;
}
.sitenav__links a > li {
  text-decoration: none;
  color: #ffffff;
}

.sitenav__hamburger {
  position: absolute;
  right: 36px;
  top: 20px;
  width: 20px;
  height: 20px;
  z-index: 7;
}

.--overlay-remove {
  display: none;
}

.--mobile-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.mainnav__links {
  display: none;
}

body {
  background-image: url("/img/img-mobile-p/mobile-about-bg.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: #fff;
}
body .main-container {
  color: #000000;
}
body .main-container .about-hero,
body .main-container .body-sect-1,
body .main-container .body-sect-2,
body .main-container .body-sect-3,
body .main-container .mobile-cta-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  text-align: center;
  margin: auto 37px;
}
body .main-container .about-hero .about-hero__copy {
  position: relative;
  margin: 200px auto;
}
body .main-container .about-hero .about-hero__text {
  position: relative;
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2.5rem;
  color: #e1a700;
}
body .main-container .body-sect-1__text, body .main-container .body-sect-2__text, body .main-container .body-sect-3__text {
  padding: 10px;
}
body .main-container .body-sect-1 .body-sect-1-art .body-sect-1__head {
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2.5rem;
}
body .main-container .body-sect-1 .body-sect-1-art .body-sect-1__text {
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.93rem;
}
body .main-container .body-sect-1 .body-sect-1-art .body-sect-1__text i {
  font-style: italic;
}
body .main-container .body-sect-2 .body-sect-2-art .body-sect-2__head {
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2.5rem;
}
body .main-container .body-sect-2 .body-sect-2-art .body-sect-2__text {
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.93rem;
}
body .main-container .body-sect-3 .body-sect-3-art .body-sect-3__head {
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2.5rem;
}
body .main-container .body-sect-3 .body-sect-3-art .body-sect-3__text {
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.93rem;
}
body .main-container .mobile-cta-footer {
  height: 800px;
  position: relative;
  top: 200px;
  color: black;
}
body .main-container .mobile-cta-footer .mobile-cta-footer-branding .mobile-cta-footer-branding__text-1,
body .main-container .mobile-cta-footer .mobile-cta-footer-branding .mobile-cta-footer-branding__text-2 {
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.56rem;
  margin: 0px 12px;
}
body .main-container .mobile-cta-footer .mobile-cta-footer-branding .mobile-cta-footer-branding__text-2 {
  position: relative;
  left: -45px;
}
body .main-container .mobile-cta-footer .mobile-cta-footer-branding .mobile-cta-footer__logo {
  width: 83px;
  height: 30px;
  position: relative;
  top: -32px;
  left: 85px;
}
body .main-container .mobile-cta-footer .mobile-cta-footer__button {
  width: 258px;
  height: 50px;
  background: #f5b600 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 0px #000000;
  border-radius: 5px;
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.25rem;
  position: relative;
}
body .main-container .mobile-cta-footer .mobile-cta-footer__sm-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  align-content: center;
  position: relative;
  padding: 0px;
}/*# sourceMappingURL=main.css.map */