//SECTION: MOBILE - PORTRAIT - NAVIGATION

// .header {
// }

.sitenav--container {
	position: relative;
	z-index: 1;
}

.sitenav-logo-contact-container {
	position: relative;
}

#logo.dtlink{
  width: 94px;
  height: 60px;
  position: absolute;
  left: 27px;
  z-index: 9;
}//end dtlink

.sitenav__logo {
	position: absolute;
	width: 94px;
	height: 53px;
	top: 0px;
	z-index: 7;
	pointer-events: none;
}

.sitenav__contactNum {
	position: absolute;
	display: inline-block;
	width: 115px;
	top: 45px;
	left: 38px;

	@include heroContactNumSmall;
	color: #fff;
	z-index: 7;
}

//NOTE: Mobile navigation links html code hidden since they'll only be shown in the overlay prompt. After Clicking Hamburger menu icon.
.sitenav__links--hide {
	display: none;
}

.sitenav__links--show {
	display: flex !important;
	justify-items: center;
}

.sitenav__links {
	z-index: 14; //NOTE: Raised the  upper nav z-index above the lower nav(13)
	left: calc(100vw * 0.25);
	position: fixed;
	padding: 0px;
	margin: 0px;
	top: 30vh;

	// left: 72px;
	// margin: auto;

	@include mobileNavOverlayMenu;

	#projects {
		@include navOverlayMenuStyles;
		// margin-top: 67px;
	}

	#about,
	#contact {
		@include navOverlayMenuStyles;
		// margin-top: 130px;
		// margin-bottom: 130px;
	}

	#blog {
		@include navOverlayMenuStyles;
		// margin-bottom: 66px;
	}

	#projects-text,
	#about-text,
	#contact-text,
	#blog-text {
		position: relative;
		top: 15px;
	}

	a {
		text-decoration: none;
	}

	li {
		list-style: none;
		margin-top: 20px;
	}

	a > li {
		text-decoration: none;
		color: #ffffff;
	}
}

.sitenav__hamburger {
	position: absolute;
	right: 36px;
	top: 20px;
	width: 20px;
	height: 20px;
	z-index: 7;
}

.--overlay-remove {
	display: none; //NOTE: general removal utility class
}

.--mobile-overlay {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.9);
	width: 100vw;
	height: 100vh;
	z-index: 13; //NOTE: mobile-overlay needs to be higher than the parent's z-index. Also needs to be higher than lower nav
}

.mainnav__links {
	display: none;
}

//!SECTION END - MOBILE - PORTRAIT - NAVIGATION

