@media (min-width: 1280px) {
    .sitenav__hamburger {
        display: none;
    } //end sitenav__hamburger
    .sitenav {
        //NOTE: Design variant:
        //Removed the mobile navigation menu, replaced with fixed top nativation for larger viewports.
        display: none;
    } //end sitenav


    #logo.dtlink {
        display: block;
        position: absolute;
        width: 144px;
        height: 94px;
       
        left: 168px;
        // //NOTE: adding the z-index adjustment so the logo can be interacted with. The page container that facilitates the page flip animation covers it
        z-index: 9;
    }//end dtlink

    //NOTE: Logo image and contact number - No change in height for small desktops. 

    .sitenav__logo {
        width: 94px;
        height: 53px;
        top: 10px;
        left: 0px;
        // //NOTE: Remove pointer-events: for the link so only the javascript trigger for the animation is executed; 
		// pointer-events: none;
        pointer-events: none;
        //NOTE: Bring the logo img forward over the link area so that it still looks as though its the img being clicked, when it's actually the link.
        z-index: 7;
    }

    .sitenav__contactNum {
        top: 53px;
        left: 180px;
        // font-size: $textBase; // 16px; rem base
    }

    
     

        .mainnav__links {
            //NOTE: Design variant: Instanciated desktop navigation - fixed top navigation for larger viewports.
            display: flex;
            list-style: none;
            position: absolute;
            z-index: 15;
            width: 100vw;
            justify-content: center;
            
            top: 5vh;

            .navlinks__wrapper{
                display: flex;
            }//end navlinks__wrapper
            padding-left: 0px;
        } //end of mainnav__links
    

  

    .mainnav__links {
        a {
            font-family: $font-list-h;
            font-weight: nth($f-weights, 3);
            border: #ffffff5e 1px solid;
            background-color: #16161621;
            padding: 5px 15px;
            margin: 0px 5px;
            font-size: $textBase; // 16px; rem base
            color: #fff;
            text-decoration: none;
        }//end of a
    }//end of mainnav__links
}// end media query