@import "../../partials/case-study-templates/case-studies-Tablet-L-template";

@media (min-width: 1024px) {
    body{
    

        //NOTE: Background image generated specfic to case study instance of the base template for design variant: Tablet-Landscape-1024px. Platforming off of the template pointer to the main refereence in case-studies sub folder in the paritals folder. 
        .atf-1 {
            height: 768px;
         //NOTE: only needs to add the single background image change below.    All other page styles imported from design template in partial folder:
            background-image: url("/img/img-tablet-l/tablet-landscape-ps-natours-page-bg.png");

            .cs-project {
                top: -91px;
                height: 335px;
                .cs-project__services{ 
                
                        .cs-project__service{
                            font-size: 0.93rem;
                        }//end cs-project__service                 
                    }//end cs-project__services
                }//end cs-project 
                
                .cs-client-details { 
                    top: 258px;
                }//end cs-client-details
                
                .cs-client-details {
                
                .cs-client-details__text {
                    font-size: 0.93rem;
                  }//end cs-client-details__text

                  .tt-circle {
                    top: 69px;
                    left: 99px;
                }//end .tt-circle 

                .tt-circle:hover ::after {
                    //NOTE: design variant: tool-tip info for Natours Project Details copy.
                    content: "I needed to understand by trying to build for myself a basic application that could carry out typical backend tasks while also providing a platform to learn and make use of APIs – (Application Programming Interfaces). \a Since, up until that point I only had a very broad, elementary sense of the terms and concepts associated with it. Jonas’s course was a brilliant solution to this.";
                    top: -31px;
                    left: -162px;
                    width: 284px;
                    height: 201px;
                }//end tt-circle:hover ::after
                
                
                }//end .cs-client-details



        }//end atf-1

        .btf-2{
            .btf-2__project-container-box {
                top: -358px;
                    .cs-project-sum {
                    top: 28px;

                    .cs-project-sum__text-1 {
                        .cs-project-sum__text__body{

                        font-size: 1rem;
                        }//end cs-project-sum__text__body 
                    }//end cs-project-sum__text-1
                }//end cs-project-sum
           }//end btf-2__project-container-box


         }//end btf-2 

         .nav-chevrons {
            right: 51px;
             top: 635px;
         }//end nav-chevrons
         

         .btl {
			text-align: center;
			.btl__title-container {
				position: relative;
				// top: 40px;
				//NOTE: Made an extra container to hold all the titles and more easily move them around.

				.btl__title {
					//NOTE: Design variant - Expanded the area of the text heading by widening the margins to make use of the wider screen space as in the design for this viewport. Moved the "THE LINES" title section up, so it can be aligned with the first title. "BETWEEN" and "THE LINES" were separated to make it easier to stack them in the mobile viewport design variation (smaller screen to work with)

					// margin-left: 200px;
					// margin-right: 200px;

					.btl__title-1 {
						//NOTE: Design variant
						// position: relative;
						// left: -190px;
					} //end of btl__title-1

					.btl__title-2 {
						//NOTE: Design variant
						font-size: $text3x-43; //55px;
						// position: relative;
						// top: -45px;
						// right: -99px;
					} //end of btl__title-2
				} //end of btl-title

				.btl__text {
					//NOTE Design variant

					// margin-left: 200px;
					// margin-right: 200px;

					//NOTE: moving the container for the milestones and deliverables up to match the design for landscape.
					position: relative;
					// top: -60px;

					.btl__text-1 {
						position: relative;
						left: initial;
						font-size: $text1x-37; //22px;
					} //end of btl__text-1

					.btl__text-2 {
						position: relative;
						top: initial;
						right: initial;
						font-size: $text1x-37; //22px;
					} //end of btl__text-2
				} //end btl__text
			} //end btl__title-container
		} //end of btl


    }//end body
}//end media-query 1024px 