@import "..//partials/_nav-base-desktops";
/*SECTION ABOVE MOBILE PHONES - TABLET  - LANDSCAPE -  >1920px */
@media (min-width: 1920px) {
    body{

        .page-container {
			@include pageContainer;

			.page__surface{
			
				@include pageSurface;

			}//end page__surface

		}//end page-continer 


		.page-flipped{
			transform: translateX(0.5%) rotateY(90deg);
		}


        background-image: url("/img/img-desktop-l/desktop-blog-bg.png");

        .main-container{
            position: relative;
            top: 200px;
            .blog-collection{
                top: 0px; //resetting the position of the 
                .blog-collection__title{
                     //NOTE: design variant
                    font-size: $text5x; //80px;

                }//end blog-collection__title
            }//end blog-collection

            .blog-collection__divide{


            }//end blog-collection-divide

            .blog-box-group{
                //NOTE: design variant: Using the relative position declaration from the 768px design variant as base. 
                top: 0px;


            }//end blog-box-group

            .blog-box__link{

                .blog-box {
                    //NOTE: design variant
                    width: 484px;
                    height: 484px;
                    background-image: url("/img/img-desktop-l/desktop-blog-article-preview-bg.png");

                    .blog-box__text-container{
                        //NOTE: design variant:
                        //creation of container for colllectively moving the text within the article previews around. Off by default for eiewports smaller than 1024px;
                        display: block !important;
                        position: relative;
                        top:240px;

                        .blog-box__title {
                            //NOTE: design variant
                            font-size: $text2X-81; //45px;
                        } //end blog-box__title
    
                        .blog-box__subtitle {
                            //NOTE: design variant
    
                            font-size: $text1X-25; //20px;
                        } // end blog-box__subtitle
    
                        .blog-box__text {
                            //NOTE: design variant
    
                            font-size: $text1x-12; //18px;
                        } // end blog-box__text

                    }//end blog-box__text-container
                
                }//end blog-box

            }//end blog-box__link
        }//end main-container


    }//end body

    
    
}//end media query
/*!SECTION ABOVE MOBILE PHONES - TABLET  - LANDSCAPE -  >1920px */