@charset "UTF-8";
@import "..//partials/_base.css";
.sitenav--container {
  position: relative;
  z-index: 1;
}

.sitenav-logo-contact-container {
  position: relative;
}

.sitenav__logo {
  position: absolute;
  width: 94px;
  height: 53px;
  top: 0px;
  left: 26px;
  z-index: 7;
}

.sitenav__contactNum {
  position: absolute;
  display: inline-block;
  width: 115px;
  top: 45px;
  left: 38px;
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.62rem;
  color: #fff;
  z-index: 7;
}

.sitenav__links--hide {
  display: none;
}

.sitenav__links--show {
  display: flex !important;
  justify-items: center;
}

.sitenav__links {
  z-index: 11;
  left: 25vw;
  position: fixed;
  padding: 0px;
  margin: 0px;
  top: 30vh;
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.87rem;
}
.sitenav__links #projects {
  text-align: center;
  width: 140px;
  height: 67px;
  background-color: rgba(109, 109, 109, 0.2);
  position: relative;
}
.sitenav__links #about,
.sitenav__links #contact {
  text-align: center;
  width: 140px;
  height: 67px;
  background-color: rgba(109, 109, 109, 0.2);
  position: relative;
}
.sitenav__links #blog {
  text-align: center;
  width: 140px;
  height: 67px;
  background-color: rgba(109, 109, 109, 0.2);
  position: relative;
}
.sitenav__links #projects-text,
.sitenav__links #about-text,
.sitenav__links #contact-text,
.sitenav__links #blog-text {
  position: relative;
  top: 15px;
}
.sitenav__links a {
  text-decoration: none;
}
.sitenav__links li {
  list-style: none;
  margin-top: 20px;
}
.sitenav__links a > li {
  text-decoration: none;
  color: #ffffff;
}

.sitenav__hamburger {
  position: absolute;
  right: 36px;
  top: 20px;
  width: 20px;
  height: 20px;
  z-index: 7;
}

.--overlay-remove {
  display: none;
}

.--mobile-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.mainnav__links {
  display: none;
}

body {
  background-image: url("/img/img-mobile-p/mobile-blog-bg.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
}
body .main-container .blog-box-group {
  position: relative;
  top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
}
body .main-container .blog-box__link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  text-align: center;
}
body .main-container .blog-box__link #blog-box-1,
body .main-container .blog-box__link #blog-box-2,
body .main-container .blog-box__link #blog-box-3 {
  margin: 10px auto;
}
body .main-container .blog-box__link .blog-box {
  position: relative;
  width: 197px;
  height: 197px;
  background-image: url("/img/img-mobile-p/book-stack.png");
  color: #000;
}
body .main-container .blog-box__link .blog-box .blog-box__title,
body .main-container .blog-box__link .blog-box .blog-box__subtitle,
body .main-container .blog-box__link .blog-box .blog-box__text {
  margin: 0px;
  padding: 0px;
}
body .main-container .blog-box__link .blog-box .blog-box__title {
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.31rem;
  margin-top: 87px;
}
body .main-container .blog-box__link .blog-box .blog-box__subtitle {
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 0.62rem;
  margin: 0px 5px;
}
body .main-container .blog-box__link .blog-box .blog-box__text {
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.93rem;
  line-height: 85%;
}

/*SECTION ABOVE MOBILE PHONES - TABLET RANGE  - PORTRAIT -   >800px */
@media (min-width: 768px) {
  body {
    background-image: url("/img/img-tablet-p/tablet-blog-bg.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
  body .main-container .blog-box-group {
    position: relative;
    top: 200px;
  }
  body .main-container .blog-box__link .blog-box {
    position: relative;
    width: 272px;
    height: 233px;
    background-image: url("/img/img-tablet-p/↳ 🖼 Image.png");
  }
  body .main-container .blog-box__link .blog-box .blog-box__text-container {
    display: block !important;
  }
  body .main-container .blog-box__link .blog-box .blog-box__title {
    font-size: 1.37rem;
  }
  body .main-container .blog-box__link .blog-box .blog-box__subtitle {
    font-size: 1.25rem;
  }
  body .main-container .blog-box__link .blog-box .blog-box__text {
    font-size: 1.12rem;
  }
}
/*!SECTION ABOVE MOBILE PHONES - TABLET RANGE  - PORTRAIT -   >800px */
/*SECTION ABOVE MOBILE PHONES - TABLET RANGE  - LANDSCAPE -   >800px */
@media (min-width: 1024px) {
  body {
    background-image: url("/img/img-tablet-l/tablet-landscape-blog-bg.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
  body .main-container .blog-collection {
    display: block !important;
    position: relative;
    top: 165px;
  }
  body .main-container .blog-collection .blog-collection__title {
    position: relative;
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    color: #fff;
    text-align: right;
    right: 170px;
    margin: 0px;
  }
  body .main-container .blog-collection .blog-collection__divide {
    position: relative;
    top: -20px;
    display: block !important;
    color: #fff;
  }
  body .main-container .blog-box-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  body .main-container .blog-box__link #blog-box-1,
  body .main-container .blog-box__link #blog-box-2,
  body .main-container .blog-box__link #blog-box-3 {
    margin: auto 8px;
  }
  body .main-container .blog-box__link .blog-box__text-container {
    display: block !important;
  }
}
/*!SECTION ABOVE MOBILE PHONES - TABLET RANGE  - LANDSCAPE -   >800px */
/*SECTION ABOVE MOBILE PHONES - TABLET RANGE  - DESKTOP-SMALL -   >1280px */
@media (min-width: 1280px) {
  .sitenav__hamburger {
    display: none;
  }
  .sitenav {
    display: none;
  }
  .sitenav__logo {
    width: 94px;
    height: 53px;
    top: 10px;
    left: 166px;
  }
  .sitenav__contactNum {
    top: 53px;
    left: 180px;
  }
  .mainnav__links {
    display: flex;
    list-style: none;
    position: absolute;
    top: 10px;
    left: 410px;
    z-index: 15;
  }
  .mainnav__links a {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 400;
    border: rgba(255, 255, 255, 0.368627451) 1px solid;
    background-color: rgba(22, 22, 22, 0.1294117647);
    padding: 5px 15px;
    margin: 0px 5px;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
  }
}
@media (min-width: 1280px) {
  body {
    background-image: url("/img/img-desktop-sm-1280/desktop-sm-blog-bg.png");
  }
  body .main-container {
    position: relative;
    top: 200px;
  }
  body .main-container .blog-collection {
    top: 0px;
  }
  body .main-container .blog-collection .blog-collection__title {
    font-size: 3.75rem;
  }
  body .main-container .blog-box-group {
    top: 0px;
  }
  body .main-container .blog-box__link .blog-box {
    width: 276px;
    height: 275px;
    background-image: url("/img/img-desktop-l/desktop-blog-article-preview-bg.png");
  }
  body .main-container .blog-box__link .blog-box .blog-box__text-container {
    display: block !important;
    position: relative;
    top: 60px;
  }
  body .main-container .blog-box__link .blog-box .blog-box__text-container .blog-box__title {
    font-size: 1.64rem;
  }
  body .main-container .blog-box__link .blog-box .blog-box__text-container .blog-box__subtitle {
    font-size: 1.25rem;
  }
  body .main-container .blog-box__link .blog-box .blog-box__text-container .blog-box__text {
    font-size: 1.12rem;
  }
}
/*!SECTION ABOVE MOBILE PHONES - TABLET RANGE  - DESKTOP-SMALL -   >1280px */
/*!SECTION: END - [RESPONSIVE DESIGN] */
/*SECTION ABOVE MOBILE PHONES - TABLET RANGE  - COMMON MACBOOK -   >1440px */
@media (min-width: 1440px) {
  .sitenav__hamburger {
    display: none;
  }
  .sitenav {
    display: none;
  }
  #logo.dtlink {
    display: block;
    position: absolute;
    width: 144px;
    height: 94px;
    top: 10px;
    left: 166px;
  }
  .sitenav__logo {
    width: 144px;
    height: 77px;
    top: 3px;
    left: -1px;
  }
  .sitenav__contactNum {
    top: 75px;
    left: 180px;
    font-size: 1rem;
  }
  .mainnav__links {
    display: flex;
    list-style: none;
    position: absolute;
    top: 10px;
    left: 460px;
    z-index: 15;
  }
  .mainnav__links a {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 400;
    border: rgba(255, 255, 255, 0.368627451) 1px solid;
    background-color: rgba(22, 22, 22, 0.1294117647);
    padding: 5px 15px;
    margin: 0px 5px;
    font-size: 1.25rem;
    color: #ffffff;
    text-decoration: none;
  }
}
@media (min-width: 1440px) {
  body {
    background-image: url("/img/img-desktop-cm-1440/desktop-cm-blog-bg.png");
  }
  body .main-container {
    position: relative;
    top: 200px;
  }
  body .main-container .blog-collection {
    top: 0px;
  }
  body .main-container .blog-collection .blog-collection__title {
    font-size: 3.75rem;
  }
  body .main-container .blog-box-group {
    top: 0px;
  }
  body .main-container .blog-box__link .blog-box {
    width: 367.5px;
    height: 366px;
    background-image: url("/img/img-desktop-l/desktop-blog-article-preview-bg.png");
  }
  body .main-container .blog-box__link .blog-box .blog-box__text-container {
    display: block !important;
    position: relative;
    top: 142px;
  }
  body .main-container .blog-box__link .blog-box .blog-box__text-container .blog-box__title {
    font-size: 2.125rem;
  }
  body .main-container .blog-box__link .blog-box .blog-box__text-container .blog-box__subtitle {
    font-size: 1.25rem;
  }
  body .main-container .blog-box__link .blog-box .blog-box__text-container .blog-box__text {
    font-size: 1.12rem;
  }
}
/*!SECTION ABOVE MOBILE PHONES - TABLET RANGE  - COMMON MACBOOK -   >1440px */
/*!SECTION: END - [RESPONSIVE DESIGN] */
@media (min-width: 1920px) {
  .sitenav__hamburger {
    display: none;
  }
  .sitenav {
    display: none;
  }
  #logo.dtlink {
    display: block;
    position: absolute;
    width: 144px;
    height: 94px;
    top: 10px;
    left: 166px;
  }
  .sitenav__logo {
    width: 144px;
    height: 77px;
    top: 3px;
    left: -1px;
    pointer-events: none;
    z-index: 7;
  }
  .sitenav__contactNum {
    top: 75px;
    left: 180px;
    font-size: 1rem;
  }
  .mainnav__links {
    display: flex;
    list-style: none;
    position: absolute;
    top: 10px;
    left: 620px;
    z-index: 15;
  }
  .mainnav__links a {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 400;
    border: rgba(255, 255, 255, 0.368627451) 1px solid;
    background-color: rgba(22, 22, 22, 0.1294117647);
    padding: 5px 25px;
    margin: 0px 5px;
    font-size: 1.56rem;
    color: #fff;
    text-decoration: none;
  }
}
/*SECTION ABOVE MOBILE PHONES - TABLET  - LANDSCAPE -  >1920px */
@media (min-width: 1920px) {
  body {
    background-image: url("/img/img-desktop-l/desktop-blog-bg.png");
  }
  body .page-container {
    width: 100vw;
    height: 100vh;
    transform-origin: left center;
    perspective: 2500px;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in;
  }
  body .page-container .page__surface {
    position: absolute;
    width: 100vw;
    height: 100vh;
    transform: translateX(0deg) rotateY(0deg);
    backface-visibility: hidden;
  }
  body .page-flipped {
    transform: translateX(0.5%) rotateY(90deg);
  }
  body .main-container {
    position: relative;
    top: 200px;
  }
  body .main-container .blog-collection {
    top: 0px;
  }
  body .main-container .blog-collection .blog-collection__title {
    font-size: 5rem;
  }
  body .main-container .blog-box-group {
    top: 0px;
  }
  body .main-container .blog-box__link .blog-box {
    width: 484px;
    height: 484px;
    background-image: url("/img/img-desktop-l/desktop-blog-article-preview-bg.png");
  }
  body .main-container .blog-box__link .blog-box .blog-box__text-container {
    display: block !important;
    position: relative;
    top: 240px;
  }
  body .main-container .blog-box__link .blog-box .blog-box__text-container .blog-box__title {
    font-size: 2.81rem;
  }
  body .main-container .blog-box__link .blog-box .blog-box__text-container .blog-box__subtitle {
    font-size: 1.25rem;
  }
  body .main-container .blog-box__link .blog-box .blog-box__text-container .blog-box__text {
    font-size: 1.12rem;
  }
}
/*!SECTION ABOVE MOBILE PHONES - TABLET  - LANDSCAPE -  >1920px *//*# sourceMappingURL=main.css.map */