@charset "UTF-8";
@import "..//partials/_base.css";
.sitenav--container {
  position: relative;
  z-index: 1;
}

.sitenav-logo-contact-container {
  position: relative;
}

.sitenav__logo {
  position: absolute;
  width: 94px;
  height: 53px;
  top: 0px;
  left: 26px;
  z-index: 7;
}

.sitenav__contactNum {
  position: absolute;
  display: inline-block;
  width: 115px;
  top: 45px;
  left: 38px;
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.62rem;
  color: #fff;
  z-index: 7;
}

.sitenav__links--hide {
  display: none;
}

.sitenav__links--show {
  display: block;
}

.sitenav__links {
  z-index: 11;
  position: fixed;
  left: 72px;
  margin: auto;
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.87rem;
}
.sitenav__links #projects {
  text-align: center;
  width: 140px;
  height: 67px;
  background-color: rgba(109, 109, 109, 0.2);
  position: relative;
  margin-top: 67px;
}
.sitenav__links #about,
.sitenav__links #contact {
  text-align: center;
  width: 140px;
  height: 67px;
  background-color: rgba(109, 109, 109, 0.2);
  position: relative;
  margin-top: 130px;
  margin-bottom: 130px;
}
.sitenav__links #blog {
  text-align: center;
  width: 140px;
  height: 67px;
  background-color: rgba(109, 109, 109, 0.2);
  position: relative;
  margin-bottom: 66px;
}
.sitenav__links #projects-text,
.sitenav__links #about-text,
.sitenav__links #contact-text,
.sitenav__links #blog-text {
  position: relative;
  top: 15px;
}
.sitenav__links a {
  text-decoration: none;
}
.sitenav__links li {
  list-style: none;
}
.sitenav__links a > li {
  text-decoration: none;
  color: #ffffff;
}

.sitenav__hamburger {
  position: absolute;
  right: 36px;
  top: 20px;
  width: 20px;
  height: 20px;
  z-index: 7;
}

.--overlay-remove {
  display: none;
}

.--mobile-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.mainnav__links {
  display: none;
}

body {
  background-image: url("/img/img-mobile-p/mobile-blog-bg.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
}
body .main-container .blog-box-group {
  position: relative;
  top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
}
body .main-container .blog-box__link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  text-align: center;
}
body .main-container .blog-box__link #blog-box-1, body .main-container .blog-box__link #blog-box-2, body .main-container .blog-box__link #blog-box-3 {
  margin: 10px auto;
}
body .main-container .blog-box__link .blog-box {
  position: relative;
  width: 197px;
  height: 197px;
  background-image: url("/img/img-mobile-p/book-stack.png");
  color: #000;
}
body .main-container .blog-box__link .blog-box .blog-box__title, body .main-container .blog-box__link .blog-box .blog-box__subtitle, body .main-container .blog-box__link .blog-box .blog-box__text {
  margin: 0px;
  padding: 0px;
}
body .main-container .blog-box__link .blog-box .blog-box__title {
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.31rem;
  margin-top: 87px;
}
body .main-container .blog-box__link .blog-box .blog-box__subtitle {
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 0.62rem;
  margin: 0px 5px;
}
body .main-container .blog-box__link .blog-box .blog-box__text {
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.93rem;
  line-height: 85%;
}

/*SECTION ABOVE MOBILE PHONES - TABLET RANGE  - PORTRAIT -   >800px */
@media (min-width: 768px) {
  body {
    background-image: url("/img/img-tablet-p/tablet-blog-bg.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
  body .main-container .blog-box-group {
    position: relative;
    top: 200px;
  }
  body .main-container .blog-box__link .blog-box {
    position: relative;
    width: 272px;
    height: 233px;
    background-image: url("/img/img-tablet-p/↳ 🖼 Image.png");
  }
  body .main-container .blog-box__link .blog-box .blog-box__title {
    font-size: 1.37rem;
  }
  body .main-container .blog-box__link .blog-box .blog-box__subtitle {
    font-size: 1.25rem;
  }
  body .main-container .blog-box__link .blog-box .blog-box__text {
    font-size: 1.12rem;
  }
}
/*!SECTION ABOVE MOBILE PHONES - TABLET RANGE  - PORTRAIT -   >800px *//*# sourceMappingURL=main.css.map */