/*SECTION ABOVE MOBILE PHONES - TABLET RANGE  - PORTRAIT -   >800px*/
@mixin AlignAdjust {
	@include flexMix;
	justify-content: flex-end;
	position: relative;
	right: 137px;
}

@media (min-width: 768px) {
	body {
		//NOTE: design variant: Reset the position of the background image to default. left 0px and top 0px.
		background-image: url("/img/img-tablet-p/FullScreen-Image.png");
		background-repeat: no-repeat;
		background-position: left 0px top 0px;
		background-attachment: fixed;

		.main-container {
			.article-container {
				//NOTE: design variant

				.article__title {
					//NOTE: design variant
					@include AlignAdjust;
					font-size: $text2x-5; //40px;
				} //end article__title

				.article__sub_title {
					//NOTE: design variant
					@include AlignAdjust;
					font-size: $text1X-25; //20px;
				} // end article__sub_title

				.article-sm-top {
					//NOTE: design variant
					@include AlignAdjust;
				} //end article-sm-top

				.article__content {
					//NOTE: design variant
					margin: 0px 79px;
					.support-topic {
						.support-topic__body {
							//NOTE: design variant
							font-size: $text1X-25; //20px;
						} //end support-topic-body
					} //end support-topic
				}
			} // end article-container
		} //end main-container
	} //end body
} //end media query

/*!SECTION ABOVE MOBILE PHONES - TABLET RANGE  - PORTRAIT -   >800px*/
