@import "../../partials/_base.css";
.sitenav--container {
  position: relative;
  z-index: 1;
}

.sitenav-logo-contact-container {
  position: relative;
}

.sitenav__logo {
  position: relative;
  width: 94px;
  height: 53px;
  top: 0px;
  left: 26px;
  z-index: 7;
}

.sitenav__contactNum {
  position: absolute;
  display: inline-block;
  width: 115px;
  top: 45px;
  left: 38px;
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.62rem;
  color: #fff;
  z-index: 7;
}

.sitenav__links--hide {
  display: none;
}

.sitenav__links--show {
  display: block;
}

.sitenav__links {
  z-index: 11;
  position: fixed;
  left: 72px;
  margin: auto;
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.87rem;
}
.sitenav__links #projects {
  text-align: center;
  width: 140px;
  height: 67px;
  background-color: rgba(109, 109, 109, 0.2);
  position: relative;
  margin-top: 67px;
}
.sitenav__links #about,
.sitenav__links #contact {
  text-align: center;
  width: 140px;
  height: 67px;
  background-color: rgba(109, 109, 109, 0.2);
  position: relative;
  margin-top: 130px;
  margin-bottom: 130px;
}
.sitenav__links #blog {
  text-align: center;
  width: 140px;
  height: 67px;
  background-color: rgba(109, 109, 109, 0.2);
  position: relative;
  margin-bottom: 66px;
}
.sitenav__links #projects-text,
.sitenav__links #about-text,
.sitenav__links #contact-text,
.sitenav__links #blog-text {
  position: relative;
  top: 15px;
}
.sitenav__links li {
  list-style: none;
}
.sitenav__links li > a {
  text-decoration: none;
  color: #fff;
}

.sitenav__hamburger {
  position: absolute;
  right: 36px;
  top: 20px;
  width: 20px;
  height: 20px;
  z-index: 7;
}

.--overlay-remove {
  display: none;
}

.--mobile-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.mainnav__links {
  display: none;
}

body {
  background-image: url("/img/img-mobile-p/pexels-marcelo-jaboo-Chair-spotlight.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
body .main-container .article-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  margin: 0px 37px;
}
body .main-container .article-container .article__title, body .main-container .article-container .article__sub_title, body .main-container .article-container .article-sm-top {
  margin: 0px;
  padding: 0px;
}
body .main-container .article-container .article__title {
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2.5rem;
}
body .main-container .article-container .article__sub_title {
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.93rem;
}
body .main-container .article-container .article-sm-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
body .main-container .article-container .article-sm-top .article-sm-top-link {
  list-style: none;
}
body .main-container .article-container .article__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
}
body .main-container .article-container .article__content .support-topic .support-topic__head {
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.56rem;
}
body .main-container .article-container .article__content .support-topic .support-topic__body {
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 0.93rem;
}
body .main-container .article-container .article-sm-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
body .main-container .article-container .article-sm-bottom .article-sm-bottom-link {
  list-style: none;
}/*# sourceMappingURL=main.css.map */