/*SECTION ABOVE MOBILE PHONES - TABLET RANGE  - DESKTOP-SMALL -   >1280px */
@import "../navs/nav-base-desktops-sm";
@media (min-width: 1280px) {
	@mixin csContentBox-Project-DL {
		position: relative;
		//NOTE: design variant:
		width: 379.125px; //25% reduction from the dimensions in 1440px variant.
		//NOTE: design variant:
		height: 280.33px; //15% reduction from the dimensions in 1440px variant.
		top: -132px;
		left: 0px;
		background-color: rgba(255, 255, 255, 0.11);
		border-radius: 1%;
		margin: 0px;
	}

	@mixin csContentBox-ClientDetails-DL {
		position: relative;
		//NOTE: design variant:
		width: 379.125px; //25% reduction from the dimensions in 144px variant.
		//NOTE: design variant:
		height: 280.33px; //15% reduction from the dimensions in 1440px variant.
		top: 174px;
		left: -379px;
		background-color: rgba(255, 255, 255, 0.11);
		border-radius: 1%;
		margin: 0px;
	}

	//NOTE: design variant: Creating the content box specifically for the wider veiwport variants replacing the boxes used in portrait versions.
	@mixin csContentBox-Projectdetails-DL {
		position: relative;
		//NOTE: design variant:
		width: 454.95px; //10% reduction from the dimensions in 1440px variant.
		//NOTE: design variant:
		height: 585.225px; //15% reduction from the dimensions in 1440px variant.
		top: -339px;
		left: 239px;
		background-color: rgba(255, 255, 255, 0.11);
		border-radius: 1%;
		margin: 0px;
		z-index: 1;
        //NOTE: design variant: Ensuring the text appears centered in the container. 
		padding-right: 45px;
	}

	.main-container {
		top: 0px !important; //resetting main-continer nav as in nav-bass it has an adjustment.
	}

	body {

		
		//NOTE: UI/UX: ANIMATION & TRANSITIONS: 1 - Page Background Image - Reveal effect
		background-image: none; // set the inital state of the property 	- for animation
		opacity: 0; // set the inital state of the property - for animation
		background-color: #000000;
		animation: bg-reveal 0.5s ease-in forwards;

		.mainnav__links{
			//NOTE: Design variant
			// top: 32px;
			// left: 472px;



			//NOTE: MN-TOP-NAV-LINK - UI/UX: HOVER STATE
			//===================================

			.mainnav__links-link-container {
			
				@include mainnav__links-link-container;
				height: 35px; // - reduced by 10% of 1440px variant
				//NOTE: Top Nav links  UI/UX additions:
				/*Hover state changes */
				.mainnav__links-link__href {
					@include mainnav__links-link__href;

					/*Using the padding section of the content box and not margin. This is so the puesdo element doesn't take that into account for the overall distance to travel across the link and ends up looking werid.*/

					margin-left: 0px;
					margin-right: 0px;
					padding: 10px 10px; //-reduced by 30% of 1440px variant space added to anchor so they look nicer and have larger surface area to click on by users.
				} //end mainnav__links-link__href


				.mainnav__links-link__href:after {
					@include mainnav__links-link__href-after;
				} //end mainnav__links-link__href:after

				.mainnav__links-link__href:hover {
					@include mainnav__links-link__href-hover;
				} //end mainnav__links-link__href:hover

				

				.mainnav__links-link__href:hover:after {
					@include mainnav__links-link__href-hover-after;
				} //end mainnav__links-link__href

				.mainnav__links-link__text {
					@include mainnav__links-link__text;
				} //end mainnav__links-link__text

				
			} //end mainnav__links-link-container

			.mainnav__links-link-container:hover {
				position: relative;
				top: -28px; // 2px offset upwards to give a look of the link being raised once hovered over. the adjustment on the link is -26px so adding 2px more when hovered.

				filter: drop-shadow(0px 2.5px rgba(0, 0, 0, 0.221));
				/* Two length values and a color */
				/* drop-shadow( <length> <length> <color> ) */
			} //end mainnav__links-link-container:hover

		}//end mainnav__links



		.atf-1 {
			height: 720px; // height of the containing box
			// background-image: url("/img/img-desktop-sm-1280/desktop-sm-ps-ng-bg.PNG");
			background-repeat: no-repeat;
			background-position: left 0px top 0px; // first value left and right, second - top and bottom.
			background-attachment: scroll;

			//All content block title styles - Above the Fold and Below

			.cs-project {
				@include csContentBox-Project-DL;
				.cs-project__title {
					//NOTE: Design variant:
					font-size: $text1x-56; //25.313px = 25px; //25% of dimensions in 1440px variant.
				}

				.cs-project__services {
					.cs-project__service {
						//NOTE: design variant:
						font-size: $text1x-18; //18.75px; = 19px 18px used //25% of dimensions in 1920px variant.
					} //end .cs-project__service
				}
			}

			.cs-client-details {
				@include csContentBox-ClientDetails-DL;

				.cs-client-details__title {
					//NOTE: Design variant:
					font-size: $text1x-56; //25.313px = 25px; //25% of dimensions in 1440px variant.
				}

				.cs-client-details__status {
					//NOTE: design variant:
					font-size: $text1X-25; //19.69px = 20px; //25% of dimensions in 1440px variant.
				}
				.status-flag {
					//NOTE: design variant:
					font-size: $text1X-25; //19.69px = 20px; //25% of dimensions in 1440px variant.
				}
				.cs-client-details__text {
					//NOTE: design variant: NO CHANGE same as 1440 px variant, readibilty factor.
					font-size: $text1x-12; //15.75px; = 16px 18px used //25% of dimensions in 1920px variant.
				}

				// top: 0px;
				// left: 0px;
			} //end of .cs-client-details

			//NOTE: UI/UX: ANIMATION & TRANSITIONS: Case Studies Client details section
			opacity: 0;
			animation: atf-cs-client-reveal 0.5s linear 2.0s forwards;

			//===================================================

					//NOTE: ADDITIONAL INFORMATION TOOL TIP SECTION
					.tt-circle {
						position: absolute;
						top:84px;
						left:175px;
					
						width: 20px;
						height: 20px;
						background-color: #8a8a8a98;
						border: 1px solid #ffff;
						border-radius: 55%;
						box-shadow: 0.1px 0.7px #000;
						.tt-circle__icon {
							margin: 0 auto;
							position: absolute;
							left: 7px;
							top: -8px;
							text-align: center;
							font: $text1x-43 $font-list-b;
							color: #fff;
							cursor: pointer;
						} //end tt-circle__icon
			
						opacity: 0; //initializing the opacity of the tooltip.
						pointer-events: none;
						cursor: pointer;
						animation: info-tool-tip 1s ease-in 5.5s forwards;
					} //end tt-circle
				
					.tt-circle:hover ::after {
						content: "PLACEHOLDER TEXT: REPLACE WITH CASE STUDY VARIANT SPECIFIC AUXILLARY INFO";
						white-space: pre-wrap; // to allow for inserting line breaks into the content propety
						position: absolute;
						transition: 1s all ease;
						padding: 20px 20px;
						top: -35px;
						left: -173px;
						width: 317px;
						height: 179px;
					
						background-color: #fffff2ed;
						border: 1px solid #ffffff;
						border-radius: 3px;
						box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
						color: #000000;
						font-size: $textBase;
			
						// //NOTE: Tooltip animation:
						animation: tooltip-animate 0.3s ease forwards;
					} //end tt-circle:hover
		} //end atf

		.btf-2 {
			.btf-2__project-container-box {
				@include csContentBox-Projectdetails-DL;

				.cs-project-desc__title {
					//NOTE: Design variant:
					font-size: $text1x-56; //25.313px = 25px; //25% of dimensions in 1440px variant.
				} //end .cs-project-desc__title

				.cs-project-sum__title {
					//NOTE: design variant:
					font-size: $text1x-56; //25.313px = 25px; //25% of dimensions in 1440px variant.
				} // end cs-project-sum title

				.cs-project-desc {
					//NOTE: design variant:

					.cs-project-desc__text {
						//NOTE: design variant:
						font-size: $text1x-12; //15.75px; = 16px 18px used //25% of dimensions in 1920px variant.
					} //end cs-project__text
					top: -10px;
					margin-left: auto;
					margin-right: auto;
				} //end cs-project-desc

				//divider
				.project-info-divider {
					//NOTE: hidden on all devices below 1024px width
					width: 90%;
					top: -94px;
				} //end project-info-divider

				//divider

				.cs-project-sum {
					//NOTE: design variant:
					// @include

					.cs-project-sum__text-1 {
						//NOTE: design variant:

						.cs-project-sum__text__head {
							//NOTE: design variant:
							font-size: 1.12rem; //18px //same from tablet variant upwardrs.
						} //end cs-project-sum__text__head

						.cs-project-sum__text__body {
							//NOTE: design variant:
							font-size: 1.12rem; //18px //same from tablet variant upwardrs.
						} //end cs-project-sum__text__body
					} //end cs-project-sum__text-1
					//NOTE: Design variant: Relative positioning already declared so just giving adjustments in arrangment of text here.
					top: -109px;
					margin-left: auto;
					margin-right: auto;
				} //end cs-project-sum
				margin-left: auto;
				margin-right: auto;

				//NOTE: UI/UX: ANIMATION & TRANSITIONS: Case Studies Below The Fold Container box 
				opacity: 0;
				animation: btf-project-container-box-reveal 0.5s linear 2.0s forwards;
			} //end btf-2__project-container-box
		} //end btf-2

		.nav-chevrons{
			position: absolute;
			z-index: 13;
			right: 110px;
   			top: 587px;

			.chevron-down{
				position: relative;
				opacity: 0; //NOTE: initializing the starting state for the reveal of chevron.
					animation: chevron-down-reveal 2s linear 3s forwards,chevron-down-animate 1s ease 4s infinite;
			}//end chevron-down
		}//end nav-chevrons

		.btl {
			height: 225px; // 25% of the dimenions of 1440px variant.
			text-align: center;
			.btl__title-container {
				position: relative;
				// top: 40px;
				//NOTE: Made an extra container to hold all the titles and more easily move them around.

				.btl__title {
					//NOTE: Design variant - Expanded the area of the text heading by widening the margins to make use of the wider screen space as in the design for this viewport. Moved the "THE LINES" title section up, so it can be aligned with the first title. "BETWEEN" and "THE LINES" were separated to make it easier to stack them in the mobile viewport design variation (smaller screen to work with)

					// margin-left: 200px;
					// margin-right: 200px;
					//Makes "BETWEEN THE LINES " TEXT one line again.
					@include flexMix;

					.btl__title-1 {
						//NOTE: Design variant
						font-size:$text3x-68; //58.875px  = 59px // 25% of the dimensions of 1440px variant.
					} //end of btl__title-1

					.btl__title-2 {
						//NOTE: Design variant
		                font-size:$text3x-68; //58.875px  = 59px // 25% of the dimensions of 1440px variant.
					
					} //end of btl__title-2
				} //end of btl-title

				.btl__text {
					//NOTE Design variant

					// margin-left: 200px;
					// margin-right: 200px;

					//NOTE: moving the container for the milestones and deliverables up to match the design for landscape.
					position: relative;
					// top: -60px;
					@include flexMix;
					line-height: normal;

					.btl__text-1 {
						//NOTE Design variant
						position: relative;
						left: 0px; //resetting values
						font-size: $text1x-75; //28.125px = 28px //25% of the dimensions of 1440px variant.
					} //end of btl__text-1

					.btl__text-2 {
						//NOTE Design variant
						position: relative;
						top: 0px; //resetting values
						right: -9px; //NOTE: adding  a little spacing between challenges and lessons learned. 
						font-size: $text1x-75; //28.125px = 28px //25% of the dimensions of 1440px variant.
					} //end of btl__text-2
				} //end btl__text
			} //end btl__title-container
		} //end of btl

		.btl-content-block-1 {
			//NOTE: Design variant:

			.btl-content-block__time {

				//NOTE: design variant: //reseting position witihin parent.
				font-size: $text2x-43; //39.375px = - 25% of the dimensions of the variant in 1440px;
				align-self: start;
				left: 120px;
				top: 5px;
				text-decoration: underline;

			} //end btl-content-block__time

			.btl-content-block__time-text_2 {

				//NOTE: design variant: //reseting position witihin parent.
				font-size: $text2x-43; //39.375px = - 25% of the dimensions of the variant in 1440px;
				position: absolute;
				left: 592px;
				top: 4px; //reseting position witihin parent - aligning with timeline text.
				text-decoration: underline;

			} //end btl-content-block__time-text_2

			.btl-content-block__sub {

				//NOTE: design variant
				font-size: $text1x-18; //18.75px; = 19px 18px used //25% of dimensions in 1920px variant.

			} //end btl-content-block__sub
			.btl-content-block__text {

		        //NOTE: design variant
		        font-size: $text1x-18; //18.75px; = 19px 18px used //25% of dimensions in 1920px variant.

			} //end btl-content-block__text
		} //end btl-content-block-1

		.btl-content-block-2 {
			//NOTE: Design variant: Height reset so content only takes as much space as is needed as the template expands and shrinks based on the content of the project being described. removed the fixed widths of mobile design variant.
			// height: 800px; // reseting height of container.
			justify-content: start;

			.btl-content-block__time {

				//NOTE: design variant:
				font-size: $text2x-43; //39.375px = - 25% of the dimensions of the variant in 1440px;
				align-self: start;
				left: 120px;
				top: 5px;
				text-decoration: underline;

			} //end btl-content-block__time

			.btl-content-block__time__sub {

				//NOTE: design variant: //reseting position witihin parent.
				font-size: $text2x-43; //39.375px = - 25% of the dimensions of the variant in 1440px;
				position: absolute;
				left: 592px;
				top: 4px; //reseting position witihin parent - aligning with timeline text.
				text-decoration: underline;

			} //end btl-content-block__time

			.btl-content-block__sub {

				//NOTE: design variant: Text for body copy will remain the same. Any smaller may cuase readibility issues. 
		        font-size: $text1x-18; //18.75px; = 19px 18px used //25% of dimensions in 1920px variant.
			
			} //end btl-content-block__sub
			.btl-content-block__text {

				//NOTE: design variant: Text for body copy will remain the same. Any smaller may cuase readibility issues. 
				font-size: $text1x-18; //18.75px; = 19px 18px used //25% of dimensions in 1920px variant.
			
			} //end btl-content-block__text

		} //end btl-content-block-2




		//NOTE: Design variant: Opted to keep the same styles as in the 768px variant since the width dimensions effects are negliable to the design.
		.mobile-cta-footer {
			@include flexMix-col;
			align-items: center;
			height: 800px;

			background-color: #fff;
			color: black;

			.mobile-cta-footer-footer__conttainer{
				display: flex;
  				flex-direction: column;
  				flex-wrap: wrap;
			

					.mobile-cta-footer-branding {
						.mobile-cta-footer-branding__text-1,
						.mobile-cta-footer-branding__text-2 {
							font-family: $font-list-h;
							font-weight: nth($f-weights, 3);
							font-style: normal;
							font-size: $text2X-81; //45px;
							margin: 0px 12px;
						}

						.mobile-cta-footer__logo {
							width: 155px;
							height: 55px;
							position: relative;
							top: -59px;
							left: 315px;
						}
					}

					.mobile-cta-footer__button {
						width: 379px;
						height: 74px;
						background: #f5b600 0% 0% no-repeat padding-box;
						box-shadow: 0px 2px 0px #000000;
						border-radius: 5px;

						font-family: $font-list-h;
						font-weight: nth($f-weights, 1);
						font-style: normal;
						font-size: $text1x-87; //30px;
						position: relative;
						top:-27px;

						.hero-text {
							//NOTE: Design variant - slight adjustment for the text in the link styled like a button, to center it.
							//Already has position relative inherited from parent stylesheet - main.scss.
							top: 13px;
						} //end hero-text
					}//end mobile-cta-footer__button

					.mobile-cta-footer__button:hover {
						background: #ffcf15 no-repeat padding-box;
						
						text-shadow: 0px 2px .5px #4a45459e;

						.hero-text{
							//NOTE: Design variant overiding the span tag color assignment from the tablet and mobile variants.
							color: #f8f2f2 !important;
						}//end hero-text
					} //end .mobile-cta-footer__button:hover state

					.mobile-cta-footer__sm-links {
						@include flexMix;
						list-style: none;
						align-content: center;
						position: relative;
						//NOTE: Design variant
						padding: 0px; //reseting the padding to default of zero.
						position: relative;
						top: -20px;

						li {
							#smi-yt,
							#smi-b,
							#smi-fb,
							#smi-ig,
							#smi-lk {
								position: relative;
							} //end img

							#smi-yt {
							} //end smi-yt

							#smi-yt:hover {
								@include about-lowerNav-hoverstate;
							} //end #smi-yt:hover

							//======================================================

							#smi-b {
							} //end smi-b

							#smi-b:hover {
								@include about-lowerNav-hoverstate;
							} //end #smi-b:hover

							//======================================================

							#smi-fb {
							} // end smi-fb

							#smi-fb:hover {
								@include about-lowerNav-hoverstate;
							} //end #smi-fb:hover

							//======================================================

							#smi-ig {
							} //end smi-ig

							#smi-ig:hover {
								@include about-lowerNav-hoverstate;
							} //end #smi-ig:hover
							//======================================================

							#smi-lk {
							} //end smi-lk

							#smi-lk:hover {
								@include about-lowerNav-hoverstate;
							} //end #smi-lk:hover
							//======================================================

							position: relative;
							margin-right: 10px;
							cursor: pointer;
						} //end li
					} //end mobile-cta-footer__sm-links


			}//end  mobile-cta-footer-footer-__conttainer
		} // end mobile-cta-footer


		/*SECTION  ANIMATIONS & TRANSITIONS 
		ABOVE MOBILE PHONES - TABLET RANGE  - LANDSCAPE -   >1920px */
		/*ANIMATIONS: */
		//==========================
		//Playback Master sequence:
		//1 - page bg-image:
		//2: - social icons:
		//3: chevron-down-animate:
		//4:  chevron-down-reveal:
		//5: atf-cs-project-reveal:
		//6: atf-cs-client-reveal:
		//7: btf-cs-project-desc-reveal:
		//8: btf-cs-project-info-divider-reveal:
		//9: btf-cs-project-sum-reveal:
		//10: btf-project-container-box-reveal:
		//11: info tooltip:
		//12: info tooltip-pulse:
		//13: info tool-tip-animate:
		//==========================
	//1 - page bg-image:

	@keyframes bg-reveal {
		@include basicReveal;
		} //end bg-reveal
	
	//--------------------------
	
	
			//2: - social icons:
	
			@keyframes social-icons-animate {
				@include basicReveal;
				0% {
					top: 0px;
				}
	
				50% {
					top: -4px;
				}
	
				100% {
					top: 0px;
				}
			} //end social-icons-reveal
			//--------------------------
	
			//3: chevron-down-animate
			@keyframes chevron-down-animate {
				0% {
					top: 0px;
				}
	
				50% {
					top: 2.5px;
				}
	
				100% {
					top: 0px;
				}
			} //end chevron-down-animate
			//--------------------------
	
			//4:  chevron-down-reveal
			@keyframes chevron-down-reveal {
				@include basicReveal;
	
				0%{
					pointer-events: none;
				}
				100%{
					pointer-events: all;
	
				}
			} //end chevron-down-reveal
			//--------------------------
	
	
			//5: atf-cs-project-reveal
			@keyframes atf-cs-project-reveal {
				@include basicReveal;
				0%{
					
					transform:  translateY(-10px) 
				} 
	
				100%{
					transform:  translateY(1px) 
				}
				
			}//end atf-cs-project-reveal
			//--------------------------
	
	
			//6: atf-cs-client-reveal 
			@keyframes atf-cs-client-reveal {
				@include basicReveal;
				0%{
					
					transform:  translateY(-10px) 
				} 
	
				100%{
					transform:  translateY(1px) 
				}
			}// end atf-cs-client-reveal
			//--------------------------
	
			//7: btf-cs-project-desc-reveal
			@keyframes btf-cs-project-desc-reveal{
				@include basicReveal;
				0%{
					
					transform:  translateY(-10px) 
				} 
	
				100%{
					transform:  translateY(1px) 
				}
			}//end btf-cs-project-desc-reveal
	
			//--------------------------
	
			//8: btf-cs-project-info-divider-reveal
			@keyframes btf-cs-project-info-divider-reveal{
			
				@include basicReveal;
				0%{
					
					transform:  translateY(-10px) 
				} 
	
				100%{
					transform:  translateY(1px) 
				}
			}//end btf-cs-project-info-divider-reveal
			//--------------------------
	
			//9: btf-cs-project-sum-reveal
			@keyframes btf-cs-project-sum-reveal{
				
				@include basicReveal;
				0%{
					
					transform:  translateY(-10px) 
				} 
	
				100%{
					transform:  translateY(1px) 
				}
			}//end btf-cs-project-sum-reveal
			//--------------------------
	
			//10: btf-project-container-box-reveal
			@keyframes btf-project-container-box-reveal {
	
				@include basicReveal;
				0%{
					
					transform:  translateY(-10px) 
				} 
	
				100%{
					transform:  translateY(1px) 
				}
			}//end btf-project-container-box-reveal
	
	
		//11: info tooltip:
		@keyframes info-tool-tip {
			0% {
				opacity: 0;
				pointer-events: none;
				transform: scale(0);
			}
	
			50% {
				opacity: 0.5;
				pointer-events: none;
				transform: scale(0.5);
			}
	
			100% {
				opacity: 1;
				pointer-events: all;
				transform: scale(1);
			}
		} //end info-tool-tip
		//--------------------------
	
		//12: info tooltip-pulse:
		@keyframes info-tt-pulse {
			0% {
				opacity: 1;
				pointer-events: none;
				transform: scale(1);
			}
	
			50% {
				opacity: 0.5;
				pointer-events: none;
				transform: scale(1.5);
			}
	
			100% {
				opacity: 0;
				pointer-events: all;
				transform: scale(2);
			}
		} //end info-tool-tip
		//--------------------------
	
		//13: info tool-tip-animate:
		@keyframes tooltip-animate {
			0% {
				opacity: 0;
				transform: scale(0);
			}
	
			50% {
				opacity: 0.5;
				transform: scale(0.5);
			}
	
			100% {
				opacity: 1;
				transform: scale(1);
			}
		} //end info tool-tip-animate
		//--------------------------
	
	
	
			/*END ANIMATIONS*/
			/*!SECTION END ANIMATIONS & TRANSITIONS */

		
	} //end body
} //end media query
/*!SECTION ABOVE MOBILE PHONES - TABLET RANGE  - DESKTOP-SMALL -   >1280px */
/*!SECTION: END - [RESPONSIVE DESIGN] */
