/*SECTION ABOVE MOBILE PHONES - TABLET RANGE  - LANDSCAPE -   >1024px */
@media (min-width: 1024px) {
	@mixin csContentBox-TL {
		position: relative;
		width: 400px;
		height: 300px;
		top: 0px;
		left: 0px;
		background: none;
		border-radius: 0;
		margin: 0px;
	}

	@mixin csContentBox-ClientDetails-TL {
		position: relative;
		width: 228px;
		height: 0px;
		top: 0px;
		left: 0px;
		background-color: rgba(255, 255, 255, 0.11);
		border-radius: 4%;
		margin: 0px;
	}

	//NOTE: design variant: Creating the content box specifically for the wider veiwport variants replacing the boxes used in portrait versions.
	@mixin csContentBox-Projectdetails-TL {
		position: relative;
		width: 450px;
		height: 650px;
		top: -390px;
		left: 160px;
		background-color: rgba(255, 255, 255, 0.11);
		border-radius: 4%;
		margin: 0px;
		z-index: 1;
	}
	body {

		//NOTE: UI/UX: ANIMATION & TRANSITIONS: 1 - Page Background Image - Reveal effect
		background-image: none; // set the inital state of the property 	- for animation
		opacity: 0; // set the inital state of the property - for animation
		background-color: #000000;
		animation: bg-reveal 0.5s ease-in forwards;

		.atf-1 {
			// background-image: url("/img/img-tablet-l/tablet-landscape-ps-ng-bg.png");
			background-repeat: no-repeat;
			background-position: left 0px top 0px; // first value left and right, second - top and bottom.
			background-attachment: scroll;

			//NOTE: design variant: height reset
			height: 800px;

			.cs-project {
				@include csContentBox-ClientDetails-TL;
				margin-bottom: 80px;
				height: 287px;

				.cs-project__title {
					//NOTE: design variant:
					margin-top: 40px; // aligning the title with project description title.
					font-size: $text1X-25; //20px;
				} //end cs-project__title

				.cs-project__services {
					//NOTE: design variant:

					.cs-project__service {
						//NOTE: design variant:
						font-size: $text1x-12; //18px;
					} //endccs-project__service

					//NOTE: UI/UX: ANIMATION & TRANSITIONS: Case Studies project section
				opacity: 0;
				animation: atf-cs-project-reveal 0.5s linear 1.5s forwards;
				} //end cs-project__services

				top: -130px;
				left: -85px;
			} //end cs-project

			.cs-client-details {
				@include csContentBox-ClientDetails-TL;
				height: 300px;
				//NOTE: design variant:

				.cs-client-details__title {
					//NOTE: design variant:
					font-size: $text1X-25; //20px;
				} //end cs-client-details__title

				.cs-client-details__status {
					//NOTE: design variant:
					font-size: $text1x-12; //18px;
				} //end cs-client-details__status

				.status-flag {
					//NOTE: design variant:
				} //end status-flag

				.cs-client-details__text {
					//NOTE: design variant:
					font-size: $text1x-12; //18px;
				} //end cs-client-details__text

				position: relative;
				top: 175px;
				left: -315px;
			} //end cs-client-details

				//NOTE: UI/UX: ANIMATION & TRANSITIONS: Case Studies Client details section
				opacity: 0;
				animation: atf-cs-client-reveal 0.5s linear 2.0s forwards;
	
				//===================================================
	
						//NOTE: ADDITIONAL INFORMATION TOOL TIP SECTION
						.tt-circle {
							position: absolute;
							top: 12px;
							left: 463px;
							width: 20px;
							height: 20px;
							background-color: #8a8a8a98;
							border: 1px solid #ffff;
							border-radius: 55%;
							box-shadow: 0.1px 0.7px #000;
							.tt-circle__icon {
								margin: 0 auto;
								position: absolute;
								left: 7px;
								top: -8px;
								text-align: center;
								font: $text1x-43 $font-list-b;
								color: #fff;
								cursor: pointer;
							} //end tt-circle__icon
				
							opacity: 0; //initializing the opacity of the tooltip.
							pointer-events: none;
							cursor: pointer;
							animation: info-tool-tip 1s ease-in 5.5s forwards;
						} //end tt-circle
					
						.tt-circle:hover ::after {
							content: "PLACEHOLDER TEXT: REPLACE WITH CASE STUDY VARIANT SPECIFIC AUXILLARY INFO";
							white-space: pre-wrap; // to allow for inserting line breaks into the content propety
							position: absolute;
							transition: 1s all ease;
							padding: 20px 20px;
							top: 152px;
							left: -586px;
							width: 500px;
							height: 150px;
							background-color: #fffff2ed;
							border: 1px solid #ffffff;
							border-radius: 3px;
							box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
							color: #000000;
							font-size: $textBase;
				
							// //NOTE: Tooltip animation:
							animation: tooltip-animate 0.3s ease forwards;
						} //end tt-circle:hover
		} //end atf-1

		.btf-2 {
			.btf-2__project-container-box {
				@include csContentBox-Projectdetails-TL;

				.cs-project-desc__title,
				.cs-project-sum__title {
					//NOTE: design variant:

					font-size: $text1x-37; //22px;
				} // end cs-project-desc & sun title

				.cs-project-desc {
					//NOTE: design variant:

					@include csContentBox-TL;
					top: 31px;

					.cs-project-desc__text {
						//NOTE: design variant:
						font-size: $text1x-12; //18px;
					} //end cs-project__text

					left: 25px;

					//NOTE: UI/UX: ANIMATION & TRANSITIONS: Case Studies project description section
					opacity: 0;
					animation: btf-cs-project-desc-reveal 0.5s linear 2.5s forwards;


						//NOTE: ADDITIONAL INFORMATION TOOL TIP SECTION
						.tt-circle {
							position: absolute;
							top: -8px;
							left: 415px;
	
							width: 20px;
							height: 20px;
							background-color: #8a8a8a98;
							border: 1px solid #ffff;
							border-radius: 55%;
							box-shadow: 0.1px 0.7px #000;
							.tt-circle__icon {
								margin: 0 auto;
								position: absolute;
								left: 7px;
								top: -8px;
								text-align: center;
								font: $text1x-43 $font-list-b;
								color: #fff;
								cursor: pointer;
							} //end tt-circle__icon
				
							opacity: 0; //initializing the opacity of the tooltip.
							pointer-events: none;
							cursor: pointer;
							animation: info-tool-tip 1s ease-in 5.5s forwards;
						} //end tt-circle
	
	
						.tt-circle:hover ::after {
							content: "PLACEHOLDER TEXT: REPLACE WITH CASE STUDY VARIANT SPECIFIC AUXILLARY INFO";
							white-space: pre-wrap; // to allow for inserting line breaks into the content propety
							position: absolute;
							transition: 1s all ease;
							padding: 20px 20px;
							top: 44px;
							left: -457px;
							width: 399px;
							height: 167px;
	
							background-color: #fffff2ed;
							border: 1px solid #ffffff;
							border-radius: 3px;
							box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
							color: #000000;
							font-size: $textBase;
				
							// //NOTE: Tooltip animation:
							animation: tooltip-animate 0.3s ease forwards;
						} //end tt-circle:hover
				} //end cs-project-desc

				//divider
				.project-info-divider {
					//NOTE: hidden on all devices below 1024px width
					display: inline-block !important;
					transform: rotate(0deg);
					position: relative;
					top: -50px;
					left: 0px;
					width: 350px;
					border-width: 1px;
					color: #fff;

					//NOTE: UI/UX: ANIMATION & TRANSITIONS: Case Studies project information divider
					opacity: 0;
					animation: btf-cs-project-info-divider-reveal 0.5s linear 3.0s forwards;
				} //end project-info-divider

				//divider

				.cs-project-sum {
					//NOTE: design variant:
					@include csContentBox-TL;

					top: 0px;

					.cs-project-sum__text-1 {
						//NOTE: design variant:

						.cs-project-sum__text__head {
							//NOTE: design variant:
							font-weight: nth($f-weights, 2);
							font-size: $text1x-12; //18px;
						} //end cs-project-sum__text__head

						.cs-project-sum__text__body {
							//NOTE: design variant:
							font-size: $text1x-12; //18px;
						} //end cs-project-sum__text__body
					} //end cs-project-sum__text-1
					top: -45px;
					left: 24px;
				} //end cs-project-sum
				//NOTE: UI/UX: ANIMATION & TRANSITIONS: Case Studies project summary section
				opacity: 0;
				animation: btf-cs-project-sum-reveal 0.5s linear 3.7s forwards;
			} //end btf-2__project-container-box
		} //end btf-2

		.nav-chevrons{
			position: absolute;
			z-index: 13;
			right: 51px;
			top: 635px;

			.chevron-down{
				position: relative;
				opacity: 0; //NOTE: initializing the starting state for the reveal of chevron.
					animation: chevron-down-reveal 2s linear 3s forwards,chevron-down-animate 1s ease 4s infinite;
			}//end chevron-down
		}//end nav-chevrons

		.btl {
			text-align: center;
			.btl__title-container {
				position: relative;
				// top: 40px;
				//NOTE: Made an extra container to hold all the titles and more easily move them around.

				.btl__title {
					//NOTE: Design variant - Expanded the area of the text heading by widening the margins to make use of the wider screen space as in the design for this viewport. Moved the "THE LINES" title section up, so it can be aligned with the first title. "BETWEEN" and "THE LINES" were separated to make it easier to stack them in the mobile viewport design variation (smaller screen to work with)

					// margin-left: 200px;
					// margin-right: 200px;

					.btl__title-1 {
						//NOTE: Design variant
						// position: relative;
						// left: -190px;
					} //end of btl__title-1

					.btl__title-2 {
						//NOTE: Design variant
						font-size: $text3x-43; //55px;
						// position: relative;
						// top: -45px;
						// right: -99px;
					} //end of btl__title-2
				} //end of btl-title

				.btl__text {
					//NOTE Design variant

					// margin-left: 200px;
					// margin-right: 200px;

					//NOTE: moving the container for the milestones and deliverables up to match the design for landscape.
					position: relative;
					// top: -60px;

					.btl__text-1 {
						position: relative;
						left: initial;
						font-size: $text1x-37; //22px;
					} //end of btl__text-1

					.btl__text-2 {
						position: relative;
						top:initial;
						right:initial;
						font-size: $text1x-37; //22px;
					} //end of btl__text-2
				} //end btl__text
			} //end btl__title-container
		} //end of btl

		.btl-content-block-1 {
			//NOTE: Design variant: 

			.btl-content-block__time {
				font-size: $text2X-81; //45px;
				color: $brandColor;
				//NOTE: design variant: //reseting position witihin parent.
				margin-top: 0px; //reseting position witihin parent.
				margin-bottom: 0px; //reseting position witihin parent.
			} //end btl-content-block__time

			.btl-content-block__time-text_2 {
				//NOTE: design variant:
				font-size: $text1x-56; //25px;
				color: $brandColor;
				//NOTE: design variant: //reseting position witihin parent.
				margin-top: 0px; //reseting position witihin parent.
				margin-bottom: 0px; //reseting position witihin parent.
				top: 0px; //reseting position witihin parent.
			} //end btl-content-block__time-text_2

			.btl-content-block__sub {
				margin-left: 130px;
				margin-right: 130px;
				text-align: left;
			} //end btl-content-block__sub
			.btl-content-block__text {
				margin-left: 130px;
				margin-right: 130px;
				text-align: left;
			} //end btl-content-block__text

			//NOTE: Key/legend illustration
			.legend {
				//NOTE: using the important flag to overide the insline sytle's specificity.

				display: block !important;
				.legend__circle {
					//NOTE: Design variant: position absolutely so to remove the legend from the documentflow as to not affect the cascade of the text in teh copy, and also afixes the legend elements where they were initally created, within their parent container (btl-content-block-1)
					position: absolute;
					overflow: hidden;
					top: 13px;
					display: block;
					background-color: #fff;
					width: 96px;
					height: 96px;
					border-radius: 50px;
					border: 1px solid #ffd866;

					.legend__circle-2 {
						position: absolute;
						overflow: hidden;
						top: 23px;
						left: 10%;
						right: 10%;
						display: block;
						margin: 0 auto;
						background-color: #ffd866;
						width: 48px;
						height: 48px;
						border-radius: 50px;
						border: 1px solid #ffd866;
					} //end legend__Circle-2
				} //end legend__Circle

				.legend__line {
					position: absolute;
					overflow: hidden;
					top: 107px;
					left: 73px;
					display: block;
					background-color: #ffd866;
					width: 8px;
					height: 100%;
				} //end legend__line
			} //end legend
		} //end btl-content-block-1

		.btl-content-block-2 {
			//NOTE: Design variant: Height reset so content only takes as much space as is needed as the template expands and shrinks based on the content of the project being described. removed the fixed widths of mobile design variant.
			// height: 800px; // reseting height of container.
			justify-content: start;

			.btl-content-block__time {
				font-family: $font-list-h;
				font-weight: nth($f-weights, 2);
				//NOTE: design variant:
				font-size: $text2X-81; //45px;
				//NOTE: design variant: //reseting position witihin parent.
				margin-top: 0px; //reseting position witihin parent.
				margin-bottom: 0px; //reseting position witihin parent.
				top: 25px; //reseting position witihin parent.
			} //end btl-content-block__time

			.btl-content-block__time__sub {
				font-family: $font-list-h;
				font-weight: nth($f-weights, 2);
				//NOTE: design variant:
				font-size: $text1x-56; //25px;
				margin-top: 0px; //reseting position witihin parent.
				margin-bottom: 0px; //reseting position witihin parent.
				//NOTE: design variant:
				// mMaking the alignment and spacing match the sub tiem heading in the first block.
				top: 25px;
    			position: relative;
			} //end btl-content-block__time

			.btl-content-block__sub {
				font-family: $font-list-b;
				font-weight: nth($f-weights, 1);
				margin-left: 130px;
				margin-right: 130px;
				text-align: left;
				position: relative;
				
			} //end btl-content-block__sub
			.btl-content-block__text {
				font-family: $font-list-b;
				font-weight: nth($f-weights, 3);
				margin-left: 130px;
				margin-right: 130px;
				text-align: left;
				position: relative;
				
			} //end btl-content-block__text

			.legend-alt {
				//NOTE: using the important flag to overide the insline sytle's specificity.

				display: block !important;
				.legend-alt__circle {
					//NOTE: Design variant: position absolutely so to remove the legend from the documentflow as to not affect the cascade of the text in teh copy, and also afixes the legend elements where they were initally created, within their parent container (btl-content-block-1)
					position: absolute;
					overflow: hidden;
					top: 13px;
					display: block;
					background-color: #fff;
					width: 96px;
					height: 96px;
					border-radius: 50px;
					border: 1px solid #ffd866;

					.legend-alt__circle-2 {
						position: absolute;
						overflow: hidden;
						top: 23px;
						left: 10%;
						right: 10%;
						display: block;
						margin: 0 auto;
						background-color: #ffd866;
						width: 48px;
						height: 48px;
						border-radius: 50px;
						border: 1px solid #ffd866;
					} //end legend__Circle-2
				} //end legend__Circle

				.legend-alt__line {
					position: absolute;
					overflow: hidden;
					top: 107px;
					left: 73px;
					display: block;
					background-color: #ffffff;
					width: 8px;
					height: 100%;
				} //end legend__line
			} //end legend
		} //end btl-content-block-2

		.mobile-cta-footer {
			//NOTE: Design variant: Height reset so content only takes as much space as is needed as the template expands and shrinks based on the content of the project being described. removed the fixed widths of mobile design variant.
			height: 800px; // reseting height of container.
			.mobile-cta-footer__button{
				.hero-text{
					//NOTE: Design variant - slight adjustment for the text in the link styled like a button, to center it. 
					//Already has position relative inherited from parent stylesheet - main.scss. 
					// top: 13px;

				}//end hero-text
			}//end mobile-cta-footer__button

			.mobile-cta-footer__button:hover {
				background: #ffcf15 no-repeat padding-box;
				
				text-shadow: 0px 2px .5px #4a45459e;

				.hero-text{
					//NOTE: Design variant overiding the span tag color assignment from the tablet and mobile variants.
					color: #f8f2f2 !important;
				}//end hero-text
			} //end .mobile-cta-footer__button:hover state
		

		.mobile-cta-footer__sm-links {
			//NOTE: Design variant
			li {
				#smi-yt,
				#smi-b,
				#smi-fb,
				#smi-ig,
				#smi-lk {
					position: relative;
				} //end img

				#smi-yt {
				} //end smi-yt

				#smi-yt:hover {
					@include about-lowerNav-hoverstate;
				} //end #smi-yt:hover

				//======================================================

				#smi-b {
				} //end smi-b

				#smi-b:hover {
					@include about-lowerNav-hoverstate;
				} //end #smi-b:hover

				//======================================================

				#smi-fb {
				} // end smi-fb

				#smi-fb:hover {
					@include about-lowerNav-hoverstate;
				} //end #smi-fb:hover

				//======================================================

				#smi-ig {
				} //end smi-ig

				#smi-ig:hover {
					@include about-lowerNav-hoverstate;
				} //end #smi-ig:hover
				//======================================================

				#smi-lk {
				} //end smi-lk

				#smi-lk:hover {
					@include about-lowerNav-hoverstate;
				} //end #smi-lk:hover
				//======================================================

				position: relative;
				margin-right: 10px;
				cursor: pointer;
			} //end li
		} //end mobile-cta-footer__sm-links
	} // mobile-cta-footer

		/*SECTION  ANIMATIONS & TRANSITIONS 
		ABOVE MOBILE PHONES - TABLET RANGE  - LANDSCAPE -   >1920px */
		/*ANIMATIONS: */
		//==========================
		//Playback Master sequence:
		//1 - page bg-image:
		//2: - social icons:
		//3: chevron-down-animate:
		//4:  chevron-down-reveal:
		//5: atf-cs-project-reveal:
		//6: atf-cs-client-reveal:
		//7: btf-cs-project-desc-reveal:
		//8: btf-cs-project-info-divider-reveal:
		//9: btf-cs-project-sum-reveal:
		//10: btf-project-container-box-reveal:
		//11: info tooltip:
		//12: info tooltip-pulse:
		//13: info tool-tip-animate:
		//==========================
	//1 - page bg-image:

	@keyframes bg-reveal {
		@include basicReveal;
		} //end bg-reveal
	
	//--------------------------
	
	
			//2: - social icons:
	
			@keyframes social-icons-animate {
				@include basicReveal;
				0% {
					top: 0px;
				}
	
				50% {
					top: -4px;
				}
	
				100% {
					top: 0px;
				}
			} //end social-icons-reveal
			//--------------------------
	
			//3: chevron-down-animate
			@keyframes chevron-down-animate {
				0% {
					top: 0px;
				}
	
				50% {
					top: 2.5px;
				}
	
				100% {
					top: 0px;
				}
			} //end chevron-down-animate
			//--------------------------
	
			//4:  chevron-down-reveal
			@keyframes chevron-down-reveal {
				@include basicReveal;
	
				0%{
					pointer-events: none;
				}
				100%{
					pointer-events: all;
	
				}
			} //end chevron-down-reveal
			//--------------------------
	
	
			//5: atf-cs-project-reveal
			@keyframes atf-cs-project-reveal {
				@include basicReveal;
				0%{
					
					transform:  translateY(-10px) 
				} 
	
				100%{
					transform:  translateY(1px) 
				}
				
			}//end atf-cs-project-reveal
			//--------------------------
	
	
			//6: atf-cs-client-reveal 
			@keyframes atf-cs-client-reveal {
				@include basicReveal;
				0%{
					
					transform:  translateY(-10px) 
				} 
	
				100%{
					transform:  translateY(1px) 
				}
			}// end atf-cs-client-reveal
			//--------------------------
	
			//7: btf-cs-project-desc-reveal
			@keyframes btf-cs-project-desc-reveal{
				@include basicReveal;
				0%{
					
					transform:  translateY(-10px) 
				} 
	
				100%{
					transform:  translateY(1px) 
				}
			}//end btf-cs-project-desc-reveal
	
			//--------------------------
	
			//8: btf-cs-project-info-divider-reveal
			@keyframes btf-cs-project-info-divider-reveal{
			
				@include basicReveal;
				0%{
					
					transform:  translateY(-10px) 
				} 
	
				100%{
					transform:  translateY(1px) 
				}
			}//end btf-cs-project-info-divider-reveal
			//--------------------------
	
			//9: btf-cs-project-sum-reveal
			@keyframes btf-cs-project-sum-reveal{
				
				@include basicReveal;
				0%{
					
					transform:  translateY(-10px) 
				} 
	
				100%{
					transform:  translateY(1px) 
				}
			}//end btf-cs-project-sum-reveal
			//--------------------------
	
			//10: btf-project-container-box-reveal
			@keyframes btf-project-container-box-reveal {
	
				@include basicReveal;
				0%{
					
					transform:  translateY(-10px) 
				} 
	
				100%{
					transform:  translateY(1px) 
				}
			}//end btf-project-container-box-reveal
	
	
		//11: info tooltip:
		@keyframes info-tool-tip {
			0% {
				opacity: 0;
				pointer-events: none;
				transform: scale(0);
			}
	
			50% {
				opacity: 0.5;
				pointer-events: none;
				transform: scale(0.5);
			}
	
			100% {
				opacity: 1;
				pointer-events: all;
				transform: scale(1);
			}
		} //end info-tool-tip
		//--------------------------
	
		//12: info tooltip-pulse:
		@keyframes info-tt-pulse {
			0% {
				opacity: 1;
				pointer-events: none;
				transform: scale(1);
			}
	
			50% {
				opacity: 0.5;
				pointer-events: none;
				transform: scale(1.5);
			}
	
			100% {
				opacity: 0;
				pointer-events: all;
				transform: scale(2);
			}
		} //end info-tool-tip
		//--------------------------
	
		//13: info tool-tip-animate:
		@keyframes tooltip-animate {
			0% {
				opacity: 0;
				transform: scale(0);
			}
	
			50% {
				opacity: 0.5;
				transform: scale(0.5);
			}
	
			100% {
				opacity: 1;
				transform: scale(1);
			}
		} //end info tool-tip-animate
		//--------------------------
	
	
	
			/*END ANIMATIONS*/
			/*!SECTION END ANIMATIONS & TRANSITIONS */

	} //end body
} // end media query
/*!SECTION ABOVE MOBILE PHONES - TABLET RANGE  - LANDSCAPE -   >1024px */
