/*SECTION ABOVE MOBILE PHONES - TABLET RANGE  - PORTRAIT -   >800px */
// @import "..//partials/nav-base-tablet";

@media (min-width: 768px) {
	@mixin csContentBox {
		position: relative;
		width: 287px;
		height: 325px;
		top: 0px;
		left: 0px;
		background-color: rgba(255, 255, 255, 0.11);
		border-radius: 4%;
		margin: 0 36px;
	}

	//NOTE: design variant: Creating the content box specifically for the wider veiwport variants replacing the boxes used in portrait versions.
	@mixin csContentBox-Projectdetails-TL {
		position: relative;
		width: 340px;
		height: 790px;
		top: -530px;
		left: 140px;
		background-color: rgba(255, 255, 255, 0.11);
		border-radius: 4%;
		margin: 0px;
		z-index: 1;
	}

	//SECTION MOBILE - PORTRAIT - BODY

	.main-container {
		justify-content: center;
		position: relative;
		@media (max-width: 359px) {
			top: 102px;
		}
	}

	.atf-1,
			.btf-2,
			.btl,
			.btl-content-block-1,
			.btl-content-block-2,
			.mobile-cta-footer {
				position: relative;
				width: 100%;
				@include flexMix;
				align-content: center;
				
				
			}

	body {

		//NOTE: UI/UX: ANIMATION & TRANSITIONS: 1 - Page Background Image - Reveal effect
		background-image: none; // set the inital state of the property 	- for animation
		opacity: 0; // set the inital state of the property - for animation
		background-color: #000000;
		animation: bg-reveal 0.5s ease-in forwards;



		.atf-1 {
			height: 1000px; // height of the containing box
			// background-image: url("/img/img-tablet-p/tablet-ps-ng-bg.png");
			background-repeat: no-repeat;
			background-position: left 0px top 0px; // first value left and right, second - top and bottom.
			background-attachment: scroll;

			.cs-project,
			.cs-project__title,
			.cs-project__services,
			.cs-project__service,
			.cs-client-details,
			.cs-client-details__title,
			.cs-client-details__status,
			.cs-client-details__text,
			.status-flag {
				list-style: none;
				color: #fff;
				text-align: center;
			}

			//All content block title styles - Above the Fold and Below

			.cs-project {
				@include csContentBox;

				.cs-project__title {
					font-family: $font-list-h;
					font-weight: nth($f-weights, 1);
					font-style: normal;
					//NOTE: design variant:
					font-size: $text1X-25; //20px;
					line-height: 95%;
				}

				.cs-project__services {
					padding: 0%;
					
					.cs-project__service {
						font-family: $font-list-b;
						font-weight: nth($f-weights, 3);
						font-style: normal;
						font-size: $textBase; //15px;
					}
				}
				position: relative;
				top: -260px;

				//NOTE: Design variant: csContentBox overrides: -width overide. -positioning overide. -
				width: 200px;
				left: 0px;
			}

			.cs-client-details {
				@include csContentBox;
				//NOTE: Design variant: width overide.
				width: 200px;

				.cs-client-details__title {
					font-family: $font-list-h;
					font-weight: nth($f-weights, 1);
					font-style: normal;
					//NOTE: design variant:
					font-size: $text1X-25; //20px;
					line-height: 95%;
				}

				.cs-client-details__status {
					font-family: $font-list-h;
					font-weight: nth($f-weights, 3);
					//NOTE: Design variant moving status and flag closer to heading to better match style in the design draft. positioning assignment cascades for both status__details & status__flag.
					position: relative;
					top: -15px;
				}
				.status-flag {
					font-family: $font-list-h;
					font-weight: nth($f-weights, 1);
					font-size: $text1X-25; //20px;
					//NOTE: Design variant moving status and flag closer to heading to better match style in the design draft.
					top: -15px;
				}
				.cs-client-details__text {
					font-family: $font-list-b;
					font-weight: nth($f-weights, 3);
					font-style: normal;
					font-size: $textBase; //15px;
					//NOTE: design variant:
					margin-left: 10px;
					margin-right: 10px;
				}

				position: relative;
				//NOTE: Design variant: csContentBox overrides: -width overide. -positioning overide. -
				top: 70px;
				left: -270px;
			}//ed cs-client-details

			//NOTE: UI/UX: ANIMATION & TRANSITIONS: Case Studies Client details section
			opacity: 0;
			animation: atf-cs-client-reveal 0.5s linear 2.0s forwards;

			//===================================================

					//NOTE: ADDITIONAL INFORMATION TOOL TIP SECTION
					.tt-circle {
						position: absolute;
						top: 12px;
						left: 463px;
						width: 20px;
						height: 20px;
						background-color: #8a8a8a98;
						border: 1px solid #ffff;
						border-radius: 55%;
						box-shadow: 0.1px 0.7px #000;
						.tt-circle__icon {
							margin: 0 auto;
							position: absolute;
							left: 7px;
							top: -8px;
							text-align: center;
							font: $text1x-43 $font-list-b;
							color: #fff;
							cursor: pointer;
						} //end tt-circle__icon
			
						opacity: 0; //initializing the opacity of the tooltip.
						pointer-events: none;
						cursor: pointer;
						animation: info-tool-tip 1s ease-in 5.5s forwards;
					} //end tt-circle
				
					.tt-circle:hover ::after {
						content: "PLACEHOLDER TEXT: REPLACE WITH CASE STUDY VARIANT SPECIFIC AUXILLARY INFO";
						white-space: pre-wrap; // to allow for inserting line breaks into the content propety
						position: absolute;
						transition: 1s all ease;
						padding: 20px 20px;
						top: 152px;
						left: -586px;
						width: 500px;
						height: 150px;
						background-color: #fffff2ed;
						border: 1px solid #ffffff;
						border-radius: 3px;
						box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
						color: #000000;
						font-size: $textBase;
			
						// //NOTE: Tooltip animation:
						animation: tooltip-animate 0.3s ease forwards;
					} //end tt-circle:hover
		} // END of ATF--

		//BTF --------

		.btf-2 {
			//NOTE: design variant:
			//Rsetting the BTF block section to not take any real estate on the document flow soa all the project summary information fits in the ATF section of the page.
			height: 0px; //
			background-image: none;
			.btf-2__project-container-box {
				@include csContentBox-Projectdetails-TL;

				color: #fff;
				text-align: center;

				.cs-project-desc__title,
				.cs-project-sum__title {
					font-family: $font-list-h;
					font-weight: nth($f-weights, 1);
					font-style: normal;
					//NOTE: design variant:
					font-size: $text1X-25; //20px;
					line-height: 95%;
				}

				.cs-project-desc {
					//NOTE: Design variant continued adjustments for tablet variant of design. One context box for both Project description and Project Details. Need to finish resetting the values for content box's parameters used in the mixin. Removing backgound color assignment, adjusting width, removing border-radius. Keeping margin assignment.
					// @include csContentBox;
					height: 300px;
					width: 250px;
					top: 0px;
					background: none;
					margin: 0 36px;

					.cs-project-desc__text {
						font-family: $font-list-b;
						font-weight: nth($f-weights, 3);
						font-style: normal;
						font-size: $textBase; //16px;
					}//end cs-project-desc__text
					// position: relative;
					// top: -530px;
					// left: 150px;

						// //NOTE: UI/UX: ANIMATION & TRANSITIONS: Case Studies project description section
						// opacity: 0;
						// animation: btf-cs-project-desc-reveal 0.5s linear 2.5s forwards;
	
	
						// 	//NOTE: ADDITIONAL INFORMATION TOOL TIP SECTION
							.tt-circle {
								position: absolute;
								top: -8px;
								left: 415px;
		
								width: 20px;
								height: 20px;
								background-color: #8a8a8a98;
								border: 1px solid #ffff;
								border-radius: 55%;
								box-shadow: 0.1px 0.7px #000;
								.tt-circle__icon {
									margin: 0 auto;
									position: absolute;
									left: 7px;
									top: -8px;
									text-align: center;
									font: $text1x-43 $font-list-b;
									color: #fff;
									cursor: pointer;
								} //end tt-circle__icon
					
								opacity: 0; //initializing the opacity of the tooltip.
								pointer-events: none;
								cursor: pointer;
								animation: info-tool-tip 1s ease-in 5.5s forwards;
							} //end tt-circle
		
		
							.tt-circle:hover ::after {
								content: "PLACEHOLDER TEXT: REPLACE WITH CASE STUDY VARIANT SPECIFIC AUXILLARY INFO";
								white-space: pre-wrap; // to allow for inserting line breaks into the content propety
								position: absolute;
								transition: 1s all ease;
								padding: 20px 20px;
								top: 44px;
								left: -457px;
								width: 399px;
								height: 167px;
		
								background-color: #fffff2ed;
								border: 1px solid #ffffff;
								border-radius: 3px;
								box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
								color: #000000;
								font-size: $textBase;
					
								// //NOTE: Tooltip animation:
								animation: tooltip-animate 0.3s ease forwards;
							} //end tt-circle:hover

				}//end cs-project-desc

	

				//divider
				.project-info-divider {
					//NOTE: hidden on all devices below 1024px width
					display: inline-block !important;
					transform: rotate(0deg);
					position: relative;
					top: 0px;
					left: 5px;
					width: 270px;
					border-width: 1px;
					color: #fff;
				} //end project-info-divider

				//divider

				.cs-project-sum {
					//NOTE: Design variant continued adjustments for tablet variant of design. One context box for both Project description and Project Details. Need to finish resetting the values for content box's parameters used in the mixin. Removing backgound color assignment, adjusting width, removing border-radius. Keeping margin assignment.
					// @include csContentBox;
					height: 0px;
					width: 250px;
					top: 0px;
					background: none;
					margin: 0 36px;

					.cs-project-sum__text-1 {
						.cs-project-sum__text__head {
							font-family: $font-list-b;
							font-weight: nth($f-weights, 2);
							font-style: normal;
							font-size: $textSmall-93 //15px;
						}
						.cs-project-sum__text__body {
							font-family: $font-list-b;
							font-weight: nth($f-weights, 3);
							font-style: normal;
							font-size: $textBase; //16px;
						}
					} // End of project-sum__text-1
					// position: relative;
				} // END of Project-sum
				//NOTE: UI/UX: ANIMATION & TRANSITIONS: Case Studies project summary section
				opacity: 0;
				animation: btf-cs-project-sum-reveal 0.5s linear 3.7s forwards;
				
			} //end btf-2__project-container-box
		} // END of BTF--

		.nav-chevrons{
			display: initial; //NOTE: Activates the nav chevron that's off by default.
			position: absolute;
			z-index: 13;
			right: 51px;
			top: 635px;

			.chevron-down{
				position: relative;
				opacity: 0; //NOTE: initializing the starting state for the reveal of chevron.
					animation: chevron-down-reveal 2s linear 3s forwards,chevron-down-animate 1s ease 4s infinite;
			}//end chevron-down
		}//end nav-chevrons

		//BETWEEN THE LINES

		.btl {
			@include flexMix-col;
			height: 215px;
			background-color: #ffd866;
			color: #363226;
			text-align: center;

			.btl__title {
				line-height: 150%;
				margin-bottom: 2px;
				.btl__title-1 {
					font-family: $font-list-h;
					font-weight: nth($f-weights, 1);
					font-style: normal;
					font-size: $text3x-43; //55px;
				}

				.btl__title-2 {
					font-family: $font-list-h;
					font-weight: nth($f-weights, 1);
					font-style: normal;
					font-size: $text2X-81; //45px;
				}
			}
			.btl__text {
				line-height: 150%;
				.btl__text-1 {
					font-family: $font-list-h;
					font-weight: nth($f-weights, 1);
					font-style: normal;
					font-size: $text1x-06; //17px;
				}

				.btl__text-2 {
					font-family: $font-list-h;
					font-weight: nth($f-weights, 1);
					font-style: normal;
					font-size: $textSmall-87; //14px;
				}
			}
		}

		.btl-content-block-1 {
			background-color: #fcf8ec;
			color: black;
			flex-direction: column;
			flex-wrap: nowrap;
			text-align: center;
			//NOTE: Design variant
			// height: 800px; // reseting height of container.
			padding: 0 30px;

			.btl-content-block__time {
				font-family: $font-list-h;
				font-weight: nth($f-weights, 2);
				font-style: normal;
				font-size: $text1X-25; //20px;
				position: relative;
			}
			.btl-content-block__time-text_2 {
				font-family: $font-list-h;
				font-weight: nth($f-weights, 2);
				font-style: normal;
				font-size: $text1x-12; //16px;
				position: relative;
				top: -50px;
			}
			.btl-content-block__sub {
				font-family: $font-list-b;
				font-weight: nth($f-weights, 1);
				font-style: normal;
				font-size: $textSmall-93; //15px;
			}
			.btl-content-block__text {
				font-family: $font-list-b;
				font-weight: nth($f-weights, 3);
				font-style: normal;
				font-size: $textSmall-93; //15px;
				margin-left: 40px;
				margin-right: 40px;
			}
		}

		.btl-content-block-2 {
			background-color: #ffd866;
			color: black;
			// height: 800px;
			flex-direction: column;
			text-align: center;
			padding: 0 30px;

			.btl-content-block__time {
				//NOTE: design variant:

				font-family: $font-list-h;
				font-weight: nth($f-weights, 2);
				font-style: normal;
				position: relative;
				
				// top: -190px;
				// left: 0px;
			}

			.btl-content-block__time__sub {
				//NOTE: design variant:
				font-family: $font-list-h;
				font-weight: nth($f-weights, 2);
				font-style: normal;
				

				// top: -240px;
				// left: 0px;
			}

			.btl-content-block__sub {
				//NOTE: design variant:
				font-family: $font-list-b;
				font-weight: nth($f-weights, 1);
				
				margin-left: 40px;
				margin-right: 40px;
			} //end btl-content-block__sub

			.btl-content-block__text {
				//NOTE: design variant:
				font-family: $font-list-b;
				font-weight: nth($f-weights, 3);
				margin-left: 40px;
				margin-right: 40px;
			} //end btl-content-block__text
		}

		.mobile-cta-footer {
			@include flexMix-col;
			align-items: center;
			height: 800px;

			background-color: #fff;
			color: black;

			.mobile-cta-footer-branding {
				.mobile-cta-footer-branding__text-1,
				.mobile-cta-footer-branding__text-2 {
					font-family: $font-list-h;
					font-weight: nth($f-weights, 3);
					font-style: normal;
					font-size: $text2X-81; //45px;
					margin: 0px 12px;
				}

				.mobile-cta-footer__logo {
					width: 155px;
					height: 55px;
					position: relative;
					top: -59px;
					left: 315px;
				}
			}

			.mobile-cta-footer__button {
				//NOTE: width assignment not needed with flexbox
				height: 74px;
				background: #f5b600 0% 0% no-repeat padding-box;
				box-shadow: 0px 2px 0px #000000;
				border-radius: 5px;

				font-family: $font-list-h;
				font-weight: nth($f-weights, 1);
				font-style: normal;
				font-size: $text1x-87; //30px;
				position: relative;
				text-decoration: none;
				text-align: center;
				display:flex;
				.hero-text {
					//NOTE: Design variant - slight adjustment for the text in the link styled like a button, to center it.
					//Already has position relative inherited from parent stylesheet - main.scss. UPDATE: Aug 8th, 2024: given changes to base style sheet needed to re-declare some of the styling at the tablet landscape variant design.
					
					
					position: relative;
					margin: auto;
					color: #000000;

				} //end hero-text
			}//end mobile-cta-footer__button

			.mobile-cta-footer__button:hover {
				background: #ffcf15 no-repeat padding-box;
				
				text-shadow: 0px 2px .5px #4a45459e;

				.hero-text{
					//NOTE: Design variant overiding the span tag color assignment from the tablet and mobile variants.
					color: #f8f2f2 !important;
				}//end hero-text
			} //end .mobile-cta-footer__button:hover state


			.mobile-cta-footer__sm-links {
				@include flexMix;
				list-style: none;
				align-content: center;
				position: relative;
				//NOTE: Design variant
				padding: 0px; //reseting the padding to default of zero.

				li {
					#smi-yt,
					#smi-b,
					#smi-fb,
					#smi-ig,
					#smi-lk {
						position: relative;
					} //end img

					#smi-yt {
					} //end smi-yt

					#smi-yt:hover {
						@include about-lowerNav-hoverstate;
					} //end #smi-yt:hover

					//======================================================

					#smi-b {
					} //end smi-b

					#smi-b:hover {
						@include about-lowerNav-hoverstate;
					} //end #smi-b:hover

					//======================================================

					#smi-fb {
					} // end smi-fb

					#smi-fb:hover {
						@include about-lowerNav-hoverstate;
					} //end #smi-fb:hover

					//======================================================

					#smi-ig {
					} //end smi-ig

					#smi-ig:hover {
						@include about-lowerNav-hoverstate;
					} //end #smi-ig:hover
					//======================================================

					#smi-lk {
					} //end smi-lk

					#smi-lk:hover {
						@include about-lowerNav-hoverstate;
					} //end #smi-lk:hover
					//======================================================

					position: relative;
					margin-right: 10px;
					cursor: pointer;
				} //end li
			} //end mobile-cta-footer__sm-links
		} // end mobile-cta-footer

	/*SECTION  ANIMATIONS & TRANSITIONS 
		ABOVE MOBILE PHONES - TABLET RANGE  - LANDSCAPE -   >1920px */
		/*ANIMATIONS: */
		//==========================
		//Playback Master sequence:
		//1 - page bg-image:
		//2: - social icons:
		//3: chevron-down-animate:
		//4:  chevron-down-reveal:
		//5: atf-cs-project-reveal:
		//6: atf-cs-client-reveal:
		//7: btf-cs-project-desc-reveal:
		//8: btf-cs-project-info-divider-reveal:
		//9: btf-cs-project-sum-reveal:
		//10: btf-project-container-box-reveal:
		//11: info tooltip:
		//12: info tooltip-pulse:
		//13: info tool-tip-animate:
		//==========================
	//1 - page bg-image:

	@keyframes bg-reveal {
		@include basicReveal;
		} //end bg-reveal
	
	//--------------------------
	
	
			//2: - social icons:
	
			@keyframes social-icons-animate {
				@include basicReveal;
				0% {
					top: 0px;
				}
	
				50% {
					top: -4px;
				}
	
				100% {
					top: 0px;
				}
			} //end social-icons-reveal
			//--------------------------
	
			//3: chevron-down-animate
			@keyframes chevron-down-animate {
				0% {
					top: 0px;
				}
	
				50% {
					top: 2.5px;
				}
	
				100% {
					top: 0px;
				}
			} //end chevron-down-animate
			//--------------------------
	
			//4:  chevron-down-reveal
			@keyframes chevron-down-reveal {
				@include basicReveal;
	
				0%{
					pointer-events: none;
				}
				100%{
					pointer-events: all;
	
				}
			} //end chevron-down-reveal
			//--------------------------
	
	
			//5: atf-cs-project-reveal
			@keyframes atf-cs-project-reveal {
				@include basicReveal;
				0%{
					
					transform:  translateY(-10px) 
				} 
	
				100%{
					transform:  translateY(1px) 
				}
				
			}//end atf-cs-project-reveal
			//--------------------------
	
	
			//6: atf-cs-client-reveal 
			@keyframes atf-cs-client-reveal {
				@include basicReveal;
				0%{
					
					transform:  translateY(-10px) 
				} 
	
				100%{
					transform:  translateY(1px) 
				}
			}// end atf-cs-client-reveal
			//--------------------------
	
			//7: btf-cs-project-desc-reveal
			@keyframes btf-cs-project-desc-reveal{
				@include basicReveal;
				0%{
					
					transform:  translateY(-10px) 
				} 
	
				100%{
					transform:  translateY(1px) 
				}
			}//end btf-cs-project-desc-reveal
	
			//--------------------------
	
			//8: btf-cs-project-info-divider-reveal
			@keyframes btf-cs-project-info-divider-reveal{
			
				@include basicReveal;
				0%{
					
					transform:  translateY(-10px) 
				} 
	
				100%{
					transform:  translateY(1px) 
				}
			}//end btf-cs-project-info-divider-reveal
			//--------------------------
	
			//9: btf-cs-project-sum-reveal
			@keyframes btf-cs-project-sum-reveal{
				
				@include basicReveal;
				0%{
					
					transform:  translateY(-10px) 
				} 
	
				100%{
					transform:  translateY(1px) 
				}
			}//end btf-cs-project-sum-reveal
			//--------------------------
	
			//10: btf-project-container-box-reveal
			@keyframes btf-project-container-box-reveal {
	
				@include basicReveal;
				0%{
					
					transform:  translateY(-10px) 
				} 
	
				100%{
					transform:  translateY(1px) 
				}
			}//end btf-project-container-box-reveal
	
	
		//11: info tooltip:
		@keyframes info-tool-tip {
			0% {
				opacity: 0;
				pointer-events: none;
				transform: scale(0);
			}
	
			50% {
				opacity: 0.5;
				pointer-events: none;
				transform: scale(0.5);
			}
	
			100% {
				opacity: 1;
				pointer-events: all;
				transform: scale(1);
			}
		} //end info-tool-tip
		//--------------------------
	
		//12: info tooltip-pulse:
		@keyframes info-tt-pulse {
			0% {
				opacity: 1;
				pointer-events: none;
				transform: scale(1);
			}
	
			50% {
				opacity: 0.5;
				pointer-events: none;
				transform: scale(1.5);
			}
	
			100% {
				opacity: 0;
				pointer-events: all;
				transform: scale(2);
			}
		} //end info-tool-tip
		//--------------------------
	
		//13: info tool-tip-animate:
		@keyframes tooltip-animate {
			0% {
				opacity: 0;
				transform: scale(0);
			}
	
			50% {
				opacity: 0.5;
				transform: scale(0.5);
			}
	
			100% {
				opacity: 1;
				transform: scale(1);
			}
		} //end info tool-tip-animate
		//--------------------------
	
	
	
			/*END ANIMATIONS*/
			/*!SECTION END ANIMATIONS & TRANSITIONS */

	} // end body
} // end media query
/*!SECTION ABOVE MOBILE PHONES - TABLET RANGE  - PORTRAIT -   >800px */
