@import "../../partials/case-study-templates/_case-studies-DesktopL-Large-template";

@media (min-width: 1920px) {
    body{
    

        //NOTE: Background image generated specfic to case study instance of the base template for design variant: Desktop-Large-1920px. Platforming off of the template pointer to the main refereence in case-studies sub folder in the paritals folder. 
        .atf-1 {
         //NOTE: only needs to add the single background image change below.    All other page styles imported from design template in partial folder:
            background-image: url("/img/img-desktop-l/desktop-l-beam-bg.png");


            .cs-project{
                .cs-project__title{
                    margin: 1vh 3vw;
                }// end cs-project__title 
            }//end .cs-project

            .cs-client-details {
                .tt-circle{
                    .tt-circle__icon{

                    }//end tt-circle__icon
                }//end tt-cicrle

                .tt-circle:hover ::after{
                    content: "Ms. Browne had long set the goal of creating one of the first full-service performance arts and professional dance companies in Jamaica. In 2014 She had the opportunity to begin this venture and required an accompanying web presence to match the launch of the company. \a\a nomad got shortlisted among some possible options of local web developers as Ms. Browne had the experience of working with nomad prior; with multiple projects, primarily in print and digital graphic art.";

                    height: 170px;
                }//end tt-circle:hover ::after
            }//end cs-client-details
        }//end atf-1


        .btf-2{
            .btf-2__project-container-box{
                .cs-project-desc {

                    //NOTE: ADDITIONAL INFORMATION TOOL TIP SECTION
                    //NOTE: Design variant: second tool-tip not needed.
					.tt-circle {
                        display: none;
						.tt-circle__icon {
                            display: none;
						} //end tt-circle__icon
					} //end tt-circle

                    .tt-circle:hover ::after {
						display: none;					
					} //end tt-circle:hover


                }// end cs-project-desc
            }//end btf-2 project container box
        }//end btf-2

    }//end body
}//end media-query 1920px 