@import "../../partials/case-study-templates/_case-studies-Tablet-P-template";

@media (min-width: 768px) {
    body{
    

        //NOTE: Background image generated specfic to case study instance of the base template for design variant: Tablet-Portrait-768px. Platforming off of the template pointer to the main refereence in case-studies sub folder in the paritals folder. 
        .atf-1 {
         //NOTE: only needs to add the single background image change below.    All other page styles imported from design template in partial folder:
            background-image: url("/img/img-tablet-p/tablet-ps-beam-bg.png");
            .cs-project{

                .cs-project__title {
					//NOTE: Design variant:			
							margin: 1vh 3vw;						
				}//end .cs-project__title

				.cs-project__services {
					//NOTE: design variant:
					
					.cs-project__service {
						//NOTE: design variant:
						

					} //end .cs-project__service
				}
            }//end cs-project
            
            
            .tt-circle {
                top: 67px;
                left: 87px;
            
            }//end tt-circle

            .tt-circle:hover ::after {
                //NOTE: design variant: tool-tip info.
                content: "Ms. Browne had long set the goal of creating one of the first full-service performance arts and professional dance companies in Jamaica. In 2014 She had the opportunity to begin this venture and required an accompanying web presence to match the launch of the company. \a\a nomad got shortlisted among some possible options of local web developers as Ms. Browne had the experience of working with nomad prior; with multiple projects, primarily in print and digital graphic art.";
                top: -25px;
                left: -147px;
                width: 259px;
                height: 295px;
            }//end tt-circle:hover ::after 

        }//end atf-1

    }//end body
}//end media-query 768px 