@charset "UTF-8";
/*SECTION: [UNIVERSAL DEFAULTS]*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: rgb(139, 139, 139);
  background-color: antiquewhite;
}

/*
	UX design layout is as follows: 
		div. link-container element > 
			(::before|| ::after )
			a #id for link >
				(::before|| ::after)
				span #id for link text
					(::before || ::after) 

				this translates to a general template structure:

				mainnav__links-link-container{

						.mainnav__links-link__href{

						}

						.mainnav__links-link__href:after{

						}

						.mainnav__links-link__href:hover{

						}

						.mainnav__links-link__href:hover:after{

						}

						.mainnav__links-link__text{

						}
				}

				.mainnav__links-link-container:hover {

				}
*/
.sitenav--container {
  position: relative;
  z-index: 1;
}

.sitenav-logo-contact-container {
  position: relative;
}

.sitenav__logo {
  position: absolute;
  width: 94px;
  height: 53px;
  top: 0px;
  left: 26px;
  z-index: 7;
}

.sitenav__contactNum {
  position: absolute;
  display: inline-block;
  width: 115px;
  top: 45px;
  left: 38px;
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.62rem;
  color: #fff;
  z-index: 7;
}

.sitenav__links--hide {
  display: none;
}

.sitenav__links--show {
  display: flex !important;
  justify-items: center;
}

.sitenav__links {
  z-index: 11;
  left: 25vw;
  position: fixed;
  padding: 0px;
  margin: 0px;
  top: 30vh;
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.87rem;
}
.sitenav__links #projects {
  text-align: center;
  width: 140px;
  height: 67px;
  background-color: rgba(109, 109, 109, 0.2);
  position: relative;
}
.sitenav__links #about,
.sitenav__links #contact {
  text-align: center;
  width: 140px;
  height: 67px;
  background-color: rgba(109, 109, 109, 0.2);
  position: relative;
}
.sitenav__links #blog {
  text-align: center;
  width: 140px;
  height: 67px;
  background-color: rgba(109, 109, 109, 0.2);
  position: relative;
}
.sitenav__links #projects-text,
.sitenav__links #about-text,
.sitenav__links #contact-text,
.sitenav__links #blog-text {
  position: relative;
  top: 15px;
}
.sitenav__links a {
  text-decoration: none;
}
.sitenav__links li {
  list-style: none;
  margin-top: 20px;
}
.sitenav__links a > li {
  text-decoration: none;
  color: #ffffff;
}

.sitenav__hamburger {
  position: absolute;
  right: 36px;
  top: 20px;
  width: 20px;
  height: 20px;
  z-index: 7;
}

.--overlay-remove {
  display: none;
}

.--mobile-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.mainnav__links {
  display: none;
}

/*SECTION: [RESPONSIVE DESIGN] */
/*NOTE : Query breakpoints*/
body .atf-1,
body .btf-2,
body .btl,
body .btl-content-block-1,
body .btl-content-block-2,
body .mobile-cta-footer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  justify-content: center;
}
body .atf-1 {
  background-repeat: no-repeat;
  background-position: -150px center;
  background-attachment: scroll;
}
body .atf-1 .cs-project,
body .atf-1 .cs-project__title,
body .atf-1 .cs-project__services,
body .atf-1 .cs-project__service,
body .atf-1 .cs-client-details,
body .atf-1 .cs-client-details__title,
body .atf-1 .cs-client-details__status,
body .atf-1 .cs-client-details__text,
body .atf-1 .status-flag {
  list-style: none;
  color: #fff;
  text-align: center;
}
body .atf-1 .cs-project {
  position: relative;
  width: 287px;
  height: 274px;
  top: 29px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 4%;
  margin: 0 36px;
  margin: 30px 30px;
}
body .atf-1 .cs-project .cs-project__title {
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 95%;
}
body .atf-1 .cs-project .cs-project__services {
  padding: 0%;
}
body .atf-1 .cs-project .cs-project__services .cs-project__service {
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.93rem;
}
body .atf-1 .cs-client-details {
  position: relative;
  width: 287px;
  height: 274px;
  top: 29px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 4%;
  margin: 0 36px;
  top: 0px;
}
body .atf-1 .cs-client-details .cs-client-details__title {
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 95%;
}
body .atf-1 .cs-client-details .cs-client-details__status {
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 400;
}
body .atf-1 .cs-client-details .status-flag {
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 1.25rem;
}
body .atf-1 .cs-client-details .cs-client-details__text {
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.93rem;
}
body .btf-2 {
  height: 800px;
  background-image: url("/img/img-mobile-p/shortwood-bg-overlayedit.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: #fff;
  text-align: center;
}
body .btf-2 .cs-project-desc__title,
body .btf-2 .cs-project-sum__title {
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 95%;
}
body .btf-2 .cs-project-desc {
  position: relative;
  width: 287px;
  height: 274px;
  top: 29px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 4%;
  margin: 0 36px;
  top: -9px;
}
body .btf-2 .cs-project-desc .cs-project-desc__text {
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.93rem;
}
body .btf-2 .cs-project-sum {
  position: relative;
  width: 287px;
  height: 274px;
  top: 29px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 4%;
  margin: 0 36px;
  height: 420px;
  top: -1px;
}
body .btf-2 .cs-project-sum .cs-project-sum__text-1 .cs-project-sum__text__head {
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.93rem;
}
body .btf-2 .cs-project-sum .cs-project-sum__text-1 .cs-project-sum__text__body {
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.93rem;
}
body .btl {
  height: 215px;
  background-color: #ffd866;
  color: #363226;
  text-align: center;
}
body .btl .btl__title {
  line-height: 150%;
  margin-bottom: 2px;
}
body .btl .btl__title .btl__title-1 {
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 3.43rem;
}
body .btl .btl__title .btl__title-2 {
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2.81rem;
}
body .btl .btl__text {
  line-height: 150%;
}
body .btl .btl__text .btl__text-1 {
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.06rem;
}
body .btl .btl__text .btl__text-2 {
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 0.87rem;
}
body .btl-content-block-1 {
  background-color: #fcf8ec;
  color: black;
  flex-direction: column;
  text-align: center;
  padding: 0 30px;
}
body .btl-content-block-1 .btl-content-block__time {
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  position: relative;
}
body .btl-content-block-1 .btl-content-block__time-text_2 {
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.12rem;
  position: relative;
  top: -50px;
}
body .btl-content-block-1 .btl-content-block__sub {
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 0.93rem;
}
body .btl-content-block-1 .btl-content-block__text {
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.93rem;
}
body .btl-content-block-2 {
  background-color: #ffd866;
  color: black;
  flex-direction: column;
  text-align: center;
  padding: 0 30px;
}
body .btl-content-block-2 .btl-content-block__time {
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  position: relative;
}
body .btl-content-block-2 .btl-content-block__time__sub {
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.12rem;
  position: relative;
  top: -50px;
  left: 0px;
}
body .btl-content-block-2 .btl-content-block__sub {
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 0.93rem;
}
body .btl-content-block-2 .btl-content-block__text {
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.93rem;
}
body .mobile-cta-footer {
  height: 800px;
  background-color: #fff;
  color: black;
}
body .mobile-cta-footer .mobile-cta-footer-branding .mobile-cta-footer-branding__text-1,
body .mobile-cta-footer .mobile-cta-footer-branding .mobile-cta-footer-branding__text-2 {
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.56rem;
  margin: 0px 12px;
}
body .mobile-cta-footer .mobile-cta-footer-branding .mobile-cta-footer__logo {
  width: 83px;
  height: 30px;
  position: relative;
  top: -32px;
  left: 185px;
}
body .mobile-cta-footer .mobile-cta-footer__button {
  width: 258px;
  height: 50px;
  background: #f5b600 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 0px #000000;
  border-radius: 5px;
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
}
body .mobile-cta-footer .mobile-cta-footer__button .hero-text {
  position: relative;
  top: 9px;
  margin: auto 10%;
  color: #000000;
}
body .mobile-cta-footer .mobile-cta-footer__sm-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  align-content: center;
  position: relative;
  padding: 0px;
}

/*SECTION ABOVE MOBILE PHONES - TABLET RANGE  - PORTRAIT -   >800px */
@media (min-width: 768px) {
  .main-container {
    justify-content: center;
    position: relative;
  }
}
@media (min-width: 768px) and (max-width: 359px) {
  .main-container {
    top: 102px;
  }
}
@media (min-width: 768px) {
  body .atf-1 {
    height: 1000px;
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    background-attachment: scroll;
  }
  body .atf-1 .cs-project,
  body .atf-1 .cs-project__title,
  body .atf-1 .cs-project__services,
  body .atf-1 .cs-project__service,
  body .atf-1 .cs-client-details,
  body .atf-1 .cs-client-details__title,
  body .atf-1 .cs-client-details__status,
  body .atf-1 .cs-client-details__text,
  body .atf-1 .status-flag {
    list-style: none;
    color: #fff;
    text-align: center;
  }
  body .atf-1 .cs-project {
    position: relative;
    width: 287px;
    height: 325px;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 4%;
    margin: 0 36px;
    position: relative;
    top: -260px;
    width: 200px;
    left: 0px;
  }
  body .atf-1 .cs-project .cs-project__title {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 95%;
  }
  body .atf-1 .cs-project .cs-project__services {
    padding: 0%;
  }
  body .atf-1 .cs-project .cs-project__services .cs-project__service {
    font-family: futura-pt, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
  }
  body .atf-1 .cs-client-details {
    position: relative;
    width: 287px;
    height: 325px;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 4%;
    margin: 0 36px;
    width: 200px;
    position: relative;
    top: 70px;
    left: -270px;
  }
  body .atf-1 .cs-client-details .cs-client-details__title {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 95%;
  }
  body .atf-1 .cs-client-details .cs-client-details__status {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: relative;
    top: -15px;
  }
  body .atf-1 .cs-client-details .status-flag {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 1.25rem;
    top: -15px;
  }
  body .atf-1 .cs-client-details .cs-client-details__text {
    font-family: futura-pt, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    margin-left: 10px;
    margin-right: 10px;
  }
  body .btf-2 {
    height: 0px;
    background-image: none;
  }
  body .btf-2 .btf-2__project-container-box {
    position: relative;
    width: 340px;
    height: 790px;
    top: -530px;
    left: 140px;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 4%;
    margin: 0px;
    z-index: 1;
    color: #fff;
    text-align: center;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-desc__title,
  body .btf-2 .btf-2__project-container-box .cs-project-sum__title {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 95%;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-desc {
    height: 300px;
    width: 250px;
    top: 0px;
    background: none;
    margin: 0 36px;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-desc .cs-project-desc__text {
    font-family: futura-pt, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
  }
  body .btf-2 .btf-2__project-container-box .project-info-divider {
    display: inline-block !important;
    transform: rotate(0deg);
    position: relative;
    top: 0px;
    left: 5px;
    width: 270px;
    border-width: 1px;
    color: #fff;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-sum {
    height: 0px;
    width: 250px;
    top: 0px;
    background: none;
    margin: 0 36px;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-sum .cs-project-sum__text-1 .cs-project-sum__text__head {
    font-family: futura-pt, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 0.93rem;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-sum .cs-project-sum__text-1 .cs-project-sum__text__body {
    font-family: futura-pt, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
  }
  body .btl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    height: 215px;
    background-color: #ffd866;
    color: #363226;
    text-align: center;
  }
  body .btl .btl__title {
    line-height: 150%;
    margin-bottom: 2px;
  }
  body .btl .btl__title .btl__title-1 {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3.43rem;
  }
  body .btl .btl__title .btl__title-2 {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2.81rem;
  }
  body .btl .btl__text {
    line-height: 150%;
  }
  body .btl .btl__text .btl__text-1 {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.06rem;
  }
  body .btl .btl__text .btl__text-2 {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 0.87rem;
  }
  body .btl-content-block-1 {
    background-color: #fcf8ec;
    color: black;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    padding: 0 30px;
  }
  body .btl-content-block-1 .btl-content-block__time {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.25rem;
    position: relative;
  }
  body .btl-content-block-1 .btl-content-block__time-text_2 {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.12rem;
    position: relative;
    top: -50px;
  }
  body .btl-content-block-1 .btl-content-block__sub {
    font-family: futura-pt, Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 0.93rem;
  }
  body .btl-content-block-1 .btl-content-block__text {
    font-family: futura-pt, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.93rem;
    margin-left: 40px;
    margin-right: 40px;
  }
  body .btl-content-block-2 {
    background-color: #ffd866;
    color: black;
    flex-direction: column;
    text-align: center;
    padding: 0 30px;
  }
  body .btl-content-block-2 .btl-content-block__sub {
    margin-left: 40px;
    margin-right: 40px;
  }
  body .btl-content-block-2 .btl-content-block__text {
    margin-left: 40px;
    margin-right: 40px;
  }
  body .mobile-cta-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    align-items: center;
    height: 800px;
    background-color: #fff;
    color: black;
  }
  body .mobile-cta-footer .mobile-cta-footer-branding .mobile-cta-footer-branding__text-1,
  body .mobile-cta-footer .mobile-cta-footer-branding .mobile-cta-footer-branding__text-2 {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.81rem;
    margin: 0px 12px;
  }
  body .mobile-cta-footer .mobile-cta-footer-branding .mobile-cta-footer__logo {
    width: 155px;
    height: 55px;
    position: relative;
    top: -59px;
    left: 315px;
  }
  body .mobile-cta-footer .mobile-cta-footer__button {
    width: 379px;
    height: 74px;
    background: #f5b600 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 0px #000000;
    border-radius: 5px;
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.87rem;
    position: relative;
  }
  body .mobile-cta-footer .mobile-cta-footer__button .hero-text {
    top: 13px;
  }
  body .mobile-cta-footer .mobile-cta-footer__sm-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    align-content: center;
    position: relative;
    padding: 0px;
  }
}
/*!SECTION ABOVE MOBILE PHONES - TABLET RANGE  - PORTRAIT -   >800px */
@media (min-width: 768px) {
  body .atf-1 {
    background-image: url("/img/img-tablet-p/tablet-ps-beam-bg.png");
  }
}
/*SECTION ABOVE MOBILE PHONES - TABLET RANGE  - LANDSCAPE -   >1024px */
@media (min-width: 1024px) {
  body .atf-1 {
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    background-attachment: scroll;
    height: 800px;
  }
  body .atf-1 .cs-project {
    position: relative;
    width: 228px;
    height: 0px;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 4%;
    margin: 0px;
    margin-bottom: 80px;
    height: 287px;
    top: -130px;
    left: -85px;
  }
  body .atf-1 .cs-project .cs-project__title {
    margin-top: 40px;
    font-size: 1.25rem;
  }
  body .atf-1 .cs-project .cs-project__services .cs-project__service {
    font-size: 1.12rem;
  }
  body .atf-1 .cs-client-details {
    position: relative;
    width: 228px;
    height: 0px;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 4%;
    margin: 0px;
    height: 300px;
    position: relative;
    top: 175px;
    left: -315px;
  }
  body .atf-1 .cs-client-details .cs-client-details__title {
    font-size: 1.25rem;
  }
  body .atf-1 .cs-client-details .cs-client-details__status {
    font-size: 1.12rem;
  }
  body .atf-1 .cs-client-details .cs-client-details__text {
    font-size: 1.12rem;
  }
  body .btf-2 .btf-2__project-container-box {
    position: relative;
    width: 450px;
    height: 650px;
    top: -390px;
    left: 160px;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 4%;
    margin: 0px;
    z-index: 1;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-desc__title,
  body .btf-2 .btf-2__project-container-box .cs-project-sum__title {
    font-size: 1.37rem;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-desc {
    position: relative;
    width: 400px;
    height: 300px;
    top: 0px;
    left: 0px;
    background: none;
    border-radius: 0;
    margin: 0px;
    top: 31px;
    left: 25px;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-desc .cs-project-desc__text {
    font-size: 1.12rem;
  }
  body .btf-2 .btf-2__project-container-box .project-info-divider {
    display: inline-block !important;
    transform: rotate(0deg);
    position: relative;
    top: -50px;
    left: 0px;
    width: 350px;
    border-width: 1px;
    color: #fff;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-sum {
    position: relative;
    width: 400px;
    height: 300px;
    top: 0px;
    left: 0px;
    background: none;
    border-radius: 0;
    margin: 0px;
    top: 0px;
    top: -45px;
    left: 24px;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-sum .cs-project-sum__text-1 .cs-project-sum__text__head {
    font-weight: 700;
    font-size: 1.12rem;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-sum .cs-project-sum__text-1 .cs-project-sum__text__body {
    font-size: 1.12rem;
  }
  body .btl {
    text-align: center;
  }
  body .btl .btl__title-container {
    position: relative;
  }
  body .btl .btl__title-container .btl__title .btl__title-2 {
    font-size: 3.43rem;
  }
  body .btl .btl__title-container .btl__text {
    position: relative;
  }
  body .btl .btl__title-container .btl__text .btl__text-1 {
    position: relative;
    left: -125px;
    font-size: 1.37rem;
  }
  body .btl .btl__title-container .btl__text .btl__text-2 {
    position: relative;
    top: -26px;
    right: -99px;
    font-size: 1.37rem;
  }
  body .btl-content-block-1 .btl-content-block__time {
    font-size: 2.81rem;
    color: #ffbf00;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  body .btl-content-block-1 .btl-content-block__time-text_2 {
    font-size: 1.56rem;
    color: #ffbf00;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 0px;
  }
  body .btl-content-block-1 .btl-content-block__sub {
    margin-left: 130px;
    margin-right: 130px;
    text-align: left;
  }
  body .btl-content-block-1 .btl-content-block__text {
    margin-left: 130px;
    margin-right: 130px;
    text-align: left;
  }
  body .btl-content-block-1 .legend {
    display: block !important;
  }
  body .btl-content-block-1 .legend .legend__circle {
    position: absolute;
    overflow: hidden;
    top: 13px;
    display: block;
    background-color: #fff;
    width: 96px;
    height: 96px;
    border-radius: 50px;
    border: 1px solid #ffd866;
  }
  body .btl-content-block-1 .legend .legend__circle .legend__circle-2 {
    position: absolute;
    overflow: hidden;
    top: 23px;
    left: 10%;
    right: 10%;
    display: block;
    margin: 0 auto;
    background-color: #ffd866;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    border: 1px solid #ffd866;
  }
  body .btl-content-block-1 .legend .legend__line {
    position: absolute;
    overflow: hidden;
    top: 107px;
    left: 73px;
    display: block;
    background-color: #ffd866;
    width: 8px;
    height: 100%;
  }
  body .btl-content-block-2 {
    justify-content: start;
  }
  body .btl-content-block-2 .btl-content-block__time {
    font-size: 2.81rem;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 25px;
  }
  body .btl-content-block-2 .btl-content-block__time__sub {
    font-size: 1.56rem;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 10px;
  }
  body .btl-content-block-2 .btl-content-block__sub {
    margin-left: 130px;
    margin-right: 130px;
    text-align: left;
    position: relative;
  }
  body .btl-content-block-2 .btl-content-block__text {
    margin-left: 130px;
    margin-right: 130px;
    text-align: left;
    position: relative;
  }
  body .btl-content-block-2 .legend-alt {
    display: block !important;
  }
  body .btl-content-block-2 .legend-alt .legend-alt__circle {
    position: absolute;
    overflow: hidden;
    top: 13px;
    display: block;
    background-color: #fff;
    width: 96px;
    height: 96px;
    border-radius: 50px;
    border: 1px solid #ffd866;
  }
  body .btl-content-block-2 .legend-alt .legend-alt__circle .legend-alt__circle-2 {
    position: absolute;
    overflow: hidden;
    top: 23px;
    left: 10%;
    right: 10%;
    display: block;
    margin: 0 auto;
    background-color: #ffd866;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    border: 1px solid #ffd866;
  }
  body .btl-content-block-2 .legend-alt .legend-alt__line {
    position: absolute;
    overflow: hidden;
    top: 107px;
    left: 73px;
    display: block;
    background-color: #ffffff;
    width: 8px;
    height: 100%;
  }
  body .mobile-cta-footer {
    height: 800px;
  }
  body .mobile-cta-footer .mobile-cta-footer__button .hero-text {
    top: 13px;
  }
}
/*!SECTION ABOVE MOBILE PHONES - TABLET RANGE  - LANDSCAPE -   >1024px */
@media (min-width: 1024px) {
  body .atf-1 {
    background-image: url("/img/img-tablet-l/tablet-landscape-ps-beam-bg.png");
  }
}
/*SECTION ABOVE MOBILE PHONES - TABLET RANGE  - DESKTOP-SMALL -   >1280px */
@media (min-width: 1280px) {
  .sitenav__hamburger {
    display: none;
  }
  .sitenav {
    display: none;
  }
  .sitenav__logo {
    width: 94px;
    height: 53px;
    top: 10px;
    left: 166px;
  }
  .sitenav__contactNum {
    top: 53px;
    left: 180px;
  }
  .mainnav__links {
    display: flex;
    list-style: none;
    position: absolute;
    top: 10px;
    left: 410px;
    z-index: 15;
  }
  .mainnav__links a {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 400;
    border: rgba(255, 255, 255, 0.368627451) 1px solid;
    background-color: rgba(22, 22, 22, 0.1294117647);
    padding: 5px 15px;
    margin: 0px 5px;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
  }
}
@media (min-width: 1280px) {
  .main-container {
    top: 0px !important;
  }
  body .atf-1 {
    height: 720px;
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    background-attachment: scroll;
  }
  body .atf-1 .cs-project {
    position: relative;
    width: 379.125px;
    height: 280.33px;
    top: -132px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 1%;
    margin: 0px;
  }
  body .atf-1 .cs-project .cs-project__title {
    font-size: 1.56rem;
  }
  body .atf-1 .cs-project .cs-project__services .cs-project__service {
    font-size: 1.187rem;
  }
  body .atf-1 .cs-client-details {
    position: relative;
    width: 379.125px;
    height: 280.33px;
    top: 174px;
    left: -379px;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 1%;
    margin: 0px;
  }
  body .atf-1 .cs-client-details .cs-client-details__title {
    font-size: 1.56rem;
  }
  body .atf-1 .cs-client-details .cs-client-details__status {
    font-size: 1.25rem;
  }
  body .atf-1 .cs-client-details .status-flag {
    font-size: 1.25rem;
  }
  body .atf-1 .cs-client-details .cs-client-details__text {
    font-size: 1.12rem;
  }
  body .btf-2 .btf-2__project-container-box {
    position: relative;
    width: 454.95px;
    height: 585.225px;
    top: -339px;
    left: 239px;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 1%;
    margin: 0px;
    z-index: 1;
    padding-right: 45px;
    margin-left: auto;
    margin-right: auto;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-desc__title {
    font-size: 1.56rem;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-sum__title {
    font-size: 1.56rem;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-desc {
    top: -10px;
    margin-left: auto;
    margin-right: auto;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-desc .cs-project-desc__text {
    font-size: 1.12rem;
  }
  body .btf-2 .btf-2__project-container-box .project-info-divider {
    width: 90%;
    top: -94px;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-sum {
    top: -109px;
    margin-left: auto;
    margin-right: auto;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-sum .cs-project-sum__text-1 .cs-project-sum__text__head {
    font-size: 1.12rem;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-sum .cs-project-sum__text-1 .cs-project-sum__text__body {
    font-size: 1.12rem;
  }
  body .btl {
    height: 225px;
    text-align: center;
  }
  body .btl .btl__title-container {
    position: relative;
  }
  body .btl .btl__title-container .btl__title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  body .btl .btl__title-container .btl__title .btl__title-1 {
    font-size: 3.68rem;
  }
  body .btl .btl__title-container .btl__title .btl__title-2 {
    font-size: 3.68rem;
  }
  body .btl .btl__title-container .btl__text {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    line-height: normal;
  }
  body .btl .btl__title-container .btl__text .btl__text-1 {
    position: relative;
    left: 0px;
    font-size: 1.75rem;
  }
  body .btl .btl__title-container .btl__text .btl__text-2 {
    position: relative;
    top: 0px;
    right: 0px;
    font-size: 1.75rem;
  }
  body .btl-content-block-1 .btl-content-block__time {
    font-size: 2.43rem;
    align-self: start;
    left: 120px;
    top: 5px;
    text-decoration: underline;
  }
  body .btl-content-block-1 .btl-content-block__time-text_2 {
    font-size: 2.43rem;
    position: absolute;
    left: 592px;
    top: 4px;
    text-decoration: underline;
  }
  body .btl-content-block-1 .btl-content-block__sub {
    font-size: 1.187rem;
  }
  body .btl-content-block-1 .btl-content-block__text {
    font-size: 1.187rem;
  }
  body .btl-content-block-2 {
    justify-content: start;
  }
  body .btl-content-block-2 .btl-content-block__time {
    font-size: 2.43rem;
    align-self: start;
    left: 120px;
    top: 5px;
    text-decoration: underline;
  }
  body .btl-content-block-2 .btl-content-block__time__sub {
    font-size: 2.43rem;
    position: absolute;
    left: 592px;
    top: 4px;
    text-decoration: underline;
  }
  body .btl-content-block-2 .btl-content-block__sub {
    font-size: 1.187rem;
  }
  body .btl-content-block-2 .btl-content-block__text {
    font-size: 1.187rem;
  }
  body .mobile-cta-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    align-items: center;
    height: 800px;
    background-color: #fff;
    color: black;
  }
  body .mobile-cta-footer .mobile-cta-footer-branding .mobile-cta-footer-branding__text-1,
  body .mobile-cta-footer .mobile-cta-footer-branding .mobile-cta-footer-branding__text-2 {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.81rem;
    margin: 0px 12px;
  }
  body .mobile-cta-footer .mobile-cta-footer-branding .mobile-cta-footer__logo {
    width: 155px;
    height: 55px;
    position: relative;
    top: -59px;
    left: 315px;
  }
  body .mobile-cta-footer .mobile-cta-footer__button {
    width: 379px;
    height: 74px;
    background: #f5b600 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 0px #000000;
    border-radius: 5px;
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.87rem;
    position: relative;
    top: -27px;
  }
  body .mobile-cta-footer .mobile-cta-footer__button .hero-text {
    top: 13px;
  }
  body .mobile-cta-footer .mobile-cta-footer__sm-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    align-content: center;
    position: relative;
    padding: 0px;
    position: relative;
    top: -20px;
  }
}
/*!SECTION ABOVE MOBILE PHONES - TABLET RANGE  - DESKTOP-SMALL -   >1280px */
/*!SECTION: END - [RESPONSIVE DESIGN] */
@media (min-width: 1280px) {
  body .atf-1 {
    background-image: url("/img/img-desktop-sm-1280/desktop-sm-ps-beam-bg.png");
  }
}
@media (min-width: 1920px) {
  .sitenav__hamburger {
    display: none;
  }
  .sitenav {
    display: none;
  }
  #logo.dtlink {
    display: block;
    position: absolute;
    width: 144px;
    height: 94px;
    top: 10px;
    left: 166px;
  }
  .sitenav__logo {
    width: 144px;
    height: 77px;
    top: 3px;
    left: -1px;
    pointer-events: none;
    z-index: 7;
  }
  .sitenav__contactNum {
    top: 75px;
    left: 180px;
    font-size: 1rem;
  }
  .mainnav__links {
    display: flex;
    list-style: none;
    position: absolute;
    top: 10px;
    left: 620px;
    z-index: 15;
  }
  .mainnav__links a {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 400;
    border: rgba(255, 255, 255, 0.368627451) 1px solid;
    background-color: rgba(22, 22, 22, 0.1294117647);
    padding: 5px 25px;
    margin: 0px 5px;
    font-size: 1.56rem;
    color: #fff;
    text-decoration: none;
  }
}
/*SECTION ABOVE MOBILE PHONES - TABLET RANGE  - COMMON MACBOOK -   >1440px */
@media (min-width: 1440px) {
  .sitenav__hamburger {
    display: none;
  }
  .sitenav {
    display: none;
  }
  #logo.dtlink {
    display: block;
    position: absolute;
    width: 144px;
    height: 94px;
    top: 10px;
    left: 166px;
  }
  .sitenav__logo {
    width: 144px;
    height: 77px;
    top: 3px;
    left: -1px;
  }
  .sitenav__contactNum {
    top: 75px;
    left: 180px;
    font-size: 1rem;
  }
  .mainnav__links {
    display: flex;
    list-style: none;
    position: absolute;
    top: 10px;
    left: 460px;
    z-index: 15;
  }
  .mainnav__links a {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 400;
    border: rgba(255, 255, 255, 0.368627451) 1px solid;
    background-color: rgba(22, 22, 22, 0.1294117647);
    padding: 5px 15px;
    margin: 0px 5px;
    font-size: 1.25rem;
    color: #ffffff;
    text-decoration: none;
  }
}
@media (min-width: 1440px) {
  .main-container {
    top: 0px !important;
  }
  body .atf-1 {
    height: 900px;
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    background-attachment: scroll;
  }
  body .atf-1 .cs-project {
    position: relative;
    width: 505.5px;
    height: 329.8px;
    top: -178px;
    left: -6px;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 1%;
    margin: 0px;
  }
  body .atf-1 .cs-project .cs-project__title {
    font-size: 2.125rem;
  }
  body .atf-1 .cs-project .cs-project__services .cs-project__service {
    font-size: 1.187rem;
  }
  body .atf-1 .cs-client-details {
    position: relative;
    width: 505.5px;
    height: 329.8px;
    top: 160px;
    left: -512px;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 1%;
    margin: 0px;
  }
  body .atf-1 .cs-client-details .cs-client-details__title {
    font-size: 2.125rem;
  }
  body .atf-1 .cs-client-details .cs-client-details__status {
    font-size: 1.64rem;
  }
  body .atf-1 .cs-client-details .status-flag {
    font-size: 1.64rem;
  }
  body .atf-1 .cs-client-details .cs-client-details__text {
    font-size: 1.12rem;
  }
  body .btf-2 .btf-2__project-container-box {
    position: relative;
    width: 505.5px;
    height: 668.5px;
    top: -460px;
    left: 259px;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 1%;
    margin: 0px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-desc__title {
    font-size: 2.125rem;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-sum__title {
    font-size: 2.125rem;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-desc {
    top: -10px;
    margin-left: auto;
    margin-right: auto;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-desc .cs-project-desc__text {
    font-size: 1.12rem;
  }
  body .btf-2 .btf-2__project-container-box .project-info-divider {
    width: 90%;
    top: -94px;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-sum {
    top: -109px;
    margin-left: auto;
    margin-right: auto;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-sum .cs-project-sum__text-1 .cs-project-sum__text__head {
    font-size: 1.12rem;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-sum .cs-project-sum__text-1 .cs-project-sum__text__body {
    font-size: 1.12rem;
  }
  body .btl {
    height: 300px;
    text-align: center;
  }
  body .btl .btl__title-container {
    position: relative;
  }
  body .btl .btl__title-container .btl__title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  body .btl .btl__title-container .btl__title .btl__title-1 {
    font-size: 4.921rem;
  }
  body .btl .btl__title-container .btl__title .btl__title-2 {
    font-size: 4.921rem;
  }
  body .btl .btl__title-container .btl__text {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    line-height: normal;
  }
  body .btl .btl__title-container .btl__text .btl__text-1 {
    position: relative;
    left: 0px;
    font-size: 2.343rem;
  }
  body .btl .btl__title-container .btl__text .btl__text-2 {
    position: relative;
    top: 0px;
    right: 0px;
    font-size: 2.343rem;
  }
  body .btl-content-block-1 .btl-content-block__time {
    font-size: 3.281rem;
    align-self: start;
    left: 120px;
    top: 5px;
    text-decoration: underline;
  }
  body .btl-content-block-1 .btl-content-block__time-text_2 {
    font-size: 3.281rem;
    position: absolute;
    left: 737px;
    top: 4px;
    text-decoration: underline;
  }
  body .btl-content-block-1 .btl-content-block__sub {
    font-size: 1.187rem;
  }
  body .btl-content-block-1 .btl-content-block__text {
    font-size: 1.187rem;
  }
  body .btl-content-block-2 {
    justify-content: start;
  }
  body .btl-content-block-2 .btl-content-block__time {
    font-size: 3.281rem;
    align-self: start;
    left: 120px;
    top: 5px;
    text-decoration: underline;
  }
  body .btl-content-block-2 .btl-content-block__time__sub {
    font-size: 3.281rem;
    position: absolute;
    left: 737px;
    top: 4px;
    text-decoration: underline;
  }
  body .btl-content-block-2 .btl-content-block__sub {
    font-size: 1.187rem;
  }
  body .btl-content-block-2 .btl-content-block__text {
    font-size: 1.187rem;
  }
  body .mobile-cta-footer .mobile-cta-footer-branding .mobile-cta-footer-branding__text-1,
  body .mobile-cta-footer .mobile-cta-footer-branding .mobile-cta-footer-branding__text-2 {
    font-size: 4.375rem;
  }
  body .mobile-cta-footer .mobile-cta-footer-branding .mobile-cta-footer__logo {
    display: none;
  }
  body .mobile-cta-footer .mobile-cta-footer-branding .mobile-cta-footer__logo-l {
    display: block !important;
    height: 137px;
    position: relative;
    top: -117px;
    left: 485px;
    overflow: hidden;
  }
  body .mobile-cta-footer .mobile-cta-footer__button {
    position: relative;
    top: -110px;
  }
  body .mobile-cta-footer .mobile-cta-footer__button .hero-text {
    top: 13px;
  }
  body .mobile-cta-footer .mobile-cta-footer__sm-links {
    top: -100px;
  }
}
/*!SECTION ABOVE MOBILE PHONES - TABLET RANGE  - COMMON MACBOOK -   >1440px */
/*!SECTION: END - [RESPONSIVE DESIGN] */
@media (min-width: 1440px) {
  body .atf-1 {
    background-image: url("/img/img-desktop-cm-1440/desktop-cm-ps-beam-bg.png");
  }
}
@media (min-width: 1920px) {
  .sitenav__hamburger {
    display: none;
  }
  .sitenav {
    display: none;
  }
  #logo.dtlink {
    display: block;
    position: absolute;
    width: 144px;
    height: 94px;
    top: 10px;
    left: 166px;
  }
  .sitenav__logo {
    width: 144px;
    height: 77px;
    top: 3px;
    left: -1px;
    pointer-events: none;
    z-index: 7;
  }
  .sitenav__contactNum {
    top: 75px;
    left: 180px;
    font-size: 1rem;
  }
  .mainnav__links {
    display: flex;
    list-style: none;
    position: absolute;
    top: 10px;
    left: 620px;
    z-index: 15;
  }
  .mainnav__links a {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 400;
    border: rgba(255, 255, 255, 0.368627451) 1px solid;
    background-color: rgba(22, 22, 22, 0.1294117647);
    padding: 5px 25px;
    margin: 0px 5px;
    font-size: 1.56rem;
    color: #fff;
    text-decoration: none;
  }
}
/*SECTION ABOVE MOBILE PHONES - TABLET  - LANDSCAPE -  >1920px */
@media (min-width: 1920px) {
  #logo.logolink {
    display: block;
    position: absolute;
    width: 144px;
    height: 94px;
    top: 10px;
    left: 166px;
    z-index: 9;
  }
  .main-container {
    top: 0px;
  }
  body {
    background-image: none;
    opacity: 0;
    background-color: #000000;
    animation: bg-reveal 0.5s ease-in forwards;
    /*SECTION  ANIMATIONS & TRANSITIONS 
    ABOVE MOBILE PHONES - TABLET RANGE  - LANDSCAPE -   >1920px */
    /*ANIMATIONS: */
    /*END ANIMATIONS*/
    /*!SECTION END ANIMATIONS & TRANSITIONS */
  }
  body .mainnav__links {
    top: 26px;
    left: 698px;
  }
  body .mainnav__links .mainnav__links-link-container {
    overflow: hidden;
    position: relative;
    top: -26px;
    height: 50px;
    border: 0.5px solid #fff;
    /*Hover state changes */
  }
  body .mainnav__links .mainnav__links-link-container .mainnav__links-link__href {
    /*Some asthetic adjustments to have the link fill the same area as in the original desgin draft. */
    /*Using the padding section of the content box and not margin. This is so the puesdo element doesn't take that into account for the overall distance to travel across the link and ends up looking werid.*/
    margin-left: 0px;
    margin-right: 0px;
    padding: 25px 25px;
  }
  body .mainnav__links .mainnav__links-link-container .mainnav__links-link__href:after {
    content: " ";
    background: rgba(255, 255, 255, 0.596);
    height: 99px;
    width: 37px;
    position: absolute;
    top: -27px;
    left: -56px;
    transform: rotate(35deg);
    z-index: 10;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  body .mainnav__links .mainnav__links-link-container .mainnav__links-link__href:hover {
    background-color: #ffbf00;
    text-shadow: 0px 0.9px 0px #000000; /* offset-x | offset-y | blur-radius | color */
  }
  body .mainnav__links .mainnav__links-link-container .mainnav__links-link__href:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  body .mainnav__links .mainnav__links-link-container .mainnav__links-link__text {
    vertical-align: middle;
    top: 3px;
    position: relative;
    pointer-events: none;
  }
  body .atf-1 {
    height: 1000px;
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    background-attachment: scroll;
  }
  body .atf-1 .cs-project {
    position: relative;
    width: 674px;
    height: 388px;
    top: -214px;
    left: -6px;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 1%;
    margin: 0px;
    opacity: 0;
    animation: atf-cs-project-reveal 0.5s linear 1.5s forwards;
  }
  body .atf-1 .cs-project .cs-project__title {
    font-size: 2.81rem;
  }
  body .atf-1 .cs-project .cs-project__services .cs-project__service {
    font-size: 1.56rem;
  }
  body .atf-1 .cs-client-details {
    position: relative;
    width: 674px;
    height: 388px;
    top: 209px;
    left: -680px;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 1%;
    margin: 0px;
    opacity: 0;
    animation: atf-cs-client-reveal 0.5s linear 2s forwards;
  }
  body .atf-1 .cs-client-details .cs-client-details__title {
    font-size: 2.81rem;
  }
  body .atf-1 .cs-client-details .cs-client-details__status {
    font-size: 2.18rem;
  }
  body .atf-1 .cs-client-details .status-flag {
    font-size: 2.18rem;
  }
  body .atf-1 .cs-client-details .cs-client-details__text {
    font-size: 1.56rem;
  }
  body .atf-1 .cs-client-details .tt-circle {
    position: absolute;
    top: 12px;
    left: 636px;
    width: 20px;
    height: 20px;
    background-color: rgba(138, 138, 138, 0.5960784314);
    border: 1px solid white;
    border-radius: 55%;
    box-shadow: 0.1px 0.7px #000;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    animation: info-tool-tip 1s ease-in 5.5s forwards;
  }
  body .atf-1 .cs-client-details .tt-circle .tt-circle__icon {
    margin: 0 auto;
    position: absolute;
    left: 7px;
    top: -8px;
    text-align: center;
    font: 1.437rem futura-pt, Helvetica, Arial, sans-serif;
    color: #fff;
    cursor: pointer;
  }
  body .atf-1 .cs-client-details .tt-circle:hover ::after {
    content: "Nishida’s Gymnastics recreational and competitive boys and girls gymnastics clubs. \a\aThe group of clubs provides recreational and competitive level gymnastics in both Men’s and Women’s Artistic Gymnastics training.";
    white-space: pre-wrap;
    position: absolute;
    transition: 1s all ease;
    padding: 20px 20px;
    top: 152px;
    left: -586px;
    width: 500px;
    height: 150px;
    background-color: rgba(255, 255, 242, 0.9294117647);
    border: 1px solid #ffffff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    color: #000000;
    font-size: 1rem;
    animation: tooltip-animate 0.3s ease forwards;
  }
  body .btf-2 .btf-2__project-container-box {
    position: relative;
    width: 674px;
    height: 810px;
    top: -502px;
    left: 350px;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 1%;
    margin: 0px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    animation: btf-project-container-box-reveal 0.5s linear 2s forwards;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-desc__title {
    font-size: 2.81rem;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-sum__title {
    font-size: 2.81rem;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-desc {
    top: -10px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    animation: btf-cs-project-desc-reveal 0.5s linear 2.5s forwards;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-desc .cs-project-desc__text {
    font-size: 1.31rem;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-desc .tt-circle {
    position: absolute;
    top: -15px;
    left: 492px;
    width: 20px;
    height: 20px;
    background-color: rgba(138, 138, 138, 0.5960784314);
    border: 1px solid white;
    border-radius: 55%;
    box-shadow: 0.1px 0.7px #000;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    animation: info-tool-tip 1s ease-in 5.5s forwards;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-desc .tt-circle .tt-circle__icon {
    margin: 0 auto;
    position: absolute;
    left: 7px;
    top: -8px;
    text-align: center;
    font: 1.437rem futura-pt, Helvetica, Arial, sans-serif;
    color: #fff;
    cursor: pointer;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-desc .tt-circle:hover ::after {
    content: "We achieved success in an increase of foot traffic to the various gym branches as well as the improvement to brand recognition and marketability from additional work done to improve the company’s branding across social media channels.\a\a Following that result we’ve continued the working relationship with the Nishida’s gymnastics group ever since and regularly check in for content and security updates";
    white-space: pre-wrap;
    position: absolute;
    transition: 1s all ease;
    padding: 20px 20px;
    top: 152px;
    left: -586px;
    width: 500px;
    height: 150px;
    background-color: rgba(255, 255, 242, 0.9294117647);
    border: 1px solid #ffffff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    color: #000000;
    font-size: 1rem;
    animation: tooltip-animate 0.3s ease forwards;
  }
  body .btf-2 .btf-2__project-container-box .project-info-divider {
    width: 90%;
    top: 5px;
    opacity: 0;
    animation: btf-cs-project-info-divider-reveal 0.5s linear 3s forwards;
  }
  body .btf-2 .btf-2__project-container-box .cs-project-sum {
    top: -15px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    animation: btf-cs-project-sum-reveal 0.5s linear 3.7s forwards;
  }
  body .nav-chevrons {
    position: absolute;
    z-index: 13;
    right: 110px;
    top: 750px;
  }
  body .nav-chevrons .chevron-down {
    position: relative;
    opacity: 0;
    animation: chevron-down-reveal 2s linear 3s forwards, chevron-down-animate 1s ease 4s infinite;
  }
  body .btl {
    height: 400px;
    position: relative;
    top: -81px;
    text-align: center;
  }
  body .btl .btl__title-container {
    position: relative;
  }
  body .btl .btl__title-container .btl__title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  body .btl .btl__title-container .btl__title .btl__title-1 {
    font-size: 6.56rem;
  }
  body .btl .btl__title-container .btl__title .btl__title-2 {
    font-size: 6.56rem;
  }
  body .btl .btl__title-container .btl__text {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    line-height: normal;
  }
  body .btl .btl__title-container .btl__text .btl__text-1 {
    position: relative;
    left: 0px;
    font-size: 3.12rem;
  }
  body .btl .btl__title-container .btl__text .btl__text-2 {
    position: relative;
    top: 0px;
    right: 0px;
    font-size: 3.12rem;
  }
  body .btl-content-block-1 {
    margin-top: -82px;
  }
  body .btl-content-block-1 .btl-content-block__time {
    font-size: 4.375rem;
    align-self: start;
    left: 120px;
    top: 5px;
    text-decoration: underline;
  }
  body .btl-content-block-1 .btl-content-block__time-text_2 {
    font-size: 4.375rem;
    position: absolute;
    left: 910px;
    top: 4px;
    text-decoration: underline;
  }
  body .btl-content-block-1 .btl-content-block__sub {
    font-size: 1.56rem;
  }
  body .btl-content-block-1 .btl-content-block__text {
    font-size: 1.56rem;
  }
  body .btl-content-block-2 {
    justify-content: start;
  }
  body .btl-content-block-2 .btl-content-block__time {
    font-size: 4.375rem;
    align-self: start;
    left: 120px;
    top: 5px;
    text-decoration: underline;
  }
  body .btl-content-block-2 .btl-content-block__time__sub {
    font-size: 4.375rem;
    position: absolute;
    left: 930px;
    top: 4px;
    text-decoration: underline;
  }
  body .btl-content-block-2 .btl-content-block__sub {
    font-size: 1.56rem;
  }
  body .btl-content-block-2 .btl-content-block__text {
    font-size: 1.56rem;
  }
  body .btl-content-block-2 .legend-alt {
    display: block !important;
  }
  body .btl-content-block-2 .legend-alt .legend-alt__circle {
    position: absolute;
    overflow: hidden;
    top: 13px;
    display: block;
    background-color: #fff;
    width: 96px;
    height: 96px;
    border-radius: 50px;
    border: 1px solid #ffd866;
    right: 1795px;
  }
  body .btl-content-block-2 .legend-alt .legend-alt__circle .legend-alt__circle-2 {
    position: absolute;
    overflow: hidden;
    top: 23px;
    left: 10%;
    right: 10%;
    display: block;
    margin: 0 auto;
    background-color: #ffd866;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    border: 1px solid #ffd866;
  }
  body .btl-content-block-2 .legend-alt .legend-alt__line {
    position: absolute;
    overflow: hidden;
    top: 107px;
    left: 73px;
    display: block;
    background-color: #ffffff;
    width: 8px;
    height: 100%;
  }
  body .mobile-cta-footer {
    height: 100vh;
  }
  body .mobile-cta-footer .mobile-cta-footer-branding .mobile-cta-footer-branding__text-1,
  body .mobile-cta-footer .mobile-cta-footer-branding .mobile-cta-footer-branding__text-2 {
    font-size: 4.375rem;
  }
  body .mobile-cta-footer .mobile-cta-footer-branding .mobile-cta-footer__logo {
    display: none;
  }
  body .mobile-cta-footer .mobile-cta-footer-branding .mobile-cta-footer__logo-l {
    display: block !important;
    height: 137px;
    position: relative;
    top: -117px;
    left: 485px;
    overflow: hidden;
  }
  body .mobile-cta-footer .mobile-cta-footer__button {
    position: relative;
    top: -110px;
  }
  body .mobile-cta-footer .mobile-cta-footer__button .hero-text {
    top: 13px;
    color: #644e0a;
  }
  body .mobile-cta-footer .mobile-cta-footer__button:hover {
    background: #ffcf15 no-repeat padding-box;
    text-shadow: 0px 2px 0.5px rgba(74, 69, 69, 0.6196078431);
  }
  body .mobile-cta-footer .mobile-cta-footer__button:hover .hero-text {
    color: #f8f2f2 !important;
  }
  body .mobile-cta-footer .mobile-cta-footer__sm-links {
    top: -100px;
  }
  body .mobile-cta-footer .mobile-cta-footer__sm-links li {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
  }
  body .mobile-cta-footer .mobile-cta-footer__sm-links li #smi-yt,
  body .mobile-cta-footer .mobile-cta-footer__sm-links li #smi-b,
  body .mobile-cta-footer .mobile-cta-footer__sm-links li #smi-fb,
  body .mobile-cta-footer .mobile-cta-footer__sm-links li #smi-ig,
  body .mobile-cta-footer .mobile-cta-footer__sm-links li #smi-lk {
    position: relative;
  }
  body .mobile-cta-footer .mobile-cta-footer__sm-links li #smi-yt:hover {
    transform: translateY(-2px);
    filter: drop-shadow(0px 4px #ffbf00);
  }
  body .mobile-cta-footer .mobile-cta-footer__sm-links li #smi-b:hover {
    transform: translateY(-2px);
    filter: drop-shadow(0px 4px #ffbf00);
  }
  body .mobile-cta-footer .mobile-cta-footer__sm-links li #smi-fb:hover {
    transform: translateY(-2px);
    filter: drop-shadow(0px 4px #ffbf00);
  }
  body .mobile-cta-footer .mobile-cta-footer__sm-links li #smi-ig:hover {
    transform: translateY(-2px);
    filter: drop-shadow(0px 4px #ffbf00);
  }
  body .mobile-cta-footer .mobile-cta-footer__sm-links li #smi-lk:hover {
    transform: translateY(-2px);
    filter: drop-shadow(0px 4px #ffbf00);
  }
  @keyframes bg-reveal {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
  @keyframes social-icons-animate {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
    0% {
      top: 0px;
    }
    50% {
      top: -4px;
    }
    100% {
      top: 0px;
    }
  }
  @keyframes chevron-down-animate {
    0% {
      top: 0px;
    }
    50% {
      top: 2.5px;
    }
    100% {
      top: 0px;
    }
  }
  @keyframes chevron-down-reveal {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
    0% {
      pointer-events: none;
    }
    100% {
      pointer-events: all;
    }
  }
  @keyframes atf-cs-project-reveal {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
    0% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(1px);
    }
  }
  @keyframes atf-cs-client-reveal {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
    0% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(1px);
    }
  }
  @keyframes btf-cs-project-desc-reveal {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
    0% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(1px);
    }
  }
  @keyframes btf-cs-project-info-divider-reveal {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
    0% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(1px);
    }
  }
  @keyframes btf-cs-project-sum-reveal {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
    0% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(1px);
    }
  }
  @keyframes btf-project-container-box-reveal {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
    0% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(1px);
    }
  }
  @keyframes info-tool-tip {
    0% {
      opacity: 0;
      pointer-events: none;
      transform: scale(0);
    }
    50% {
      opacity: 0.5;
      pointer-events: none;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      pointer-events: all;
      transform: scale(1);
    }
  }
  @keyframes info-tt-pulse {
    0% {
      opacity: 1;
      pointer-events: none;
      transform: scale(1);
    }
    50% {
      opacity: 0.5;
      pointer-events: none;
      transform: scale(1.5);
    }
    100% {
      opacity: 0;
      pointer-events: all;
      transform: scale(2);
    }
  }
  @keyframes tooltip-animate {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    50% {
      opacity: 0.5;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
/*!SECTION ABOVE MOBILE PHONES - TABLET  - LANDSCAPE -  >1920px */
@media (min-width: 1920px) {
  body .atf-1 {
    background-image: url("/img/img-desktop-l/desktop-l-beam-bg.png");
  }
}/*# sourceMappingURL=main.css.map */