@import"../../partials/case-study-templates/_case-studies-Desktop-S-template";

@media (min-width: 1280px) {
    body{
    

        //NOTE: Background image generated specfic to case study instance of the base template for design variant: Desktop-Small-1280px. Platforming off of the template pointer to the main refereence in case-studies sub folder in the paritals folder. 
        .atf-1 {
         //NOTE: only needs to add the single background image change below.    All other page styles imported from design template in partial folder:
            background-image: url("/img/img-desktop-l/desktop-ps-ng-bg.png");
            @include bg-image-base-dim;

            .cs-project{

                .cs-project__title {
                    //NOTE: Design variant:
                    font-size: 1.56rem;
                    margin: 10px;  
                }//end .cs-project__title
    
                .cs-project__services {
                   //NOTE: Design variant:
                    padding: 2%;
                    position: relative;
                    top: -20px;
                
                    .cs-project__service {
                        //NOTE: design variant:
                        font-size: 1.1rem;
                        padding: 2px 0px;
                    } //end .cs-project__service
                }
            }//end cs-project
    
            //NOTE: Project Details = Client details
                .cs-client-details {
                    
    
                    .cs-client-details__title {
                        //NOTE: Design variant: Change for 1440 variant
                        // font-size: $text2X-81; //45px;
                    }
    
                    .cs-client-details__status {
                        //NOTE: Design variant: Change for 1440 variant
                        // font-size: $text2x-18; //35px;
                    }
                    .status-flag {
                        //NOTE: Design variant: Change for 1440 variant
                        // font-size: $text2x-18; //35px;
                    }
                    .cs-client-details__text {
                        //NOTE: Design variant: Change for 1440 variant
                        // font-size: $text1x-12; //18px;
                    }
    
                    .tt-circle:hover ::after {
                        //NOTE: design variant: tool-tip info for Nishidas Details copy.
                        content: "Nishida’s Gymnastics recreational and competitive boys and girls gymnastics clubs. \a\a The group of clubs provides recreational and competitive level gymnastics in both Men’s and Women’s Artistic Gymnastics training.";
                        
                    } //end tt-circle:hover
            
              
            }//end- Project Details = client details 
    
         }//end atf-1
    
            .btf-2{
                .btf-2__project-container-box{
                    //NOTE: Design variant:
                    // height: 628.5px;
                    // top: -319px;


                    .cs-project-desc__title {
                      
                    } //end .cs-project-desc__title
    
                    .cs-project-sum__title {
                       
                    } // end cs-project-sum title
    
                    .cs-project-desc {
                        //NOTE: design variant:
    
                        .cs-project-desc__text {
                         
                        } //end cs-project__text
                      
    
                        //NOTE: UI/UX: ANIMATION & TRANSITIONS: Case Studies project description section
                        opacity: 0;
                        animation: btf-cs-project-desc-reveal 0.5s linear 2.5s forwards;
    
                        //===================================================
    
                        //NOTE: ADDITIONAL INFORMATION TOOL TIP SECTION
                        .tt-circle {
                            position: absolute;
                            top: 170px;
                            left: 187px;
                            width: 20px;
                            height: 20px;
                            background-color: #8a8a8a98;
                            border: 1px solid #ffff;
                            border-radius: 55%;
                            box-shadow: 0.1px 0.7px #000;
                            .tt-circle__icon {
                                margin: 0 auto;
                                position: absolute;
                                left: 7px;
                                top: -8px;
                                text-align: center;
                                font: $text1x-43 $font-list-b;
                                color: #fff;
                                cursor: pointer;
                            } //end tt-circle__icon
                
                            opacity: 0; //initializing the opacity of the tooltip.
                            pointer-events: none;
                            cursor: pointer;
                            animation: info-tool-tip 1s ease-in 5.5s forwards;
                        } //end tt-circle
    
    
                        .tt-circle:hover ::after {
                            content: "We achieved success in an increase of foot traffic to the various gym branches as well as the improvement to brand recognition and marketability from additional work done to improve the company’s branding across social media channels.\a \a Following that result we’ve continued the working relationship with the Nishida’s gymnastics group ever since and regularly check in for content and security updates";
                            white-space: pre-wrap; // to allow for inserting line breaks into the content propety
                            position: absolute;
                            transition: 1s all ease;
                            padding: 20px 20px;
                            top: -153px;
                            left: -220px;
                            width: 404px;
                            height: 165px;
                            background-color: #fffff2ed;
                            border: 1px solid #ffffff;
                            border-radius: 3px;
                            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
                            color: #000000;
                            font-size: $textBase;
                
                            // //NOTE: Tooltip animation:
                            animation: tooltip-animate 0.3s ease forwards;
                        } //end tt-circle:hover
    
    
                    } //end cs-project-desc

                
                    .cs-project-sum {
                        //NOTE: Design variant:
                      
    
                        .cs-project-sum__text-1
                        .cs-project-sum__text__body {
                            //NOTE: Design variant:
                            font-size: 1.1rem;
                        }//end .cs-project-sum__text__body

                        //NOTE: UI/UX: ANIMATION & TRANSITIONS: Case Studies project summary section
					opacity: 0;
					animation: btf-cs-project-sum-reveal 0.5s linear 3.7s forwards;
                    }//end cs-project-sum
                }//end btf-2__project-container-box
            }//end btf-2



    }//end body
}//end media-query 1280px 