@import "../../partials/base";
@import "../../partials/variables";
@import "../../partials/mixins";
@import "../../partials/navs/nav-base-mobile";
//SECTION: UNIVERSAL VARIABLES, LISTS & MIXINS
@mixin csContentBox {
	position: relative;
	width: 287px;
	height: 274px;
	top: 29px;
	left: 0px;
	background-color: rgba(255, 255, 255, 0.11);
	border-radius: 4%;
	margin: 0 36px;
}
//!SECTION UNIVERSAL VARIABLES, LISTS & MIXINS - END

/*SECTION: [RESPONSIVE DESIGN] */
/*NOTE : Query breakpoints*/

//SECTION MOBILE - PORTRAIT - BODY

// .main-container {
// 	justify-content: center;
// 	position: relative;
// 	@media (max-width: 359px) {
// 		top: 102px;
// 	}
// }

body {
	.atf-1,
	.btf-2,
	.btl,
	.btl-content-block-1,
	.btl-content-block-2,
	.mobile-cta-footer {
		position: relative;
		width: 100%;
		@include flexMix;
		align-content: center;
		justify-content: center;
	}

	.atf-1 {
		// height: 800px;
		background-image: url("/img/img-mobile-p/nishida-sensei-hi5-overlayedit.jpg");
		background-repeat: no-repeat;
		background-position: -150px center; // first value left and right, second - top and bottom.
		background-attachment: scroll;

		.cs-project,
		.cs-project__title,
		.cs-project__services,
		.cs-project__service,
		.cs-client-details,
		.cs-client-details__title,
		.cs-client-details__status,
		.cs-client-details__text,
		.status-flag {
			list-style: none;
			color: #fff;
			text-align: center;
		}

		//All content block title styles - Above the Fold and Below

		.cs-project {
			@include csContentBox;

			.cs-project__title {
				font-family: $font-list-h;
				font-weight: nth($f-weights, 1);
				font-style: normal;
				font-size: $text2x-5; //40px;
				line-height: 95%;
			}

			.cs-project__services {
				padding: 0%;
				.cs-project__service {
					font-family: $font-list-b;
					font-weight: nth($f-weights, 3);
					font-style: normal;
					font-size: $textSmall-93; //15px;
				}
			}
			margin: 30px 30px;
		}

		.cs-client-details {
			@include csContentBox;
			top:0px; //NOTE: Design variant: adjusting for change to client box top property to lower the container below the logo. 
			.cs-client-details__title {
				font-family: $font-list-h;
				font-weight: nth($f-weights, 1);
				font-style: normal;
				font-size: $text2x-5; //40px;
				line-height: 95%;
			}

			.cs-client-details__status {
				font-family: $font-list-h;
				font-weight: nth($f-weights, 3);
			}
			.status-flag {
				font-family: $font-list-h;
				font-weight: nth($f-weights, 1);
				font-size: $text1X-25; //20px;
			}
			.cs-client-details__text {
				font-family: $font-list-b;
				font-weight: nth($f-weights, 3);
				font-style: normal;
				font-size: $textSmall-93; //15px;
			}
		}
	} // END of ATF--

	//BTF --------

	.btf-2 {
		height: 800px;

		background-image: url("/img/img-mobile-p/shortwood-bg-overlayedit.jpg");
		background-repeat: no-repeat;

		// background-position: left -1px top 801px;
		background-attachment: scroll;
		color: #fff;
		text-align: center;

		.cs-project-desc__title,
		.cs-project-sum__title {
			font-family: $font-list-h;
			font-weight: nth($f-weights, 1);
			font-style: normal;
			font-size: $text2x-5; //40px;
			line-height: 95%;
		}

		.cs-project-desc {
			@include csContentBox;
			top: -9px;

			.cs-project-desc__text {
				font-family: $font-list-b;
				font-weight: nth($f-weights, 3);
				font-style: normal;
				font-size: $textSmall-93; //15px;
			}
		}

		.cs-project-sum {
			@include csContentBox;
			height: 420px;
			top: -1px;

			.cs-project-sum__text-1 {
				.cs-project-sum__text__head {
					font-family: $font-list-b;
					font-weight: nth($f-weights, 3);
					font-style: normal;
					font-size: $textSmall-93; //15px;
				}
				.cs-project-sum__text__body {
					font-family: $font-list-b;
					font-weight: nth($f-weights, 3);
					font-style: normal;
					font-size: $textSmall-93; //15px;
				}
			}
		} // END of Project-sum
	} // END of BTF--

	//BETWEEN THE LINES

	.btl {
		height: 215px;
		background-color: #ffd866;
		color: #363226;
		text-align: center;

		.btl__title {
			line-height: 150%;
			margin-bottom: 2px;
			.btl__title-1 {
				font-family: $font-list-h;
				font-weight: nth($f-weights, 1);
				font-style: normal;
				font-size: $text3x-43; //55px;
			}

			.btl__title-2 {
				font-family: $font-list-h;
				font-weight: nth($f-weights, 1);
				font-style: normal;
				font-size: $text2X-81; //55px;
			}
		}
		.btl__text {
			line-height: 150%;
			.btl__text-1 {
				font-family: $font-list-h;
				font-weight: nth($f-weights, 1);
				font-style: normal;
				font-size: $text1x-06; //17px;
			}

			.btl__text-2 {
				font-family: $font-list-h;
				font-weight: nth($f-weights, 1);
				font-style: normal;
				font-size: $textSmall-87; //14px;
			}
		}
	}

	.btl-content-block-1 {
		background-color: #fcf8ec;
		color: black;
		flex-direction: column;
		text-align: center;
		// height: 1200px;
		padding: 0 30px;

		.btl-content-block__time {
			font-family: $font-list-h;
			font-weight: nth($f-weights, 2);
			font-style: normal;
			font-size: $text1X-25; //20px;
			position: relative;
		}
		.btl-content-block__time-text_2 {
			font-family: $font-list-h;
			font-weight: nth($f-weights, 2);
			font-style: normal;
			font-size: $text1x-12; //16px;
			position: relative;
			top: -50px;
		}
		.btl-content-block__sub {
			font-family: $font-list-b;
			font-weight: nth($f-weights, 1);
			font-style: normal;
			font-size: $textSmall-93; //15px;
		}
		.btl-content-block__text {
			font-family: $font-list-b;
			font-weight: nth($f-weights, 3);
			font-style: normal;
			font-size: $textSmall-93; //15px;
		}
	}

	.btl-content-block-2 {
		background-color: #ffd866;
		color: black;
		// height: 800px;
		flex-direction: column;
		text-align: center;
		padding: 0 30px;

		.btl-content-block__time {
			font-family: $font-list-h;
			font-weight: nth($f-weights, 2);
			font-style: normal;
			font-size: $text1X-25; //20px;
			position: relative;
		}
		.btl-content-block__time__sub {
			font-family: $font-list-h;
			font-weight: nth($f-weights, 2);
			font-style: normal;
			font-size: $text1x-12; //16px;
			position: relative;
			top: -50px;
			left: 0px;
		}
		.btl-content-block__sub {
			font-family: $font-list-b;
			font-weight: nth($f-weights, 1);
			font-style: normal;
			font-size: $textSmall-93; //15px;
		}
		.btl-content-block__text {
			font-family: $font-list-b;
			font-weight: nth($f-weights, 3);
			font-style: normal;
			font-size: $textSmall-93; //15px;
		}
	}

	.mobile-cta-footer {
		height: 800px;

		background-color: #fff;
		color: black;

		.mobile-cta-footer-branding {
			.mobile-cta-footer-branding__text-1,
			.mobile-cta-footer-branding__text-2 {
				font-family: $font-list-h;
				font-weight: nth($f-weights, 3);
				font-style: normal;
				font-size: $text1x-56; //25px;
				margin: 0px 12px;
			}

			.mobile-cta-footer__logo {
				width: 83px;
				height: 30px;
				position: relative;
				top: -32px;
				left: 185px;
			}
		}

		.mobile-cta-footer__button {
			width: 258px;
			height: 50px;
			background: #f5b600 0% 0% no-repeat padding-box;
			box-shadow: 0px 2px 0px #000000;
			border-radius: 5px;

			font-family: $font-list-h;
			font-weight: nth($f-weights, 1);
			font-style: normal;
			font-size: $text1X-25; //20px;
			position: relative;

			text-decoration: none;
			text-align: center;
			.hero-text {
				position: relative;
				top: 9px;
				margin: auto 10%;
				color: #000000;
			} //end hero-text
		}

		.mobile-cta-footer__sm-links {
			@include flexMix;
			list-style: none;
			align-content: center;
			position: relative;
			padding: 0px; //reseting the padding to default of zero.
		}
	}
}

//SECTION: CASE STUDIES PAGE: mobile -> Desktop
//NOTE: IMPORTANT! The order of the parital stylesheets matters. since the design variants go from mobile up through to desktop, each of the following sheets are built with design variants that mainly only modify the underlying style sheets. Hence removal or rearrangement of the stylesheets in the former part of the overal list will cause errors in latter - subsequent stylesheets.
@import "../nishidas-gymnastics/_nishida-case-studiesTabletP";
@import "../nishidas-gymnastics/nishida-case-studiesTabletL";
@import "../nishidas-gymnastics/nishida-case-studiesDesktop-S";
@import "../nishidas-gymnastics/_nishida-case-studiesDesktop-CM";
@import "../nishidas-gymnastics/_nishida-case-studiesDesktopL-Large";
//!SECTION: END CASE STUDIES PAGE: mobile -> Desktop
