@import "../../../partials/base";
@import "../../../partials/variables";
@import "../../../partials/mixins";
@import "../../../partials/navs/nav-base-mobile";

body {		
	background-color: black;
	background-image: url("/img/img-mobile-p/book-stack-p-a-bg.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;

	//NOTE: created unified template for the artcle body section. Using a single template to implement changes for all the individual articles. 
	@import"../../../partials/blog-article-templates/blog-articles-Blog-body-content-template";

}//end body
@import "./_articlesTabletP";
@import "./_articlesTabletL";
@import "./_articlesDesktop-S";
@import "./_articlesDesktop-CM";
@import "./_articlesDesktopL-Large";